Repository MrMarble/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/kubernetes, area/terraform

.github/labeler.yaml:

---
area/github:
  - ".github/**/*"
area/kubernetes:
  - "kubernetes/**/*"
area/terraform:
  - "provision/terraform/**/*"

fix(container): update image ghcr.io/justarchinet/archisteamfarm to 5.4.11.1
  kubernetes/home-cluster/apps/default/archi/app/helm-release.yaml
Labels: area/kubernetes

fix(helm): update chart ingress-nginx to 4.8.1
  kubernetes/home-cluster/apps/networking/ingress-nginx/external/helmrelease.yaml
  kubernetes/home-cluster/apps/networking/ingress-nginx/internal/helmrelease.yaml
Labels: area/kubernetes

feat(container): update immich group to v1.81.0
  kubernetes/home-cluster/apps/default/immich/app/machine-learning/helmrelease.yaml
  kubernetes/home-cluster/apps/default/immich/app/microservices/helmrelease.yaml
  kubernetes/home-cluster/apps/default/immich/app/server/helmrelease.yaml
  kubernetes/home-cluster/apps/default/immich/app/web/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart grafana to 6.60.2
  kubernetes/home-cluster/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes

feat(terraform): update terraform cloudflare to 4.16.0
  provision/terraform/cloudflare/.terraform.lock.hcl
  provision/terraform/cloudflare/main.tf
Labels: area/terraform

fix(container): update image ghcr.io/cloudnative-pg/postgresql to 14.9-13
  kubernetes/home-cluster/apps/database/postgres/cluster/cluster.yaml
Labels: area/kubernetes

fix(helm): update chart redis to 18.1.2
  kubernetes/home-cluster/apps/database/redis/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart reloader to 1.0.42
  kubernetes/home-cluster/apps/kube-system/reloader/app/helmrelease.yaml
Labels: area/kubernetes

chore(k8tz): ignore namespaces
  kubernetes/home-cluster/apps/kube-system/k8tz/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update immich group to v1.81.1
  kubernetes/home-cluster/apps/default/immich/app/machine-learning/helmrelease.yaml
  kubernetes/home-cluster/apps/default/immich/app/microservices/helmrelease.yaml
  kubernetes/home-cluster/apps/default/immich/app/server/helmrelease.yaml
  kubernetes/home-cluster/apps/default/immich/app/web/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/onedr0p/home-assistant to 2023.10.0
  kubernetes/home-cluster/apps/default/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes

fix(recyclarr): rename instance
  kubernetes/home-cluster/apps/default/recyclarr/app/recyclarr.yml
Labels: area/kubernetes

fix(recyclarr): rename instance
  kubernetes/home-cluster/apps/default/recyclarr/app/recyclarr.yml
Labels: area/kubernetes

fix(container): update image ghcr.io/benphelps/homepage to v0.7.1
  kubernetes/home-cluster/apps/default/homepage/app/helmrelease.yaml
Labels: area/kubernetes

feat: migrate gethomepage
  kubernetes/home-cluster/apps/default/homepage/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image linuxserver/nextcloud to 27.1.2
  kubernetes/home-cluster/apps/default/nextcloud/app/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update chart kube-prometheus-stack to 51.3.0
  kubernetes/home-cluster/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update chart gitea to 9.5.0
  kubernetes/home-cluster/apps/dev/gitea/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/gethomepage/homepage to v0.7.3
  kubernetes/home-cluster/apps/default/homepage/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/wizarrrr/wizarr to 3.4.1
  kubernetes/home-cluster/apps/default/wizarr/app/helm-release.yaml
Labels: area/kubernetes

chore(deps): update image ghcr.io/bjw-s/mdbook to
  .github/workflows/deploy-docs.yaml
Labels: area/github

chore(deps): update image ghcr.io/bjw-s/mdbook to
  .github/workflows/deploy-docs.yaml
Labels: area/github

chore(deps): update image ghcr.io/bjw-s/mdbook to
  .github/workflows/deploy-docs.yaml
Labels: area/github

chore(deps): update image ghcr.io/bjw-s/mdbook to
  .github/workflows/deploy-docs.yaml
Labels: area/github

fix(container): update image ghcr.io/onedr0p/home-assistant to 2023.10.1
  kubernetes/home-cluster/apps/default/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes

chore(deps): update image ghcr.io/bjw-s/mdbook to
  .github/workflows/deploy-docs.yaml
Labels: area/github

chore(deps): update image ghcr.io/onedr0p/qbittorrent to
  kubernetes/home-cluster/apps/default/qbittorrent/app/helmrelease.yaml
Labels: area/kubernetes

chore(deps): update image ghcr.io/onedr0p/sonarr-develop to
  kubernetes/home-cluster/apps/default/sonarr/app/helm-release.yaml
Labels: area/kubernetes

chore(deps): update image ghcr.io/bjw-s/mdbook to
  .github/workflows/deploy-docs.yaml
Labels: area/github

chore(deps): update image ghcr.io/onedr0p/home-assistant to
  kubernetes/home-cluster/apps/default/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes

chore(deps): update image ghcr.io/onedr0p/sonarr-develop to
  kubernetes/home-cluster/apps/default/sonarr/app/helm-release.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to 1.9.3.4012
  kubernetes/home-cluster/apps/default/prowlarr/app/helm-release.yaml
Labels: area/kubernetes

chore(deps): update image ghcr.io/onedr0p/home-assistant to
  kubernetes/home-cluster/apps/default/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes

chore(deps): update image ghcr.io/onedr0p/qbittorrent to
  kubernetes/home-cluster/apps/default/qbittorrent/app/helmrelease.yaml
Labels: area/kubernetes

chore(deps): update image ghcr.io/onedr0p/prowlarr-nightly to
  kubernetes/home-cluster/apps/default/prowlarr/app/helm-release.yaml
Labels: area/kubernetes

chore(deps): update image ghcr.io/onedr0p/sonarr-develop to
  kubernetes/home-cluster/apps/default/sonarr/app/helm-release.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to 1.9.3.4013
  kubernetes/home-cluster/apps/default/prowlarr/app/helm-release.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/radarr-develop to 5.0.3.8127
  kubernetes/home-cluster/apps/default/radarr/app/helm-release.yaml
Labels: area/kubernetes

fix(helm): update chart weave-gitops to 4.0.32
  kubernetes/home-cluster/apps/flux-system/weave-gitops/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/justarchinet/archisteamfarm to 5.4.11.2
  kubernetes/home-cluster/apps/default/archi/app/helm-release.yaml
Labels: area/kubernetes
