Repository MrMarble/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/kubernetes, area/terraform

.github/labeler.yaml:

---
area/github:
  - ".github/**/*"
area/kubernetes:
  - "kubernetes/**/*"
area/terraform:
  - "provision/terraform/**/*"

fix(container): update image ghcr.io/onedr0p/radarr-develop to 4.7.2.7686
  kubernetes/home-cluster/apps/default/radarr/app/helm-release.yaml
Labels: area/kubernetes

fix(github-action): update renovatebot/github-action action to v39.0.1
  .github/workflows/schedule-renovate.yaml
Labels: area/github

feat: deploy jellyfin
  kubernetes/home-cluster/apps/default/jellyfin/app/helm-release.yaml
Labels: area/kubernetes

chore: test congatudo image
  kubernetes/home-cluster/apps/default/congatudo/app/helmrelease.yaml
  kubernetes/home-cluster/apps/default/kustomization.yaml
Labels: area/kubernetes

chore: test congatudo image
  kubernetes/home-cluster/apps/default/congatudo/app/helmrelease.yaml
Labels: area/kubernetes

chore: test congatudo image
  kubernetes/home-cluster/apps/default/congatudo/app/helmrelease.yaml
Labels: area/kubernetes

chore: test congatudo image
  kubernetes/home-cluster/apps/default/congatudo/app/helmrelease.yaml
Labels: area/kubernetes

chore: test congatudo image
  kubernetes/home-cluster/apps/default/congatudo/app/helmrelease.yaml
Labels: area/kubernetes

chore: test congatudo image
  kubernetes/home-cluster/apps/default/congatudo/app/helmrelease.yaml
Labels: area/kubernetes

chore: test congatudo image
  kubernetes/home-cluster/apps/default/congatudo/app/helmrelease.yaml
Labels: area/kubernetes

chore: test congatudo image
  kubernetes/home-cluster/apps/default/congatudo/app/helmrelease.yaml
Labels: area/kubernetes

chore: test congatudo image
  kubernetes/home-cluster/apps/default/congatudo/app/helmrelease.yaml
Labels: area/kubernetes

chore: test congatudo image
  kubernetes/home-cluster/apps/default/congatudo/app/helmrelease.yaml
Labels: area/kubernetes

chore: test congatudo image
  kubernetes/home-cluster/apps/default/congatudo/app/helmrelease.yaml
Labels: area/kubernetes

chore: test congatudo image
  kubernetes/home-cluster/apps/default/congatudo/app/helmrelease.yaml
Labels: area/kubernetes

feat: deploy kyverno
  kubernetes/home-cluster/apps/kyverno/kustomization.yaml
  kubernetes/home-cluster/apps/kyverno/kyverno/app/helmrelease.yaml
  kubernetes/home-cluster/apps/kyverno/kyverno/app/kustomization.yaml
  kubernetes/home-cluster/apps/kyverno/kyverno/ks.yaml
  kubernetes/home-cluster/apps/kyverno/kyverno/policies/inject-tz.yaml
  kubernetes/home-cluster/apps/kyverno/kyverno/policies/remove-cpu-limit.yaml
  kubernetes/home-cluster/apps/kyverno/namespace.yaml
Labels: area/kubernetes

feat: deploy kyverno
  kubernetes/home-cluster/apps/kyverno/kyverno/ks.yaml
Labels: area/kubernetes

feat: deploy kyverno
  kubernetes/home-cluster/flux/repositories/helm/kustomization.yaml
  kubernetes/home-cluster/flux/repositories/helm/kyverno.yaml
Labels: area/kubernetes

feat: annotate ingress
  kubernetes/home-cluster/apps/default/archi/app/helm-release.yaml
  kubernetes/home-cluster/apps/default/nextcloud/app/nextcloud.yaml
  kubernetes/home-cluster/apps/rook-ceph/rook-ceph-cluster/app/helmrelease.yaml
Labels: area/kubernetes

chore: configure homepage
  kubernetes/home-cluster/apps/default/homepage/app/configmap.yaml
  kubernetes/home-cluster/apps/default/jellyfin/app/helm-release.yaml
  kubernetes/home-cluster/apps/default/jellyseerr/app/helm-release.yaml
  kubernetes/home-cluster/apps/default/prowlarr/app/helm-release.yaml
  kubernetes/home-cluster/apps/default/qbittorrent/app/helmrelease.yaml
  kubernetes/home-cluster/apps/default/radarr/app/helm-release.yaml
  kubernetes/home-cluster/apps/default/sonarr/app/helm-release.yaml
  kubernetes/home-cluster/flux/vars/cluster-secrets.sops.yaml
Labels: area/kubernetes

fix(container): update image docker.io/cloudflare/cloudflared to 2023.7.2
  kubernetes/home-cluster/apps/networking/cloudflared/app/helmrelease.yaml
Labels: area/kubernetes

docs: remove grafana
  README.md
Labels: none

docs: adjust styles
  README.md
Labels: none

docs: add talos badge
  README.md
Labels: none

feat: deploy wizarr
  kubernetes/home-cluster/apps/default/kustomization.yaml
  kubernetes/home-cluster/apps/default/wizarr/app/helm-release.yaml
  kubernetes/home-cluster/apps/default/wizarr/app/kustomization.yaml
  kubernetes/home-cluster/apps/default/wizarr/app/pvc.yaml
  kubernetes/home-cluster/apps/default/wizarr/ks.yaml
Labels: area/kubernetes

docs: update hardware
  docs/src/kubernetes/index.md
  docs/src/overview/hardware.md
  docs/src/overview/network.md
Labels: none

chore: remove scripts
  scripts/new_app.sh
  scripts/new_namespace.sh
  scripts/new_repository.sh
Labels: none

fix(container): update image ghcr.io/justarchinet/archisteamfarm to 5.4.8.2
  kubernetes/home-cluster/apps/default/archi/app/helm-release.yaml
Labels: area/kubernetes

feat(github-action): update oxsecurity/megalinter action to v7.2.0
  .github/workflows/lint.yaml
Labels: area/github

feat(terraform): update terraform cloudflare to 4.11.0
  provision/terraform/cloudflare/main.tf
Labels: area/terraform

feat(container): update image ghcr.io/onedr0p/prowlarr-nightly to 1.8.0.3779
  kubernetes/home-cluster/apps/default/prowlarr/app/helm-release.yaml
Labels: area/kubernetes

fix(helm): update chart reloader to 1.0.33
  kubernetes/home-cluster/apps/kube-system/reloader/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart cert-manager to v1.12.3
  kubernetes/home-cluster/apps/cert-manager/cert-manager/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image docker.io/cloudflare/cloudflared to 2023.7.3
  kubernetes/home-cluster/apps/networking/cloudflared/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/sonarr-develop to 4.0.0.578
  kubernetes/home-cluster/apps/default/sonarr/app/helm-release.yaml
Labels: area/kubernetes

fix(github-action): update oxsecurity/megalinter action to v7.2.1
  .github/workflows/lint.yaml
Labels: area/github

feat(terraform): update terraform cloudflare to 4.11.0
  provision/terraform/cloudflare/.terraform.lock.hcl
Labels: area/terraform

ci(renovate): remove helmv3
  .github/renovate.json
Labels: area/github

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to 1.8.0.3782
  kubernetes/home-cluster/apps/default/prowlarr/app/helm-release.yaml
Labels: area/kubernetes

feat(helm): update chart cilium to 1.14.0
  kubernetes/home-cluster/apps/kube-system/cilium/app/helmrelease.yaml
  provision/talos/integrations/cilium/kustomization.yaml
Labels: area/kubernetes
