Repository MrMarble/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/docs, area/github, area/kubernetes, area/renovate, area/taskfile

Update helmrelease.yaml
  kubernetes/apps/media/profilarr/app/helmrelease.yaml
Labels: area/kubernetes

Update helmrelease.yaml
  kubernetes/apps/media/profilarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(kromgo): prometheus url
  kubernetes/apps/monitor/kromgo/app/helmrelease.yaml
Labels: area/kubernetes

fix(prometheus): full pvc
  kubernetes/apps/monitor/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

feat(profilarr): deploy parser
  kubernetes/apps/media/profilarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(profilarr): add service controller
  kubernetes/apps/media/profilarr/app/helmrelease.yaml
Labels: area/kubernetes

Update helmrelease.yaml
  kubernetes/apps/media/profilarr/app/helmrelease.yaml
Labels: area/kubernetes

Update helmrelease.yaml
  kubernetes/apps/media/profilarr/app/helmrelease.yaml
Labels: area/kubernetes

Update helmrelease.yaml
  kubernetes/apps/media/profilarr/app/helmrelease.yaml
Labels: area/kubernetes

fix: use RWM
  kubernetes/apps/media/profilarr/app/pvc.yaml
Labels: area/kubernetes

feat(default): add dilna deployment
  kubernetes/apps/default/dilna/app/externalsecret.yaml
  kubernetes/apps/default/dilna/app/helmrelease.yaml
  kubernetes/apps/default/dilna/app/kustomization.yaml
  kubernetes/apps/default/dilna/app/pullsecret.yaml
  kubernetes/apps/default/dilna/ks.yaml
  kubernetes/apps/default/kustomization.yaml
Labels: area/kubernetes

feat(default): use /api/health for dilna probes
  kubernetes/apps/default/dilna/app/helmrelease.yaml
Labels: area/kubernetes

feat(default): add dilna deployment (#1447)
  kubernetes/apps/default/dilna/app/externalsecret.yaml
  kubernetes/apps/default/dilna/app/helmrelease.yaml
  kubernetes/apps/default/dilna/app/kustomization.yaml
  kubernetes/apps/default/dilna/app/pullsecret.yaml
  kubernetes/apps/default/dilna/ks.yaml
  kubernetes/apps/default/kustomization.yaml
Labels: area/kubernetes

feat: use `latest` to keep image updated
  kubernetes/apps/default/dilna/app/helmrelease.yaml
Labels: area/kubernetes

fix(default): run dilna as non-root, unblock its bubblewrap sandbox
  kubernetes/apps/default/dilna/app/helmrelease.yaml
  provision/ansible/roles/k3s/files/seccomp/bwrap.json
  provision/ansible/roles/k3s/tasks/main.yaml
Labels: area/ansible, area/kubernetes

Dilna/y n9 qj4b kscc p96xr fboz (#1449)
  kubernetes/apps/default/dilna/app/helmrelease.yaml
  provision/ansible/roles/k3s/files/seccomp/bwrap.json
  provision/ansible/roles/k3s/tasks/main.yaml
Labels: area/ansible, area/kubernetes

chore: add flate dep
  mise.toml
Labels: none

fix(default): tag the seccomp profile task so it can run standalone
  provision/ansible/roles/k3s/tasks/main.yaml
Labels: area/ansible

fix(default): wire Claude token into dilna's container env
  kubernetes/apps/default/dilna/app/helmrelease.yaml
Labels: area/kubernetes

fix(default): actually template the Claude token into dilna-secret
  kubernetes/apps/default/dilna/app/externalsecret.yaml
Labels: area/kubernetes

Dilna/y n9 qj4b kscc p96xr fboz (#1450)
  kubernetes/apps/default/dilna/app/externalsecret.yaml
  kubernetes/apps/default/dilna/app/helmrelease.yaml
  provision/ansible/roles/k3s/tasks/main.yaml
Labels: area/ansible, area/kubernetes

feat(dilna): add GH_TOKEN env var from 1Password secret
  kubernetes/apps/default/dilna/app/externalsecret.yaml
Labels: area/kubernetes

feat(dilna): add GH_TOKEN env var from 1Password secret (#1455)
  kubernetes/apps/default/dilna/app/externalsecret.yaml
Labels: area/kubernetes

fix(profilarr): scope /config mount to profilarr controller only
  kubernetes/apps/media/profilarr/app/helmrelease.yaml
  kubernetes/apps/media/profilarr/app/pvc.yaml
Labels: area/kubernetes

feat(dilna): increase memory limit to 1Gi
  kubernetes/apps/default/dilna/app/helmrelease.yaml
Labels: area/kubernetes

feat(dilna): increase memory limit to 1Gi (#1479)
  kubernetes/apps/default/dilna/app/helmrelease.yaml
Labels: area/kubernetes

feat: update dilna secrets
  kubernetes/apps/default/dilna/app/externalsecret.yaml
  kubernetes/apps/default/dilna/app/helmrelease.yaml
Labels: area/kubernetes

feat: increase pvc sice
  kubernetes/apps/default/dilna/app/helmrelease.yaml
Labels: area/kubernetes

Update Renovate presets and lock file maintenance
  .renovaterc.json5
Labels: area/renovate

Fix formatting in .renovaterc.json5
  .renovaterc.json5
Labels: area/renovate

fix: increase dilna memory limit
  kubernetes/apps/default/dilna/app/helmrelease.yaml
Labels: area/kubernetes

fix: install flate via GitHub backend in mise (#1498)
  mise.toml
Labels: none

.github/labeler.yaml:

---
area/ansible:
  - changed-files:
      - any-glob-to-any-file: "provision/ansible/**/*"
area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "README.md"
          - "docs/**/*"
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
area/renovate:
  - changed-files:
      - any-glob-to-any-file:
          - ".renovate/**/*"
          - ".renovaterc.json5"
area/taskfile:
  - changed-files:
      - any-glob-to-any-file:
          - ".taskfiles/**/*"
          - "Taskfile.yaml"
