Repository MrMarble/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/kubernetes, area/terraform

.github/labeler.yaml:

---
area/github:
  - ".github/**/*"
area/kubernetes:
  - "kubernetes/**/*"
area/terraform:
  - "provision/terraform/**/*"

fix: immich
  kubernetes/home-cluster/apps/default/immich/app/server/helmrelease.yaml
Labels: area/kubernetes

chore(deps): update image quay.io/prometheus/alertmanager to
  kubernetes/home-cluster/apps/monitoring/alertmanager/app/helmrelease.yaml
Labels: area/kubernetes

chore(deps): update image quay.io/prometheus/alertmanager to
  kubernetes/home-cluster/apps/monitoring/alertmanager/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/gethomepage/homepage to v0.8.1
  kubernetes/home-cluster/apps/default/homepage/app/helmrelease.yaml
Labels: area/kubernetes

chore(deps): update image ghcr.io/gethomepage/homepage to
  kubernetes/home-cluster/apps/default/homepage/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/gethomepage/homepage to v0.8.2
  kubernetes/home-cluster/apps/default/homepage/app/helmrelease.yaml
Labels: area/kubernetes

chore(deps): update image ghcr.io/gethomepage/homepage to
  kubernetes/home-cluster/apps/default/homepage/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/sonarr-develop to 4.0.0.733
  kubernetes/home-cluster/apps/default/sonarr/app/helm-release.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/radarr-develop to 5.2.3.8303
  kubernetes/home-cluster/apps/default/radarr/app/helm-release.yaml
Labels: area/kubernetes

chore: remove maxmind geoip
  kubernetes/home-cluster/apps/networking/ingress-nginx/external/helmrelease.yaml
  kubernetes/home-cluster/apps/networking/ingress-nginx/external/kustomization.yaml
  kubernetes/home-cluster/apps/networking/ingress-nginx/external/secret.sops.yaml
Labels: area/kubernetes

fix(helm): update chart snapshot-controller to 2.0.3
  kubernetes/home-cluster/apps/democratic-csi/snapshot-controller/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart grafana to 7.0.9
  kubernetes/home-cluster/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes

chore(deps): update image ghcr.io/esphome/esphome to
  kubernetes/home-cluster/apps/default/esphome/app/helmrelease.yaml
Labels: area/kubernetes

chore(deps): update image ghcr.io/esphome/esphome to
  kubernetes/home-cluster/apps/default/esphome/app/helmrelease.yaml
Labels: area/kubernetes

fix(github-action): update renovatebot/github-action action to v39.1.4
  .github/workflows/schedule-renovate.yaml
Labels: area/github

feat: deploy dashboard
  kubernetes/home-cluster/apps/networking/ingress-nginx/external/dashboard/dashboard.json
  kubernetes/home-cluster/apps/networking/ingress-nginx/external/dashboard/kustomization.yaml
  kubernetes/home-cluster/apps/networking/ingress-nginx/external/kustomization.yaml
Labels: area/kubernetes

chore: use different folders
  kubernetes/home-cluster/apps/default/jellyfin/app/helm-release.yaml
Labels: area/kubernetes

fix: aument cache capacity
  kubernetes/home-cluster/apps/default/jellyfin/app/volsync.yaml
Labels: area/kubernetes

feat(terraform): update terraform cloudflare to 4.20.0
  provision/terraform/cloudflare/.terraform.lock.hcl
  provision/terraform/cloudflare/main.tf
Labels: area/terraform

chore: volsync
  kubernetes/home-cluster/apps/default/jellyfin/app/volsync.yaml
Labels: area/kubernetes

fix: thanos
  kubernetes/home-cluster/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update chart loki to 5.39.0
  kubernetes/home-cluster/apps/monitoring/loki/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart grafana to 7.0.11
  kubernetes/home-cluster/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes

chore: allow privileged movers
  kubernetes/home-cluster/apps/default/namespace.yaml
Labels: area/kubernetes

chore: volsync
  kubernetes/home-cluster/apps/volsync/volsync/app/helmrelease.yaml
Labels: area/kubernetes

chore: volsync
  kubernetes/home-cluster/apps/default/jellyfin/app/volsync.yaml
Labels: area/kubernetes

fix(helm): update chart descheduler to 0.28.1
  kubernetes/home-cluster/apps/kube-system/descheduler/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/justarchinet/archisteamfarm to 5.5.0.5
  kubernetes/home-cluster/apps/default/archi/app/helm-release.yaml
Labels: area/kubernetes

feat(container): update immich group to v1.89.0
  kubernetes/home-cluster/apps/default/immich/app/machine-learning/helmrelease.yaml
  kubernetes/home-cluster/apps/default/immich/app/microservices/helmrelease.yaml
  kubernetes/home-cluster/apps/default/immich/app/server/helmrelease.yaml
Labels: area/kubernetes

fix: volsync
  kubernetes/home-cluster/apps/default/jellyfin/app/volsync.yaml
Labels: area/kubernetes

fix: volsync
  kubernetes/home-cluster/apps/default/jellyfin/app/volsync.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/coder/code-server to 4.19.1
  kubernetes/home-cluster/apps/default/home-assistant/app/patches/addons.yaml
Labels: area/kubernetes

fix: volsync
  kubernetes/home-cluster/apps/default/jellyfin/app/volsync.yaml
Labels: area/kubernetes

fix(github-action): update image ghcr.io/bjw-s/mdbook to 0.4.36
  .github/workflows/deploy-docs.yaml
Labels: area/github

fix(container): update image ghcr.io/cross-seed/cross-seed to 5.8.5
  kubernetes/home-cluster/apps/default/qbittorrent/app/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update chart k8s-gateway to 2.1.0
  kubernetes/home-cluster/apps/networking/k8s-gateway/app/helmrelease.yaml
Labels: area/kubernetes

feat: volsync template
  kubernetes/home-cluster/apps/default/jellyseerr/app/helm-release.yaml
  kubernetes/home-cluster/apps/default/jellyseerr/app/kustomization.yaml
  kubernetes/home-cluster/apps/default/jellyseerr/app/volsync.yaml
  kubernetes/home-cluster/apps/default/jellyseerr/ks.yaml
  kubernetes/home-cluster/templates/volsync/claim.yaml
  kubernetes/home-cluster/templates/volsync/kustomization.yaml
  kubernetes/home-cluster/templates/volsync/minio.yaml
Labels: area/kubernetes

feat: volsync template
  kubernetes/home-cluster/apps/default/jellyseerr/app/helm-release.yaml
Labels: area/kubernetes

feat: volsync template
  kubernetes/home-cluster/apps/default/jellyseerr/app/helm-release.yaml
Labels: area/kubernetes

feat: volsync template
  kubernetes/home-cluster/apps/default/jellyseerr/app/helm-release.yaml
Labels: area/kubernetes
