Repository MrMarble/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/kubernetes, area/terraform

.github/labeler.yaml:

---
area/github:
  - ".github/**/*"
area/kubernetes:
  - "kubernetes/**/*"
area/terraform:
  - "provision/terraform/**/*"

chore: update storageclass
  kubernetes/home-cluster/apps/default/jellyseerr/ks.yaml
  kubernetes/home-cluster/apps/default/sonarr/ks.yaml
  kubernetes/home-cluster/templates/volsync/claim.yaml
  kubernetes/home-cluster/templates/volsync/minio.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/home-assistant to 2023.12.1
  kubernetes/home-cluster/apps/default/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes

chore: pvc
  kubernetes/home-cluster/apps/default/prowlarr/app/helm-release.yaml
  kubernetes/home-cluster/apps/default/prowlarr/app/kustomization.yaml
Labels: area/kubernetes

chore: pvc
  kubernetes/home-cluster/apps/default/prowlarr/app/kustomization.yaml
  kubernetes/home-cluster/apps/default/prowlarr/app/volsync.yaml
Labels: area/kubernetes

chore: pvc
  kubernetes/home-cluster/apps/default/prowlarr/app/helm-release.yaml
  kubernetes/home-cluster/apps/default/prowlarr/app/kustomization.yaml
  kubernetes/home-cluster/apps/default/prowlarr/app/volsync.yaml
Labels: area/kubernetes

chore pvc
  kubernetes/home-cluster/apps/default/prowlarr/app/kustomization.yaml
  kubernetes/home-cluster/apps/default/prowlarr/app/pvc.yaml
  kubernetes/home-cluster/apps/default/prowlarr/app/volsync.yaml
  kubernetes/home-cluster/apps/default/prowlarr/ks.yaml
Labels: area/kubernetes

chore: volsync schedule
  kubernetes/home-cluster/apps/default/prowlarr/app/volsync.yaml
Labels: area/kubernetes

feat: mayastor thin sc
  kubernetes/home-cluster/apps/openebs/mayastor/app/snapshot-class.yaml
Labels: area/kubernetes

feat: mayastor thin sc
  kubernetes/home-cluster/templates/volsync/claim.yaml
  kubernetes/home-cluster/templates/volsync/minio.yaml
Labels: area/kubernetes

fix: update local host path
  kubernetes/home-cluster/apps/democratic-csi/local-hostpath/app/helmrelease.yaml
Labels: area/kubernetes

feat(postgres): use local host path
  kubernetes/home-cluster/apps/database/postgres/cluster/cluster.yaml
Labels: area/kubernetes

feat: try to disable hugepages
  .vscode/settings.json
  kubernetes/home-cluster/apps/database/postgres/cluster/cluster.yaml
Labels: area/kubernetes

feat: try to use hugepages
  kubernetes/home-cluster/apps/database/postgres/cluster/cluster.yaml
  provision/talos/talconfig.yaml
Labels: area/kubernetes

chore: recover postgres
  kubernetes/home-cluster/apps/database/postgres/cluster/cluster.yaml
Labels: area/kubernetes

chore: remove cstor
  kubernetes/home-cluster/apps/openebs/cstor/app/cstor-pool.yaml
  kubernetes/home-cluster/apps/openebs/cstor/app/helmrelease.yaml
  kubernetes/home-cluster/apps/openebs/cstor/app/kustomization.yaml
  kubernetes/home-cluster/apps/openebs/cstor/app/storageclass.yaml
  kubernetes/home-cluster/apps/openebs/cstor/ks.yaml
  kubernetes/home-cluster/apps/openebs/kustomization.yaml
  prowlarr_backup_v1.10.5.4101_2023.11.30_08.26.51.zip
Labels: area/kubernetes

feat: move radarr to mayastor
  kubernetes/home-cluster/apps/default/radarr/app/helm-release.yaml
  kubernetes/home-cluster/apps/default/radarr/app/kustomization.yaml
  kubernetes/home-cluster/apps/default/radarr/app/volsync.yaml
  kubernetes/home-cluster/apps/default/radarr/ks.yaml
Labels: area/kubernetes

chore: use rwm
  kubernetes/home-cluster/apps/default/jellyseerr/ks.yaml
  kubernetes/home-cluster/apps/default/prowlarr/ks.yaml
  kubernetes/home-cluster/apps/default/radarr/ks.yaml
  kubernetes/home-cluster/apps/default/sonarr/ks.yaml
Labels: area/kubernetes

chore: use rwo
  kubernetes/home-cluster/apps/default/jellyseerr/ks.yaml
  kubernetes/home-cluster/apps/default/prowlarr/ks.yaml
  kubernetes/home-cluster/apps/default/radarr/ks.yaml
  kubernetes/home-cluster/apps/default/sonarr/ks.yaml
Labels: area/kubernetes

feat(github-action): update oxsecurity/megalinter action to v7.7.0
  .github/workflows/lint.yaml
Labels: area/github

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to 1.11.1.4146
  kubernetes/home-cluster/apps/default/prowlarr/app/helm-release.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/gethomepage/homepage to v0.8.3
  kubernetes/home-cluster/apps/default/homepage/app/helmrelease.yaml
Labels: area/kubernetes

feat(prowlarr): use volsync
  kubernetes/home-cluster/apps/default/prowlarr/app/kustomization.yaml
  kubernetes/home-cluster/apps/default/prowlarr/app/pvc.yaml
  kubernetes/home-cluster/apps/default/prowlarr/app/volsync.yaml
Labels: area/kubernetes

chore: delete backup
  prowlarr_backup_v1.10.5.4101_2023.11.30_08.26.51.zip
Labels: none

chore: configure recyclarr storage
  kubernetes/home-cluster/apps/default/recyclarr/app/helm-release.yaml
Labels: area/kubernetes

chore: configure namespace
  .taskfiles/cluster/Taskfile.yaml
Labels: none

chore(deps): update image ghcr.io/esanchezm/prometheus-qbittorrent-exporter to
  kubernetes/home-cluster/apps/monitoring/qbittorrent-exporter/app/helmrelease.yaml
Labels: area/kubernetes
