Repository MrMarble/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/docs, area/github, area/kubernetes, area/renovate, area/taskfile

.github/labeler.yaml:

---
area/ansible:
  - changed-files:
      - any-glob-to-any-file: "provision/ansible/**/*"
area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "README.md"
          - "docs/**/*"
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
area/renovate:
  - changed-files:
      - any-glob-to-any-file:
          - ".renovate/**/*"
          - ".renovaterc.json5"
area/taskfile:
  - changed-files:
      - any-glob-to-any-file:
          - ".taskfiles/**/*"
          - "Taskfile.yaml"

feat(longhorn): replace ingress with httproute via Gateway API
  kubernetes/apps/longhorn/longhorn/app/helmrelease.yaml
Labels: area/kubernetes

feat: restructure flux configuration and add new resources for GitHub webhook integration
  .taskfiles/flux.yml
  kubernetes/apps/flux-system/addons/app/kustomization.yaml
  kubernetes/apps/flux-system/addons/app/notifications/github/externalsecret.yaml
  kubernetes/apps/flux-system/addons/app/notifications/github/kustomization.yaml
  kubernetes/apps/flux-system/addons/app/notifications/github/notification.yaml
  kubernetes/apps/flux-system/addons/app/notifications/kustomization.yaml
  kubernetes/apps/flux-system/addons/app/webhooks/github/ingress.yaml
  kubernetes/apps/flux-system/addons/ks.yaml
  kubernetes/apps/flux-system/flux-instance/app/externalsecret.yaml
  kubernetes/apps/flux-system/flux-instance/app/helmrelease.yaml
  kubernetes/apps/flux-system/flux-instance/app/httproute.yaml
  kubernetes/apps/flux-system/flux-instance/app/kustomization.yaml
  kubernetes/apps/flux-system/flux-instance/app/notifications.yaml
  kubernetes/apps/flux-system/flux-instance/app/ocirepository.yaml
  kubernetes/apps/flux-system/flux-instance/app/receiver.yaml
  kubernetes/apps/flux-system/flux-instance/ks.yaml
  kubernetes/apps/flux-system/flux-operator/app/helmrelease.yaml
  kubernetes/apps/flux-system/flux-operator/app/kustomization.yaml
  kubernetes/apps/flux-system/flux-operator/app/ocirepository.yaml
  kubernetes/apps/flux-system/flux-operator/ks.yaml
  kubernetes/apps/flux-system/kustomization.yaml
  kubernetes/bootstrap/kustomization.yaml
  kubernetes/flux/cluster/ks.yaml
  kubernetes/flux/config/cluster.yaml
  kubernetes/flux/config/flux.yaml
  kubernetes/flux/config/kustomization.yaml
  kubernetes/flux/kustomization.yaml
Labels: area/kubernetes, area/taskfile

feat: remove deprecated SOPS configurations and update external secrets for Cloudflare integration
  .sops.yaml
  .taskfiles/flux.yml
  Taskfile.yml
  kubernetes/apps/cert-manager/cert-manager/issuers/externalsecret.yaml
  kubernetes/apps/cert-manager/cert-manager/issuers/kustomization.yaml
  kubernetes/apps/cert-manager/cert-manager/issuers/letsencrypt-production.yaml
  kubernetes/apps/cert-manager/cert-manager/issuers/letsencrypt-staging.yaml
  kubernetes/apps/cert-manager/cert-manager/issuers/secret.sops.yaml
  kubernetes/apps/database/postgres/app/externalsecret.yaml
  kubernetes/apps/database/postgres/cluster/cluster.yaml
  kubernetes/apps/database/postgres/ks.yaml
  kubernetes/apps/monitor/gatus/app/helmrelease.yaml
  kubernetes/apps/network/cloudflared/app/dnsendpoint.yaml
  kubernetes/apps/network/cloudflared/app/externalsecret.yaml
  kubernetes/apps/network/cloudflared/app/helmrelease.yaml
  kubernetes/apps/network/cloudflared/ks.yaml
  kubernetes/apps/network/external-dns/app/helmrelease.yaml
  kubernetes/bootstrap/age-key.sops.yaml
  kubernetes/flux/cluster/ks.yaml
  kubernetes/flux/kustomization.yaml
  kubernetes/flux/vars/cluster-secrets.sops.env
  kubernetes/flux/vars/cluster-settings.env
  kubernetes/flux/vars/kustomization.yaml
Labels: area/kubernetes, area/taskfile

fix(longhorn): remove cleanupOnFail to prevent CRD deletion on failure
  kubernetes/apps/longhorn/longhorn/app/helmrelease.yaml
Labels: area/kubernetes

fix(postgres): add namespace to postBuild substituteFrom secret
  kubernetes/apps/database/postgres/ks.yaml
Labels: area/kubernetes

fix(postgres): create cloudnative-pg-secret in flux-system for postBuild substitution
  kubernetes/apps/database/postgres/ks.yaml
  kubernetes/apps/flux-system/flux-instance/app/cloudnative-pg-externalsecret.yaml
  kubernetes/apps/flux-system/flux-instance/app/kustomization.yaml
Labels: area/kubernetes

fix(postgres): use underscores in secret name for postBuild substitution
  kubernetes/apps/database/postgres/app/externalsecret.yaml
  kubernetes/apps/database/postgres/cluster/cluster.yaml
  kubernetes/apps/database/postgres/ks.yaml
  kubernetes/apps/flux-system/flux-instance/app/cloudnative-pg-externalsecret.yaml
Labels: area/kubernetes

fix(postgres): use underscores in aws secret keys
  kubernetes/apps/database/postgres/app/externalsecret.yaml
  kubernetes/apps/database/postgres/cluster/cluster.yaml
  kubernetes/apps/flux-system/flux-instance/app/cloudnative-pg-externalsecret.yaml
Labels: area/kubernetes

fix(postgres): revert secret name to hyphens, keep aws keys as underscores
  kubernetes/apps/database/postgres/app/externalsecret.yaml
  kubernetes/apps/database/postgres/cluster/cluster.yaml
  kubernetes/apps/database/postgres/ks.yaml
  kubernetes/apps/flux-system/flux-instance/app/cloudnative-pg-externalsecret.yaml
Labels: area/kubernetes

feat(grafanadashboard): add Grafana dashboards for API performance, cluster, and control plane
  kubernetes/apps/flux-system/flux-instance/app/grafanadashboard.yaml
  kubernetes/apps/flux-system/flux-instance/app/kustomization.yaml
Labels: area/kubernetes

feat(kubernetes): add PodMonitor and PrometheusRule for monitoring Flux components
  kubernetes/apps/flux-system/flux-instance/app/kustomization.yaml
  kubernetes/apps/flux-system/flux-instance/app/podmonitor.yaml
  kubernetes/apps/flux-system/flux-instance/app/prometheusrule.yaml
  kubernetes/apps/flux-system/flux-operator/app/clusterrolebinding.yaml
  kubernetes/apps/flux-system/flux-operator/app/kustomization.yaml
Labels: area/kubernetes

fix(receiver): remove unnecessary namespace references in receiver configuration
  kubernetes/apps/flux-system/flux-instance/app/receiver.yaml
Labels: area/kubernetes

feat(grafanadashboard): add Grafana dashboards for Envoy overview, upstream, and downstream
  kubernetes/apps/network/envoy-gateway/app/grafanadashboard.yaml
  kubernetes/apps/network/envoy-gateway/app/kustomization.yaml
Labels: area/kubernetes

feat(grafanadashboard): add Grafana dashboards for Cilium and Cilium Operator
  kubernetes/apps/kube-system/cilium/app/grafanadashboard.yaml
  kubernetes/apps/kube-system/cilium/app/kustomization.yaml
Labels: area/kubernetes

fix(cloudflared): update service URLs to use envoy-external for ingress
  kubernetes/apps/network/cloudflared/app/resources/config.yaml
Labels: area/kubernetes

feat(cilium): enable dashboards and metrics in HelmRelease configuration
  kubernetes/apps/kube-system/cilium/app/helmrelease.yaml
Labels: area/kubernetes

feat(cilium): enable service monitors and Prometheus for Hubble, operator, and dashboards
  kubernetes/apps/kube-system/cilium/app/helmrelease.yaml
Labels: area/kubernetes

feat(grafanadashboard): add Grafana dashboard configuration for 'qui'
  kubernetes/apps/media/qui/app/grafanadashboard.yaml
  kubernetes/apps/media/qui/app/kustomization.yaml
Labels: area/kubernetes

feat(qui): add metrics configuration and service monitor for application
  kubernetes/apps/media/qui/app/helmrelease.yaml
Labels: area/kubernetes

feat(grafanadashboard): add Grafana dashboard configurations for cert-manager, Kubernetes API server, CoreDNS, global metrics, namespaces, nodes, pods, volumes, and cloudflare tunnels
  kubernetes/apps/cert-manager/cert-manager/app/grafanadashboard.yaml
  kubernetes/apps/cert-manager/cert-manager/app/kustomization.yaml
  kubernetes/apps/monitor/prometheus/app/grafanadashboard.yaml
  kubernetes/apps/monitor/prometheus/app/kustomization.yaml
  kubernetes/apps/network/cloudflared/app/grafanadashboard.yaml
  kubernetes/apps/network/cloudflared/app/kustomization.yaml
Labels: area/kubernetes

feat(cloudflared): add service monitor configuration for HTTP endpoint
  kubernetes/apps/network/cloudflared/app/helmrelease.yaml
Labels: area/kubernetes

chore: repo cleanup
  .gitattributes
  .justfile
  .lefthook.toml
  .taskfiles/_scripts/wait-for-k8s-job.sh
  .taskfiles/cluster/Taskfile.yaml
  .taskfiles/cluster/externalsecret.templ.yaml
  .taskfiles/cluster/helmrelease.tmpl.yaml
  .taskfiles/cluster/helmrepository.templ.yaml
  .taskfiles/cluster/ks.tmpl.yaml
  .taskfiles/cluster/namespace.tmpl.yaml
  .taskfiles/debug.yml
  .taskfiles/flux.yml
  .taskfiles/format.yml
  .taskfiles/lint.yml
  .taskfiles/volsync/ListJob.tmpl.yaml
  .taskfiles/volsync/ReplicationDestination.tmpl.yaml
  .taskfiles/volsync/Taskfile.yaml
  .taskfiles/volsync/UnlockJob.tmpl.yaml
  .taskfiles/volsync/WipeJob.tmpl.yaml
  .vscode/extensions.json
  .vscode/settings.json
  .yamlfmt.yaml
  Taskfile.yml
  kubernetes/mod.just
  mise.lock
  mise.toml
Labels: area/kubernetes, area/taskfile

fix(kromgo): update kubernetes version query
  README.md
  kubernetes/apps/monitor/kromgo/app/resources/config.yaml
  mise.toml
Labels: area/docs, area/kubernetes

ci: remove docs workflow
  .github/workflows/deploy-docs.yaml
Labels: area/github

chore: cluster cleanup
  kubernetes/apps/piraeus/kustomization.yaml
  kubernetes/apps/piraeus/namespace.yaml
  kubernetes/apps/piraeus/piraeus/app/helmrelease.yaml
  kubernetes/apps/piraeus/piraeus/app/kustomization.yaml
  kubernetes/apps/piraeus/piraeus/app/linstorcluster.yaml
  kubernetes/apps/piraeus/piraeus/app/linstorsatelliteconfig.yaml
  kubernetes/apps/piraeus/piraeus/app/ocirepository.yaml
  kubernetes/apps/piraeus/piraeus/app/storageclass-local.yaml
  kubernetes/apps/piraeus/piraeus/app/storageclass-replicated.yaml
  kubernetes/apps/piraeus/piraeus/app/volumesnapshotclass.yaml
  kubernetes/apps/piraeus/piraeus/ks.yaml
Labels: area/kubernetes

feat: try and move kustomization to namespace
  kubernetes/apps/media/brrpolice/ks.yaml
Labels: area/kubernetes

fix: add flux namespace to source
  kubernetes/flux/cluster/ks.yaml
Labels: area/kubernetes

feat: try and move kustomization to namespace
  kubernetes/apps/media/kustomization.yaml
Labels: area/kubernetes

feat: move kustomizations to namespace
  kubernetes/apps/media/janitorr/ks.yaml
  kubernetes/apps/media/jellyfin/ks.yaml
  kubernetes/apps/media/profilarr/ks.yaml
  kubernetes/apps/media/prowlarr/ks.yaml
  kubernetes/apps/media/qbittorrent/ks.yaml
  kubernetes/apps/media/qui/ks.yaml
  kubernetes/apps/media/radarr/ks.yaml
  kubernetes/apps/media/seerr/ks.yaml
  kubernetes/apps/media/sonarr/ks.yaml
Labels: area/kubernetes

Change logo and adjust headers in README.md
  README.md
Labels: area/docs

ci: refactor workflows
  .github/workflows/flate.yaml
  .github/workflows/label-sync.yaml
  .github/workflows/labeler.yaml
  .github/workflows/renovate.yaml
  .github/workflows/tag.yaml
  .renovate/autoMerge.json5
  .renovate/customManagers.json5
  .renovate/groups.json5
  .renovate/labels.json5
  .renovate/semanticCommits.json5
  .renovaterc.json5
  mise.lock
  mise.toml
Labels: area/github, area/renovate

chore: delete mise lock
  mise.lock
Labels: none

chore: remove flux-local
  mise.toml
Labels: none

ci(renovate): group k3s
  .renovaterc.json5
Labels: area/renovate

feat!: migrate to ocirepositories
  kubernetes/apps/cert-manager/cert-manager/app/helmrelease.yaml
  kubernetes/apps/cert-manager/cert-manager/app/kustomization.yaml
  kubernetes/apps/cert-manager/cert-manager/app/ocirepository.yaml
  kubernetes/apps/kube-system/node-feature-discovery/app/helmrelease.yaml
  kubernetes/apps/kube-system/node-feature-discovery/app/kustomization.yaml
  kubernetes/apps/kube-system/node-feature-discovery/app/ocirepository.yaml
  kubernetes/apps/kube-system/reloader/app/helmrelease.yaml
  kubernetes/apps/kube-system/reloader/app/kustomization.yaml
  kubernetes/apps/kube-system/reloader/app/ocirepository.yaml
  kubernetes/apps/longhorn/longhorn/app/helmrelease.yaml
  kubernetes/apps/longhorn/longhorn/app/kustomization.yaml
  kubernetes/apps/longhorn/longhorn/app/ocirepository.yaml
  kubernetes/apps/network/external-dns/app/helmrelease.yaml
  kubernetes/apps/network/external-dns/app/kustomization.yaml
  kubernetes/apps/network/external-dns/app/ocirepository.yaml
  kubernetes/apps/openebs/openebs/app/helmrelease.yaml
  kubernetes/apps/openebs/openebs/app/kustomization.yaml
  kubernetes/apps/openebs/openebs/app/ocirepository.yaml
Labels: area/kubernetes

feat!: replace prometheus
  kubernetes/apps/monitor/kromgo/app/helmrelease.yaml
  kubernetes/apps/monitor/kustomization.yaml
  kubernetes/apps/monitor/prometheus-adapter/app/helmrelease.yaml
  kubernetes/apps/monitor/prometheus-adapter/app/kustomization.yaml
  kubernetes/apps/monitor/prometheus-adapter/app/ocirepository.yaml
  kubernetes/apps/monitor/prometheus-adapter/ks.yaml
  kubernetes/apps/monitor/prometheus-operator-crds/app/helmrelease.yaml
  kubernetes/apps/monitor/prometheus-operator-crds/ks.yaml
  kubernetes/apps/monitor/prometheus/app/grafanadashboard.yaml
  kubernetes/apps/monitor/prometheus/app/helmrelease.yaml
  kubernetes/apps/monitor/prometheus/app/kustomization.yaml
  kubernetes/apps/monitor/prometheus/app/ocirepository.yaml
Labels: area/kubernetes

feat: set grafana data source with crd
  kubernetes/apps/monitor/grafana/instance/grafanadatasource.yaml
  kubernetes/apps/monitor/grafana/instance/kustomization.yaml
Labels: area/kubernetes

Revert "feat!: replace prometheus"
  kubernetes/apps/monitor/kromgo/app/helmrelease.yaml
  kubernetes/apps/monitor/kustomization.yaml
  kubernetes/apps/monitor/prometheus-adapter/app/helmrelease.yaml
  kubernetes/apps/monitor/prometheus-adapter/app/ocirepository.yaml
  kubernetes/apps/monitor/prometheus-operator-crds/app/helmrelease.yaml
  kubernetes/apps/monitor/prometheus-operator-crds/app/kustomization.yaml
  kubernetes/apps/monitor/prometheus-operator-crds/ks.yaml
  kubernetes/apps/monitor/prometheus/app/grafanadashboard.yaml
  kubernetes/apps/monitor/prometheus/app/helmrelease.yaml
  kubernetes/apps/monitor/prometheus/app/kustomization.yaml
  kubernetes/apps/monitor/prometheus/app/ocirepository.yaml
  kubernetes/apps/monitor/prometheus/ks.yaml
Labels: area/kubernetes

Update grafanadatasource.yaml
  kubernetes/apps/monitor/grafana/instance/grafanadatasource.yaml
Labels: area/kubernetes

feat!: replace prometheus
  kubernetes/apps/monitor/kube-prometheus-stack/app/grafanadashboard.yaml
  kubernetes/apps/monitor/kube-prometheus-stack/app/helmrelease.yaml
  kubernetes/apps/monitor/kube-prometheus-stack/app/kustomization.yaml
  kubernetes/apps/monitor/kube-prometheus-stack/app/ocirepository.yaml
  kubernetes/apps/monitor/kube-prometheus-stack/app/resources/flux-metrics.yaml
  kubernetes/apps/monitor/kube-prometheus-stack/ks.yaml
  kubernetes/apps/monitor/kustomization.yaml
  kubernetes/apps/monitor/namespace.yaml
  kubernetes/apps/monitor/prometheus-adapter/app/helmrelease.yaml
  kubernetes/apps/monitor/prometheus-adapter/app/kustomization.yaml
  kubernetes/apps/monitor/prometheus-adapter/app/ocirepository.yaml
  kubernetes/apps/monitor/prometheus-adapter/ks.yaml
  kubernetes/apps/monitor/prometheus-operator-crds/app/helmrelease.yaml
  kubernetes/apps/monitor/prometheus-operator-crds/ks.yaml
  kubernetes/apps/monitor/prometheus/app/helmrelease.yaml
  kubernetes/apps/monitor/prometheus/app/kustomization.yaml
  kubernetes/apps/monitor/prometheus/ks.yaml
Labels: area/kubernetes
