Repository MrMarble/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/kubernetes, area/terraform

chore(deps): update image ghcr.io/bjw-s/mdbook to
  .github/workflows/deploy-docs.yaml
Labels: area/github

fix(github-release): update fluxcd/flux2 to v2.0.1
  cluster/base/flux-system/gotk-components.yaml
  cluster/bootstrap/kustomization.yaml
  kubernetes/home-cluster/bootstrap/kustomization.yaml
Labels: area/kubernetes

feat(terraform): update terraform cloudflare to 4.10.0
  provision/terraform/cloudflare/.terraform.lock.hcl
  provision/terraform/cloudflare/main.tf
Labels: area/terraform

feat(github-action)!: Update renovatebot/github-action action to v39.0.0
  .github/workflows/schedule-renovate.yaml
Labels: area/github

fix: cilium config
  kubernetes/home-cluster/apps/kube-system/cilium/app/values.yaml
  provision/talos/integrations/cilium/cilium.yaml
Labels: area/kubernetes

feat: delete metallb
  kubernetes/home-cluster/apps/networking/kustomization.yaml
  kubernetes/home-cluster/apps/networking/metallb/app/helmrelease.yaml
  kubernetes/home-cluster/apps/networking/metallb/app/kustomization.yaml
  kubernetes/home-cluster/apps/networking/metallb/config/ipaddresspool.yaml
  kubernetes/home-cluster/apps/networking/metallb/config/kustomization.yaml
  kubernetes/home-cluster/apps/networking/metallb/config/l2advertisement.yaml
  kubernetes/home-cluster/apps/networking/metallb/ks.yaml
  kubernetes/home-cluster/flux/repositories/helm/kustomization.yaml
  kubernetes/home-cluster/flux/repositories/helm/metallb.yaml
Labels: area/kubernetes

feat: nginx config
  kubernetes/home-cluster/apps/networking/ingress-nginx/app/helmrelease.yaml
Labels: area/kubernetes

fix(cilium): chart name
  kubernetes/home-cluster/apps/kube-system/cilium/app/helmrelease.yaml
Labels: area/kubernetes

chore: ingress pls
  kubernetes/home-cluster/apps/networking/echo-server/app/helmrelease.yaml
  kubernetes/home-cluster/apps/networking/ingress-nginx/app/helmrelease.yaml
Labels: area/kubernetes

fix: cilium config
  kubernetes/home-cluster/apps/kube-system/cilium/app/helmrelease.yaml
  kubernetes/home-cluster/apps/kube-system/cilium/app/l2announcementpolicy.yaml
  kubernetes/home-cluster/apps/kube-system/cilium/app/values.yaml
  provision/talos/integrations/cilium/cilium.yaml
Labels: area/kubernetes

fix: cilium config
  kubernetes/home-cluster/apps/kube-system/cilium/app/bgppeeringpolicy.yaml
  kubernetes/home-cluster/apps/kube-system/cilium/app/helmrelease.yaml
  kubernetes/home-cluster/apps/kube-system/cilium/app/kustomization.yaml
  kubernetes/home-cluster/apps/kube-system/cilium/app/l2announcementpolicy.yaml
  kubernetes/home-cluster/apps/kube-system/cilium/app/values.yaml
  provision/talos/integrations/cilium/cilium.yaml
Labels: area/kubernetes

chore: lets see
  kubernetes/home-cluster/apps/networking/ingress-nginx/app/helmrelease.yaml
Labels: area/kubernetes

chore: lets see
  kubernetes/home-cluster/apps/networking/ingress-nginx/app/helmrelease.yaml
Labels: area/kubernetes

fix: nginx ip
  kubernetes/home-cluster/apps/networking/ingress-nginx/app/helmrelease.yaml
Labels: area/kubernetes

chore: change cidr
  kubernetes/home-cluster/apps/kube-system/cilium/app/bgppeeringpolicy.yaml
  kubernetes/home-cluster/apps/networking/ingress-nginx/app/helmrelease.yaml
Labels: area/kubernetes

feat: deploy reloader and descheduler
  kubernetes/home-cluster/apps/kube-system/descheduler/app/helmrelease.yaml
  kubernetes/home-cluster/apps/kube-system/descheduler/app/kustomization.yaml
  kubernetes/home-cluster/apps/kube-system/descheduler/ks.yaml
  kubernetes/home-cluster/apps/kube-system/kustomization.yaml
  kubernetes/home-cluster/apps/kube-system/reloader/app/helmrelease.yaml
  kubernetes/home-cluster/apps/kube-system/reloader/app/kustomization.yaml
  kubernetes/home-cluster/apps/kube-system/reloader/ks.yaml
  kubernetes/home-cluster/flux/repositories/helm/descheduler.yaml
  kubernetes/home-cluster/flux/repositories/helm/kustomization.yaml
  kubernetes/home-cluster/flux/repositories/helm/stakater.yaml
Labels: area/kubernetes

fix: source name
  kubernetes/home-cluster/apps/kube-system/descheduler/ks.yaml
Labels: area/kubernetes

feat: deploy cloudflared
  kubernetes/home-cluster/apps/networking/cloudflared/app/config/config.yaml
  kubernetes/home-cluster/apps/networking/cloudflared/app/dnsendpoint.yaml
  kubernetes/home-cluster/apps/networking/cloudflared/app/helmrelease.yaml
  kubernetes/home-cluster/apps/networking/cloudflared/app/kustomization.yaml
  kubernetes/home-cluster/apps/networking/cloudflared/app/patches/kustomizeconfig.yaml
  kubernetes/home-cluster/apps/networking/cloudflared/app/secret.sops.yaml
  kubernetes/home-cluster/apps/networking/cloudflared/ks.yaml
Labels: area/kubernetes

feat: deploy external-dns
  kubernetes/home-cluster/apps/networking/external-dns/app/helm-release.yaml
  kubernetes/home-cluster/apps/networking/external-dns/app/kustomization.yaml
  kubernetes/home-cluster/apps/networking/external-dns/app/secrets.sops.yaml
  kubernetes/home-cluster/apps/networking/external-dns/ks.yaml
  kubernetes/home-cluster/apps/networking/kustomization.yaml
  kubernetes/home-cluster/flux/repositories/helm/external-dns.yaml
  kubernetes/home-cluster/flux/repositories/helm/kustomization.yaml
Labels: area/kubernetes

fix: secret
  kubernetes/home-cluster/apps/networking/cloudflared/app/secret.sops.yaml
Labels: area/kubernetes

fix: secret
  kubernetes/home-cluster/apps/networking/external-dns/app/dnsendpoint-crd.yaml
  kubernetes/home-cluster/apps/networking/external-dns/app/helm-release.yaml
  kubernetes/home-cluster/apps/networking/external-dns/app/kustomization.yaml
  kubernetes/home-cluster/flux/vars/cluster-secrets.sops.yaml
Labels: area/kubernetes

fix(flux): reconcile secrets
  kubernetes/home-cluster/flux/vars/cluster-settings.yaml
  kubernetes/home-cluster/flux/vars/kustomization.yaml
Labels: area/kubernetes

fix(flux): reconcile secrets
  kubernetes/home-cluster/flux/vars/kustomization.yaml
Labels: area/kubernetes

fix: secret
  kubernetes/home-cluster/apps/networking/cloudflared/app/secret.sops.yaml
Labels: area/kubernetes

feat: expose echo-server
  kubernetes/home-cluster/apps/networking/echo-server/app/helmrelease.yaml
Labels: area/kubernetes

feat: expose echo-server
  kubernetes/home-cluster/apps/networking/external-dns/app/helm-release.yaml
Labels: area/kubernetes

feat: expose echo-server
  kubernetes/home-cluster/apps/networking/external-dns/app/helm-release.yaml
Labels: area/kubernetes

feat: expose echo-server
  kubernetes/home-cluster/apps/networking/echo-server/app/helmrelease.yaml
  kubernetes/home-cluster/apps/networking/external-dns/app/helm-release.yaml
Labels: area/kubernetes

fix(external-dns): wrong parameter
  kubernetes/home-cluster/apps/networking/external-dns/app/helm-release.yaml
Labels: area/kubernetes

feat(flux): webhook
  kubernetes/home-cluster/apps/flux-system/addons/ks.yaml
  kubernetes/home-cluster/apps/flux-system/addons/webhooks/github/ingress.yaml
  kubernetes/home-cluster/apps/flux-system/addons/webhooks/github/kustomization.yaml
  kubernetes/home-cluster/apps/flux-system/addons/webhooks/github/receiver.yaml
  kubernetes/home-cluster/apps/flux-system/addons/webhooks/github/secrets.sops.yaml
  kubernetes/home-cluster/apps/flux-system/addons/webhooks/kustomization.yaml
  kubernetes/home-cluster/apps/flux-system/kustomization.yaml
  kubernetes/home-cluster/apps/flux-system/namespace.yaml
Labels: area/kubernetes

chore: taskfiles
  .taskfiles/ansible.yml
  .taskfiles/flux.yml
  Taskfile.yml
Labels: none

chore: remove ansible
  ansible.cfg
Labels: none

chore: remove ansible
  .gitignore
Labels: none

feat: deploy mayastor
  kubernetes/home-cluster/apps/storage/kustomization.yaml
  kubernetes/home-cluster/apps/storage/mayastor/app/helmrelease.yaml
  kubernetes/home-cluster/apps/storage/mayastor/app/kustomization.yaml
  kubernetes/home-cluster/apps/storage/mayastor/ks.yaml
  kubernetes/home-cluster/apps/storage/namespace.yaml
  kubernetes/home-cluster/flux/repositories/helm/kustomization.yaml
  kubernetes/home-cluster/flux/repositories/helm/mayastor.yaml
  provision/talos/patches/mayastor.yaml
  provision/talos/talconfig.yaml
Labels: area/kubernetes

fix(mayastor): namespace
  kubernetes/home-cluster/apps/storage/mayastor/app/helmrelease.yaml
Labels: area/kubernetes

refactor: rname kustomization
  kubernetes/home-cluster/apps/storage/mayastor/ks.yaml
Labels: area/kubernetes

fix(mayastor): rremove jaeger
  kubernetes/home-cluster/apps/storage/mayastor/app/helmrelease.yaml
Labels: area/kubernetes

feat: priorityclass
  kubernetes/home-cluster/apps/kube-system/kustomization.yaml
  kubernetes/home-cluster/apps/kube-system/priorityclass.yaml
Labels: area/kubernetes

feat: diskpool
  kubernetes/home-cluster/apps/storage/mayastor/app/diskpool.yaml
Labels: area/kubernetes

feat: diskpool
  kubernetes/home-cluster/apps/storage/mayastor/app/kustomization.yaml
Labels: area/kubernetes

.github/labeler.yaml:

---
area/github:
  - ".github/**/*"
area/kubernetes:
  - "kubernetes/**/*"
area/terraform:
  - "provision/terraform/**/*"
