Repository MrMarble/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/kubernetes, area/terraform

.github/labeler.yaml:

---
area/github:
  - changed-files:
      - any-glob-to-any-file:
          - ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file:
          - "kubernetes/**/*"
area/terraform:
  - changed-files:
      - any-glob-to-any-file:
          - "provision/terraform/**/*"

fix: immich port
  kubernetes/apps/default/immich/app/configmap.yaml
  kubernetes/apps/default/immich/app/server/helmrelease.yaml
Labels: area/kubernetes

feat: deploy crowdsec
  kubernetes/apps/network/crowdsec/app/externalsecret.yaml
  kubernetes/apps/network/crowdsec/app/helmrelease.yaml
  kubernetes/apps/network/crowdsec/app/kustomization.yaml
  kubernetes/apps/network/crowdsec/ks.yaml
  kubernetes/apps/network/kustomization.yaml
  kubernetes/flux/repositories/helm/crowdsec.yaml
  kubernetes/flux/repositories/helm/kustomization.yaml
Labels: area/kubernetes

chore: rename tamplate
  .taskfiles/volsync/UnlockJob.tmpl.yaml
Labels: none

feat: deploy crowdsec
  kubernetes/apps/network/crowdsec/app/kustomization.yaml
Labels: area/kubernetes

feat: deploy crowdsec
  kubernetes/apps/network/crowdsec/app/helmrelease.yaml
Labels: area/kubernetes

feat: deploy crowdsec
  kubernetes/apps/network/crowdsec/app/helmrelease.yaml
Labels: area/kubernetes

feat: deploy crowdsec
  kubernetes/apps/network/crowdsec/app/helmrelease.yaml
Labels: area/kubernetes

feat: deploy crowdsec
  kubernetes/apps/network/crowdsec/app/helmrelease.yaml
Labels: area/kubernetes

feat: deploy crowdsec
  kubernetes/apps/network/crowdsec/app/helmrelease.yaml
Labels: area/kubernetes

feat: deploy crowdsec
  kubernetes/apps/network/crowdsec/app/helmrelease.yaml
Labels: area/kubernetes

feat: deploy crowdsec
  kubernetes/apps/network/crowdsec/app/helmrelease.yaml
Labels: area/kubernetes

feat: deploy crowdsec
  kubernetes/apps/network/crowdsec/app/helmrelease.yaml
Labels: area/kubernetes

feat: deploy crowdsec
  kubernetes/apps/network/crowdsec/app/helmrelease.yaml
Labels: area/kubernetes

feat(crowdsec): upgrade chart
  kubernetes/apps/network/crowdsec/app/helmrelease.yaml
Labels: area/kubernetes

feat(crowdsec): upgrade chart
  kubernetes/apps/network/crowdsec/app/helmrelease.yaml
Labels: area/kubernetes

feat(nginx): use default log format
  kubernetes/apps/network/ingress-nginx/external/helmrelease.yaml
Labels: area/kubernetes

feat(crowdsec): add more scenarios
  kubernetes/apps/network/crowdsec/app/helmrelease.yaml
Labels: area/kubernetes

feat(crowdsec): add more scenarios
  kubernetes/apps/network/crowdsec/app/helmrelease.yaml
Labels: area/kubernetes

feat(crowdsec): add more scenarios
  kubernetes/apps/network/crowdsec/app/helmrelease.yaml
Labels: area/kubernetes

fix(crowdsec): disable inotify
  kubernetes/apps/network/crowdsec/app/helmrelease.yaml
Labels: area/kubernetes

Revert "Merge pull request #990 from MrMarble/renovate/immich"
  kubernetes/apps/default/immich/app/machine-learning/helmrelease.yaml
  kubernetes/apps/default/immich/app/server/helmrelease.yaml
Labels: area/kubernetes

restore postgres
  kubernetes/apps/database/postgres/cluster/cluster.yaml
Labels: area/kubernetes

rook changes
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes

cilium changes
  kubernetes/apps/kube-system/cilium/app/values.yaml
Labels: area/kubernetes

docs(readme): use selfhosted uptime-kuma
  README.md
Labels: none

chore: update config
  kubernetes/apps/monitor/kromgo/app/helmrelease.yaml
  kubernetes/apps/monitor/kromgo/app/resources/config.yaml
Labels: area/kubernetes

feat(kromgo): add titles
  kubernetes/apps/monitor/kromgo/app/resources/config.yaml
Labels: area/kubernetes

docs(readme): update kromgo badges
  README.md
Labels: none

fix: renovate comment
  kubernetes/apps/system-upgrade/system-upgrade-controller/plans/agent.yaml
  kubernetes/apps/system-upgrade/system-upgrade-controller/plans/server.yaml
  provision/ansible/roles/k3s/defaults/main.yaml
Labels: area/kubernetes

ci(renovate): add support to k3s version
  .github/renovate/packageRules.json
  kubernetes/apps/system-upgrade/system-upgrade-controller/plans/agent.yaml
  kubernetes/apps/system-upgrade/system-upgrade-controller/plans/server.yaml
  provision/ansible/roles/k3s/defaults/main.yaml
Labels: area/github, area/kubernetes

ci(renovate): add support to k3s version
  .github/renovate/customManagers.json
Labels: area/github

feat: update k3s
  kubernetes/apps/system-upgrade/system-upgrade-controller/plans/agent.yaml
  kubernetes/apps/system-upgrade/system-upgrade-controller/plans/server.yaml
  provision/ansible/roles/k3s/defaults/main.yaml
Labels: area/kubernetes

fix(system-upgrade): node selector
  kubernetes/apps/system-upgrade/system-upgrade-controller/plans/agent.yaml
  kubernetes/apps/system-upgrade/system-upgrade-controller/plans/server.yaml
Labels: area/kubernetes

feat: update k3s to v1.30.0+k3s1
  kubernetes/apps/system-upgrade/system-upgrade-controller/plans/agent.yaml
  kubernetes/apps/system-upgrade/system-upgrade-controller/plans/server.yaml
Labels: area/kubernetes

feat(crowdsec): telegram notifications
  kubernetes/apps/network/crowdsec/app/externalsecret.yaml
  kubernetes/apps/network/crowdsec/app/helmrelease.yaml
Labels: area/kubernetes

chore: add reloader annotation
  kubernetes/apps/network/crowdsec/app/helmrelease.yaml
Labels: area/kubernetes

chore: use telegram vault
  kubernetes/apps/network/crowdsec/app/externalsecret.yaml
Labels: area/kubernetes

chore: use telegram vault
  kubernetes/apps/network/crowdsec/app/externalsecret.yaml
Labels: area/kubernetes

feat(crowdsec): telegram notifications
  kubernetes/apps/network/crowdsec/app/helmrelease.yaml
Labels: area/kubernetes

chore: debug notifications
  kubernetes/apps/network/crowdsec/app/externalsecret.yaml
Labels: area/kubernetes
