Repository MrMarble/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/kubernetes, area/terraform

chore: rollback immich
  kubernetes/home-cluster/apps/default/immich/app/kustomization.yaml
  kubernetes/home-cluster/apps/default/immich/app/machine-learning/helmrelease.yaml
  kubernetes/home-cluster/apps/default/immich/app/microservices/helmrelease.yaml
  kubernetes/home-cluster/apps/default/immich/app/secret.sops.yaml
  kubernetes/home-cluster/apps/default/immich/app/server/helmrelease.yaml
  kubernetes/home-cluster/apps/default/immich/app/typesense/helmrelease.yaml
  kubernetes/home-cluster/apps/default/immich/app/typesense/kustomization.yaml
Labels: area/kubernetes

chore: fresh start
  kubernetes/home-cluster/apps/default/immich/app/secret.sops.yaml
Labels: area/kubernetes

chore: upgrade template to 2.4.0
  .taskfiles/cluster/helmrelease.tmpl.yaml
Labels: none

feat: deploy frigate
  kubernetes/home-cluster/apps/default/frigate/app/helmrelease.yaml
  kubernetes/home-cluster/apps/default/frigate/app/kustomization.yaml
  kubernetes/home-cluster/apps/default/frigate/app/resources/config.yaml
  kubernetes/home-cluster/apps/default/frigate/app/secrets.sops.yaml
  kubernetes/home-cluster/apps/default/frigate/ks.yaml
  kubernetes/home-cluster/apps/default/kustomization.yaml
  kubernetes/home-cluster/apps/default/mosquitto/app/secrets.sops.yaml
Labels: area/kubernetes

feat: deploy frigate
  kubernetes/home-cluster/apps/default/frigate/app/secrets.sops.yaml
Labels: area/kubernetes

feat: deploy frigate
  kubernetes/home-cluster/apps/default/frigate/app/kustomization.yaml
  kubernetes/home-cluster/apps/default/frigate/ks.yaml
Labels: area/kubernetes

feat: deploy frigate
  kubernetes/home-cluster/apps/default/frigate/app/resources/config.yaml
Labels: area/kubernetes

feat: deploy frigate
  kubernetes/home-cluster/apps/default/frigate/app/resources/config.yaml
  kubernetes/home-cluster/apps/default/frigate/app/secrets.sops.yaml
Labels: area/kubernetes

feat: deploy frigate
  kubernetes/home-cluster/apps/default/frigate/app/helmrelease.yaml
  kubernetes/home-cluster/apps/default/frigate/app/secrets.sops.yaml
Labels: area/kubernetes

feat: deploy frigate
  kubernetes/home-cluster/apps/default/frigate/app/helmrelease.yaml
  kubernetes/home-cluster/apps/default/frigate/app/resources/config.yaml
Labels: area/kubernetes

feat: archive frigate
  .archive/default/frigate/app/helmrelease.yaml
  .archive/default/frigate/app/kustomization.yaml
  .archive/default/frigate/app/resources/config.yaml
  .archive/default/frigate/app/secrets.sops.yaml
  .archive/default/frigate/ks.yaml
  kubernetes/home-cluster/apps/default/kustomization.yaml
Labels: area/kubernetes

feat: deploy openebs-nfs
  kubernetes/home-cluster/apps/openebs/nfs-provisioner/app/helmrelease.yaml
  kubernetes/home-cluster/apps/openebs/nfs-provisioner/app/kustomization.yaml
  kubernetes/home-cluster/apps/openebs/nfs-provisioner/ks.yaml
  kubernetes/home-cluster/flux/repositories/helm/kustomization.yaml
  kubernetes/home-cluster/flux/repositories/helm/openebs-nfs.yaml
Labels: area/kubernetes

feat: tryout openebs-nfs
  kubernetes/home-cluster/apps/default/wizarr/app/helm-release.yaml
  kubernetes/home-cluster/apps/default/wizarr/app/kustomization.yaml
  kubernetes/home-cluster/apps/default/wizarr/ks.yaml
Labels: area/kubernetes

feat: tryout openebs-nfs
  kubernetes/home-cluster/apps/default/wizarr/app/helm-release.yaml
Labels: area/kubernetes

feat: tryout openebs-nfs
  kubernetes/home-cluster/apps/default/wizarr/app/helm-release.yaml
Labels: area/kubernetes

feat: tryout openebs-nfs
  kubernetes/home-cluster/apps/default/wizarr/ks.yaml
Labels: area/kubernetes

chore: remove probes
  kubernetes/home-cluster/apps/default/immich/app/server/helmrelease.yaml
Labels: area/kubernetes

chore: remove probes
  kubernetes/home-cluster/apps/default/immich/app/secret.sops.yaml
Labels: area/kubernetes

chore: remove probes
  kubernetes/home-cluster/apps/default/immich/app/secret.sops.yaml
Labels: area/kubernetes

Actualizar helmrelease.yaml
  kubernetes/home-cluster/apps/networking/ingress-nginx/external/helmrelease.yaml
Labels: area/kubernetes

Actualizar helmrelease.yaml
  kubernetes/home-cluster/apps/networking/ingress-nginx/internal/helmrelease.yaml
Labels: area/kubernetes

chore: upgrade app-template
  kubernetes/home-cluster/apps/default/sonarr/app/helm-release.yaml
Labels: area/kubernetes

chore: upgrade app-template
  kubernetes/home-cluster/apps/openebs/nfs-provisioner/app/kustomization.yaml
Labels: area/kubernetes

feat: update Kustomization spec for prowlarr app
  kubernetes/home-cluster/apps/default/prowlarr/app/helm-release.yaml
  kubernetes/home-cluster/apps/default/prowlarr/app/kustomization.yaml
  kubernetes/home-cluster/apps/default/prowlarr/app/secret.sops.yaml
  kubernetes/home-cluster/apps/default/prowlarr/ks.yaml
Labels: area/kubernetes

feat: increase probe time
  kubernetes/home-cluster/apps/default/prowlarr/app/helm-release.yaml
Labels: area/kubernetes

feat: archive openebs-nfs
  .archive/openebs/nfs-provisioner/app/helmrelease.yaml
  .archive/openebs/nfs-provisioner/app/kustomization.yaml
  .archive/openebs/nfs-provisioner/ks.yaml
  kubernetes/home-cluster/apps/openebs/kustomization.yaml
Labels: area/kubernetes

feat: change default sc
  kubernetes/home-cluster/apps/democratic-csi/freenas-iscsi/app/helmrelease.yaml
  kubernetes/home-cluster/apps/openebs/mayastor/app/snapshot-class.yaml
Labels: area/kubernetes

feat(sonarr): remove volsync
  kubernetes/home-cluster/apps/default/sonarr/app/kustomization.yaml
  kubernetes/home-cluster/apps/default/sonarr/app/pvc.yaml
  kubernetes/home-cluster/apps/default/sonarr/ks.yaml
Labels: area/kubernetes

feat(sonarr): remove volsync
  kubernetes/home-cluster/apps/default/sonarr/app/kustomization.yaml
Labels: area/kubernetes

feat(sonarr): remove volsync
  kubernetes/home-cluster/apps/default/sonarr/app/pvc.yaml
Labels: area/kubernetes

feat: deploy system-upgrade-controller
  .github/renovate.json
  .github/renovate/groups.json
  kubernetes/home-cluster/apps/kube-system/kustomization.yaml
  kubernetes/home-cluster/apps/kube-system/system-upgrade-controller/app/helmrelease.yaml
  kubernetes/home-cluster/apps/kube-system/system-upgrade-controller/app/kustomization.yaml
  kubernetes/home-cluster/apps/kube-system/system-upgrade-controller/app/rbac.yaml
  kubernetes/home-cluster/apps/kube-system/system-upgrade-controller/ks.yaml
  kubernetes/home-cluster/apps/kube-system/system-upgrade-controller/plans/kubernetes.yaml
  kubernetes/home-cluster/apps/kube-system/system-upgrade-controller/plans/kustomization.yaml
  kubernetes/home-cluster/apps/kube-system/system-upgrade-controller/plans/talos.yaml
  provision/talos/talconfig.yaml
Labels: area/github, area/kubernetes

feat: deploy system-upgrade-controller
  kubernetes/home-cluster/apps/kube-system/system-upgrade-controller/plans/kubernetes.yaml
  kubernetes/home-cluster/apps/kube-system/system-upgrade-controller/plans/talos.yaml
Labels: area/kubernetes

ci(renovate): add support for talos
  .github/renovate.json
  .github/renovate/customManagers.json
Labels: area/github

ci(renovate): add support for talos
  .taskfiles/cluster/helmrelease.tmpl.yaml
Labels: none

ci(renovate): add support for talos
  .github/renovate/customManagers.json
Labels: area/github

chore: default nfs options
  provision/talos/talconfig.yaml
Labels: none

feat: update talos integrations
  provision/talos/integrations/cilium/cilium.yaml
  provision/talos/integrations/kubelet-csr-approver/kubelet-csr-approver.yaml
Labels: none

feat: update talos integrations
  provision/talos/talconfig.yaml
Labels: none

feat: configure webhook
  kubernetes/apps/flux-system/addons/app/kustomization.yaml
  kubernetes/apps/flux-system/addons/app/monitoring/kustomization.yaml
  kubernetes/apps/flux-system/addons/app/monitoring/podmonitor.yaml
  kubernetes/apps/flux-system/addons/app/monitoring/prometheusrule.yaml
  kubernetes/apps/flux-system/addons/app/webhooks/github/ingress.yaml
  kubernetes/apps/flux-system/addons/app/webhooks/github/kustomization.yaml
  kubernetes/apps/flux-system/addons/app/webhooks/github/receiver.yaml
  kubernetes/apps/flux-system/addons/app/webhooks/github/secrets.sops.yaml
  kubernetes/apps/flux-system/addons/app/webhooks/kustomization.yaml
  kubernetes/apps/flux-system/addons/ks.yaml
  kubernetes/apps/flux-system/kustomization.yaml
  kubernetes/apps/flux-system/namespace.yaml
  kubernetes/apps/flux-system/weave-gitops/app/helmrelease.yaml
  kubernetes/apps/flux-system/weave-gitops/app/kustomization.yaml
  kubernetes/apps/flux-system/weave-gitops/app/secrets.sops.yaml
  kubernetes/apps/flux-system/weave-gitops/ks.yaml
  kubernetes/home-cluster/apps/flux-system/addons/ks.yaml
Labels: area/kubernetes

feat: deploy core services
  kubernetes/apps/kube-system/cilium/app/bgppeeringpolicy.yaml
  kubernetes/apps/kube-system/cilium/app/helmrelease.yaml
  kubernetes/apps/kube-system/cilium/app/kustomization.yaml
  kubernetes/apps/kube-system/cilium/app/kustomizeconfig.yaml
  kubernetes/apps/kube-system/cilium/app/values.yaml
  kubernetes/apps/kube-system/cilium/ks.yaml
  kubernetes/apps/kube-system/kubelet-csr-approver/app/helmrelease.yaml
  kubernetes/apps/kube-system/kubelet-csr-approver/app/kustomization.yaml
  kubernetes/apps/kube-system/kubelet-csr-approver/app/kustomizeconfig.yaml
  kubernetes/apps/kube-system/kubelet-csr-approver/app/values.yaml
  kubernetes/apps/kube-system/kubelet-csr-approver/ks.yaml
  kubernetes/apps/kube-system/kustomization.yaml
  kubernetes/apps/kube-system/namespace.yaml
  kubernetes/home-cluster/apps/kube-system/cilium/ks.yaml
  kubernetes/home-cluster/apps/kube-system/kubelet-csr-approver/app/values.yaml
  kubernetes/home-cluster/apps/kube-system/kubelet-csr-approver/ks.yaml
  kubernetes/home-cluster/apps/kube-system/kustomization.yaml
Labels: area/kubernetes

.github/labeler.yaml:

---
area/github:
  - changed-files:
      - any-glob-to-any-file:
          - ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file:
          - "kubernetes/**/*"
area/terraform:
  - changed-files:
      - any-glob-to-any-file:
          - "provision/terraform/**/*"
