Repository MrMarble/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/kubernetes, area/terraform

.github/labeler.yaml:

---
area/github:
  - ".github/**/*"
area/kubernetes:
  - "kubernetes/**/*"
area/terraform:
  - "provision/terraform/**/*"

chore: idk
  kubernetes/home-cluster/apps/default/prowlarr/app/helm-release.yaml
Labels: area/kubernetes

feat: enable storage
  kubernetes/home-cluster/apps/default/prowlarr/app/helm-release.yaml
Labels: area/kubernetes

feat(qbittorrent): use zfs
  kubernetes/home-cluster/apps/default/qbittorrent/app/backups/replicationsource.yaml
  kubernetes/home-cluster/apps/default/qbittorrent/app/helmrelease.yaml
Labels: area/kubernetes

chore: use zfs
  kubernetes/home-cluster/apps/default/prowlarr/app/backups/replicationsource.yaml
Labels: area/kubernetes

feat: move to freenas-iscsi
  .taskfiles/volsync/ReplicationDestination.tmpl.yaml
  kubernetes/home-cluster/apps/default/esphome/app/helmrelease.yaml
  kubernetes/home-cluster/apps/default/home-assistant/app/backups/replicationsource.yaml
  kubernetes/home-cluster/apps/default/home-assistant/app/helmrelease.yaml
  kubernetes/home-cluster/apps/default/jellyfin/app/helm-release.yaml
  kubernetes/home-cluster/apps/default/jellyseerr/app/helm-release.yaml
  kubernetes/home-cluster/apps/default/mosquitto/app/helm-release.yaml
  kubernetes/home-cluster/apps/default/radarr/app/helm-release.yaml
  kubernetes/home-cluster/apps/default/sonarr/app/backups/replicationsource.yaml
  kubernetes/home-cluster/apps/default/sonarr/app/helm-release.yaml
  kubernetes/home-cluster/apps/default/wizarr/app/helm-release.yaml
  kubernetes/home-cluster/apps/default/wizarr/app/pvc.yaml
  kubernetes/home-cluster/apps/monitoring/alertmanager/app/helmrelease.yaml
  kubernetes/home-cluster/apps/monitoring/alertmanager/ks.yaml
  kubernetes/home-cluster/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
  kubernetes/home-cluster/apps/monitoring/kube-prometheus-stack/ks.yaml
Labels: area/kubernetes

feat: use iscsi
  kubernetes/home-cluster/apps/default/jellyseerr/app/helm-release.yaml
  kubernetes/home-cluster/apps/default/jellyseerr/app/kustomization.yaml
  kubernetes/home-cluster/apps/default/jellyseerr/app/pvc.yaml
Labels: area/kubernetes

feat: use iscsi
  kubernetes/home-cluster/apps/default/wizarr/app/pvc.yaml
Labels: area/kubernetes

feat: use iscsi
  kubernetes/home-cluster/apps/default/wizarr/app/pvc.yaml
Labels: area/kubernetes

feat: do not use pvc
  kubernetes/home-cluster/apps/monitoring/alertmanager/app/helmrelease.yaml
Labels: area/kubernetes

feat: remove rook-ceph
  archive/rook-ceph/kustomization.yaml
  archive/rook-ceph/namespace.yaml
  archive/rook-ceph/rook-ceph-cluster/app/helmrelease.yaml
  archive/rook-ceph/rook-ceph-cluster/app/kustomization.yaml
  archive/rook-ceph/rook-ceph-cluster/cleanup/clean-disk.yaml
  archive/rook-ceph/rook-ceph-cluster/cleanup/clean-metadata.yaml
  archive/rook-ceph/rook-ceph-cluster/ks.yaml
  archive/rook-ceph/rook-ceph-operator/app/helmrelease.yaml
  archive/rook-ceph/rook-ceph-operator/app/kustomization.yaml
  archive/rook-ceph/rook-ceph-operator/ks.yaml
Labels: none

feat: remove rook
  kubernetes/home-cluster/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/sonarr-develop to 4.0.0.604
  kubernetes/home-cluster/apps/default/sonarr/app/helm-release.yaml
Labels: area/kubernetes

feat(terraform): update terraform cloudflare to 4.12.0
  provision/terraform/cloudflare/.terraform.lock.hcl
  provision/terraform/cloudflare/main.tf
Labels: area/terraform

feat: add dependencies
  kubernetes/home-cluster/apps/default/jellyseerr/app/helm-release.yaml
Labels: area/kubernetes

fix(helm): update chart grafana to 6.58.8
  kubernetes/home-cluster/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes

feat: deploy qbit exporter
  kubernetes/home-cluster/apps/monitoring/kustomization.yaml
  kubernetes/home-cluster/apps/monitoring/qbittorrent-exporter/app/helmrelease.yaml
  kubernetes/home-cluster/apps/monitoring/qbittorrent-exporter/app/kustomization.yaml
  kubernetes/home-cluster/apps/monitoring/qbittorrent-exporter/ks.yaml
Labels: area/kubernetes

feat: add qbittorrent dashboard
  kubernetes/home-cluster/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes

fix: dont use namespace
  kubernetes/home-cluster/apps/default/prowlarr/ks.yaml
Labels: area/kubernetes

chore(deps): update image ghcr.io/recyclarr/recyclarr to
  kubernetes/home-cluster/apps/default/recyclarr/app/helm-release.yaml
Labels: area/kubernetes

chore(deps): update image ghcr.io/recyclarr/recyclarr to
  kubernetes/home-cluster/apps/default/recyclarr/app/helm-release.yaml
Labels: area/kubernetes

chore(deps): update image ghcr.io/recyclarr/recyclarr to
  kubernetes/home-cluster/apps/default/recyclarr/app/helm-release.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/justarchinet/archisteamfarm to 5.4.9.3
  kubernetes/home-cluster/apps/default/archi/app/helm-release.yaml
Labels: area/kubernetes

feat(github-action): update oxsecurity/megalinter action to v7.3.0
  .github/workflows/lint.yaml
Labels: area/github

fix(container): update image ghcr.io/onedr0p/sonarr-develop to 4.0.0.610
  kubernetes/home-cluster/apps/default/sonarr/app/helm-release.yaml
Labels: area/kubernetes

chore(deps): update image quay.io/prometheus/alertmanager to
  kubernetes/home-cluster/apps/monitoring/alertmanager/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart reloader to 1.0.36
  kubernetes/home-cluster/apps/kube-system/reloader/app/helmrelease.yaml
Labels: area/kubernetes

feat: use template
  kubernetes/home-cluster/apps/default/wizarr/app/helm-release.yaml
  kubernetes/home-cluster/apps/default/wizarr/app/pvc.yaml
Labels: area/kubernetes

feat: use template
  kubernetes/home-cluster/apps/default/wizarr/app/kustomization.yaml
Labels: area/kubernetes

feat: update api keys
  kubernetes/home-cluster/flux/vars/cluster-secrets.sops.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to 1.8.2.3856
  kubernetes/home-cluster/apps/default/prowlarr/app/helm-release.yaml
Labels: area/kubernetes

feat: remove kyverno policy in favor of k8tz
  kubernetes/home-cluster/apps/kube-system/k8tz/app/helmrelease.yaml
  kubernetes/home-cluster/apps/kube-system/k8tz/app/kustomization.yaml
  kubernetes/home-cluster/apps/kube-system/k8tz/app/pki.yaml
  kubernetes/home-cluster/apps/kube-system/k8tz/ks.yaml
  kubernetes/home-cluster/apps/kube-system/kustomization.yaml
  kubernetes/home-cluster/apps/kyverno/kyverno/policies/inject-tz.yaml
Labels: area/kubernetes

fix(container): update image kyverno to 3.0.5
  kubernetes/home-cluster/apps/kyverno/kyverno/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/home-assistant to 2023.8.2
  kubernetes/home-cluster/apps/default/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to 1.8.3.3863
  kubernetes/home-cluster/apps/default/prowlarr/app/helm-release.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/sonarr-develop to 4.0.0.625
  kubernetes/home-cluster/apps/default/sonarr/app/helm-release.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/radarr-develop to 4.7.5.7809
  kubernetes/home-cluster/apps/default/radarr/app/helm-release.yaml
Labels: area/kubernetes

feat: add k8tz repo
  kubernetes/home-cluster/apps/kube-system/k8tz/app/kustomization.yaml
  kubernetes/home-cluster/flux/repositories/helm/k8tz.yaml
  kubernetes/home-cluster/flux/repositories/helm/kustomization.yaml
Labels: area/kubernetes

chore(task): add cluster tasks
  .taskfiles/cluster/Taskfile.yaml
  .taskfiles/cluster/helmrepository.templ.yaml
Labels: none

refactor: use env for cluster secrets
  .sops.yaml
  kubernetes/home-cluster/flux/vars/cluster-secrets.sops.env
  kubernetes/home-cluster/flux/vars/cluster-secrets.sops.yaml
  kubernetes/home-cluster/flux/vars/cluster-settings.env
  kubernetes/home-cluster/flux/vars/cluster-settings.yaml
  kubernetes/home-cluster/flux/vars/kustomization.yaml
Labels: area/kubernetes

feat(radarr): configure volsync
  kubernetes/home-cluster/apps/default/radarr/app/kustomization.yaml
  kubernetes/home-cluster/apps/default/radarr/app/volsync.yaml
Labels: area/kubernetes
