Repository MrMarble/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/kubernetes, area/terraform

.github/labeler.yaml:

---
area/github:
  - changed-files:
      - any-glob-to-any-file:
          - ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file:
          - "kubernetes/**/*"
area/terraform:
  - changed-files:
      - any-glob-to-any-file:
          - "provision/terraform/**/*"

fix(jellystat): permissions
  kubernetes/apps/default/jellystat/app/helmrelease.yaml
  kubernetes/apps/default/jellystat/app/secret.sops.yaml
Labels: area/kubernetes

fix(jellystat): use unstable branch
  kubernetes/apps/default/jellystat/app/helmrelease.yaml
Labels: area/kubernetes

fix: cloudflared config
  kubernetes/apps/networking/cloudflared/app/kustomization.yaml
Labels: area/kubernetes

fix: cloudflared config
  kubernetes/apps/networking/cloudflared/app/helmrelease.yaml
Labels: area/kubernetes

fix: cloudflared config
  kubernetes/apps/networking/cloudflared/app/helmrelease.yaml
Labels: area/kubernetes

fix: cloudflared config
  kubernetes/apps/networking/cloudflared/app/helmrelease.yaml
Labels: area/kubernetes

feat: deploy gatus
  kubernetes/apps/monitoring/gatus/app/helmrelease.yaml
  kubernetes/apps/monitoring/gatus/app/kustomization.yaml
  kubernetes/apps/monitoring/gatus/app/rbac.yaml
  kubernetes/apps/monitoring/gatus/app/resources/config.yaml
  kubernetes/apps/monitoring/gatus/app/secrets.sops.yaml
  kubernetes/apps/monitoring/gatus/ks.yaml
  kubernetes/apps/monitoring/kustomization.yaml
Labels: area/kubernetes

feat: configure gatus endpoints
  kubernetes/apps/default/archi/app/kustomization.yaml
  kubernetes/apps/default/immich/app/kustomization.yaml
  kubernetes/apps/default/jellyfin/app/kustomization.yaml
  kubernetes/apps/default/jellyseerr/app/kustomization.yaml
  kubernetes/apps/default/jellystat/app/kustomization.yaml
  kubernetes/apps/default/jellystat/ks.yaml
  kubernetes/apps/default/kromgo/app/kustomization.yaml
  kubernetes/apps/default/kromgo/ks.yaml
  kubernetes/apps/default/prowlarr/app/kustomization.yaml
  kubernetes/apps/default/qbittorrent/app/kustomization.yaml
  kubernetes/apps/default/qbittorrent/ks.yaml
  kubernetes/apps/default/radarr/app/kustomization.yaml
  kubernetes/apps/default/sonarr/app/kustomization.yaml
  kubernetes/apps/default/sonarr/ks.yaml
  kubernetes/apps/flux-system/weave-gitops/app/kustomization.yaml
  kubernetes/apps/flux-system/weave-gitops/ks.yaml
  kubernetes/templates/gatus/external/configmap.yaml
  kubernetes/templates/gatus/guarded/configmap.yaml
Labels: area/kubernetes

docs: add status page monitor
  README.md
Labels: none

feat: deploy syncthing
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/default/syncthing/app/helmrelease.yaml
  kubernetes/apps/default/syncthing/app/kustomization.yaml
  kubernetes/apps/default/syncthing/ks.yaml
Labels: area/kubernetes

feat: deploy nfs-provisioner
  kubernetes/apps/storage/kustomization.yaml
  kubernetes/apps/storage/nfs-provisioner/app/helmrelease.yaml
  kubernetes/apps/storage/nfs-provisioner/app/kustomization.yaml
  kubernetes/apps/storage/nfs-provisioner/app/storageclass.yaml
  kubernetes/apps/storage/nfs-provisioner/ks.yaml
  kubernetes/flux/repositories/helm/kubernetes-sigs-nfs-provisioner.yaml
  kubernetes/flux/repositories/helm/kustomization.yaml
Labels: area/kubernetes

fix: use nfs provisioner
  kubernetes/apps/default/syncthing/app/helmrelease.yaml
  kubernetes/apps/default/syncthing/app/pvc.yaml
Labels: area/kubernetes

fix: use nfs provisioner
  kubernetes/apps/default/syncthing/app/kustomization.yaml
Labels: area/kubernetes

chore: archive cleanup
  .archive/database/kustomization.yaml
  .archive/database/namespace.yaml
  .archive/default/jellyfin/app/helm-release.yaml
  .archive/default/jellyfin/app/kustomization.yaml
  .archive/default/jellyfin/app/volsync.yaml
  .archive/default/jellyfin/ks.yaml
  .archive/default/sonarr/app/helm-release.yaml
  .archive/default/sonarr/app/kustomization.yaml
  .archive/default/sonarr/app/pvc.yaml
  .archive/default/sonarr/ks.yaml
  .archive/democratic-csi/local-hostpath/app/helmrelease.yaml
  .archive/democratic-csi/local-hostpath/app/kustomization.yaml
  .archive/democratic-csi/local-hostpath/ks.yaml
  .archive/home/ArchiSteamFarm/helm-release.yaml
  .archive/home/ArchiSteamFarm/kustomization.yaml
  .archive/monitoring/kube-prometheus-stack/app/helmrelease.yaml
  .archive/monitoring/kube-prometheus-stack/app/kustomization.yaml
  .archive/monitoring/kube-prometheus-stack/ks.yaml
  .archive/networking/echo-server/app/helmrelease.yaml
  .archive/networking/echo-server/app/kustomization.yaml
  .archive/networking/echo-server/ks.yaml
  .archive/openebs/kustomization.yaml
  .archive/openebs/namespace.yaml
  .archive/system-upgrade/kustomization.yaml
  .archive/system-upgrade/system-upgrade-controller/kustomization.yaml
  .archive/system-upgrade/system-upgrade-controller/plans/agent.yaml
  .archive/system-upgrade/system-upgrade-controller/plans/kustomization.yaml
  .archive/system-upgrade/system-upgrade-controller/plans/server.yaml
  .archive/system-upgrade/system-upgrade-controller/system-upgrade-patches.yaml
  .archive/volsync/kustomization.yaml
  .archive/volsync/namespace.yaml
  .archive/volsync/volsync/app/helmrelease.yaml
  .archive/volsync/volsync/app/kustomization.yaml
  .archive/volsync/volsync/app/prometheusrule.yaml
  .archive/volsync/volsync/ks.yaml
Labels: none

build: add missing properties
  .taskfiles/cluster/helmrelease.tmpl.yaml
Labels: none

build: add missing properties
  .taskfiles/cluster/helmrelease.tmpl.yaml
Labels: none

build: add missing properties
  .taskfiles/cluster/ks.tmpl.yaml
Labels: none

feat: deploy firefly
  kubernetes/apps/default/firefly-iii/app/helmrelease.yaml
  kubernetes/apps/default/firefly-iii/app/kustomization.yaml
  kubernetes/apps/default/firefly-iii/app/secret.sops.yaml
  kubernetes/apps/default/firefly-iii/ks.yaml
  kubernetes/apps/default/kustomization.yaml
Labels: area/kubernetes

feat: deploy firefly
  kubernetes/apps/default/firefly-iii/ks.yaml
Labels: area/kubernetes

feat: deploy firefly
  kubernetes/apps/default/firefly-iii/ks.yaml
Labels: area/kubernetes

feat: deploy firefly
  kubernetes/apps/default/firefly-iii/app/helmrelease.yaml
Labels: area/kubernetes

feat: deploy firefly
  kubernetes/apps/default/firefly-iii/app/kustomization.yaml
Labels: area/kubernetes

feat: deploy firefly
  kubernetes/apps/default/firefly-iii/app/helmrelease.yaml
Labels: area/kubernetes

feat(firefly): deploy cronjob
  kubernetes/apps/default/firefly-iii/app/helmrelease.yaml
  kubernetes/apps/default/firefly-iii/app/secret.sops.yaml
Labels: area/kubernetes

feat: deploy firefly-importer
  kubernetes/apps/default/firefly-iii/importer/helmrelease.yaml
  kubernetes/apps/default/firefly-iii/importer/kustomization.yaml
  kubernetes/apps/default/firefly-iii/ks.yaml
Labels: area/kubernetes

feat: deploy firefly-importer
  kubernetes/apps/default/firefly-iii/importer/helmrelease.yaml
Labels: area/kubernetes

feat: qbittorrent script
  kubernetes/apps/default/qbittorrent/app/helmrelease.yaml
  kubernetes/apps/default/qbittorrent/app/kustomization.yaml
  kubernetes/apps/default/qbittorrent/app/resources/completed.sh
Labels: area/kubernetes

feat(descheduler): dont balance nodes
  kubernetes/apps/tools/descheduler/app/helmrelease.yaml
Labels: area/kubernetes

feat: archive firefly-iii
  .archive/default/firefly-iii/app/helmrelease.yaml
  .archive/default/firefly-iii/app/kustomization.yaml
  .archive/default/firefly-iii/app/secret.sops.yaml
  .archive/default/firefly-iii/importer/helmrelease.yaml
  .archive/default/firefly-iii/importer/kustomization.yaml
  .archive/default/firefly-iii/ks.yaml
  kubernetes/apps/default/kustomization.yaml
Labels: area/kubernetes

fix: downgrade redis
  kubernetes/apps/database/redis/app/helmrelease.yaml
Labels: area/kubernetes

fix(talos) add namespace
  provision/talos/talconfig.yaml
Labels: none

feat: add crds
  kubernetes/apps/tools/system-upgrade-controller/app/kustomization.yaml
Labels: area/kubernetes

chore: add renovate url
  kubernetes/apps/tools/system-upgrade-controller/app/kustomization.yaml
Labels: area/kubernetes

feat: confire cache
  provision/terraform/cloudflare/cache.tf
Labels: area/terraform

feat: upgrade pgvector
  kubernetes/apps/database/postgres/cluster/cluster.yaml
Labels: area/kubernetes

feat: Add --not-working flag to qbittorrent command
  kubernetes/apps/default/qbittorrent/tools/helmrelease.yaml
Labels: area/kubernetes

feat: archive syncthing
  .archive/default/syncthing/app/helmrelease.yaml
  .archive/default/syncthing/app/kustomization.yaml
  .archive/default/syncthing/app/pvc.yaml
  .archive/default/syncthing/ks.yaml
  kubernetes/apps/default/kustomization.yaml
Labels: area/kubernetes

fix: dont replace custom formats
  kubernetes/apps/default/recyclarr/app/resources/recyclarr.yml
Labels: area/kubernetes

chore: sync config
  provision/talos/integrations/cilium/cilium.yaml
  provision/talos/integrations/cilium/kustomization.yaml
  provision/talos/integrations/kubelet-csr-approver/kubelet-csr-approver.yaml
Labels: none

chore: update talos config
  provision/talos/integrations/cilium/cilium.yaml
  provision/talos/integrations/kubelet-csr-approver/kubelet-csr-approver.yaml
Labels: none
