Repository MrMarble/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/kubernetes, area/terraform

feat: deploy volsync
  kubernetes/home-cluster/apps/volsync/volsync/app/helmrelease.yaml
  kubernetes/home-cluster/apps/volsync/volsync/app/kustomization.yaml
Labels: area/kubernetes

feat: deploy volsync
  kubernetes/home-cluster/flux/repositories/helm/backube.yaml
  kubernetes/home-cluster/flux/repositories/helm/kustomization.yaml
Labels: area/kubernetes

feat(home-assistant): configure volsync
  kubernetes/home-cluster/apps/default/home-assistant/app/backups/kustomization.yaml
  kubernetes/home-cluster/apps/default/home-assistant/app/backups/replicationsource.yaml
  kubernetes/home-cluster/apps/default/home-assistant/app/backups/secrets.sops.yaml
  kubernetes/home-cluster/flux/vars/cluster-secrets.sops.yaml
Labels: area/kubernetes

feat(home-assistant): configure volsync
  kubernetes/home-cluster/apps/default/home-assistant/app/backups/secrets.sops.yaml
Labels: area/kubernetes

feat(home-assistant): configure volsync
  kubernetes/home-cluster/apps/kube-system/kustomization.yaml
  kubernetes/home-cluster/apps/kube-system/snapshot-controller/app/helmrelease.yaml
  kubernetes/home-cluster/apps/kube-system/snapshot-controller/app/kustomization.yaml
  kubernetes/home-cluster/apps/kube-system/snapshot-controller/ks.yaml
Labels: area/kubernetes

feat: configure volsync
  kubernetes/home-cluster/flux/repositories/helm/kustomization.yaml
  kubernetes/home-cluster/flux/repositories/helm/piraeus.yaml
Labels: area/kubernetes

fix: permissions
  kubernetes/home-cluster/apps/default/home-assistant/app/backups/replicationsource.yaml
Labels: area/kubernetes

feat(home-assistant): add to homepage
  kubernetes/home-cluster/apps/default/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes

feat: deploy theme-park
  kubernetes/home-cluster/apps/default/kustomization.yaml
  kubernetes/home-cluster/apps/default/theme-park/app/helm-release.yaml
  kubernetes/home-cluster/apps/default/theme-park/app/kustomization.yaml
  kubernetes/home-cluster/apps/default/theme-park/ks.yaml
Labels: area/kubernetes

ci: remove old workflow
  .github/workflows-archive/schedule-cloudflare-proxied-networks.yaml
  .github/workflows-archive/terraform.yaml
  .github/workflows/schedule-link-checker.yaml
Labels: area/github

feat: deploy qbittorrent
  kubernetes/home-cluster/apps/default/kustomization.yaml
  kubernetes/home-cluster/apps/default/qbittorrent/app/backups/kustomization.yaml
  kubernetes/home-cluster/apps/default/qbittorrent/app/backups/replicationsource.yaml
  kubernetes/home-cluster/apps/default/qbittorrent/app/backups/secrets.sops.yaml
  kubernetes/home-cluster/apps/default/qbittorrent/app/helmrelease.yaml
Labels: area/kubernetes

feat: deploy qbittorrent
  kubernetes/home-cluster/apps/default/qbittorrent/app/helmrelease.yaml
  provision/talos/talconfig.yaml
Labels: area/kubernetes

fix(helm): update chart reloader to 1.0.31
  kubernetes/home-cluster/apps/kube-system/reloader/app/helmrelease.yaml
Labels: area/kubernetes

fix: upgrade memory
  kubernetes/home-cluster/apps/rook-ceph/rook-ceph-cluster/app/helmrelease.yaml
Labels: area/kubernetes

fix: upgrade memory
  kubernetes/home-cluster/apps/rook-ceph/rook-ceph-cluster/app/helmrelease.yaml
Labels: area/kubernetes

feat: deploy csi addons
  kubernetes/home-cluster/apps/csi-addons-system/csi-addons-system/ks.yaml
  kubernetes/home-cluster/apps/csi-addons-system/kustomization.yaml
  kubernetes/home-cluster/apps/csi-addons-system/namespace.yaml
  kubernetes/home-cluster/flux/repositories/git/kubernetes-csi-addons.yaml
  kubernetes/home-cluster/flux/repositories/git/kustomization.yaml
Labels: area/kubernetes

fix: upgrade memory
  kubernetes/home-cluster/apps/rook-ceph/rook-ceph-cluster/app/helmrelease.yaml
Labels: area/kubernetes

chore: volsync tasks
  .taskfiles/_scripts/wait-for-k8s-job.sh
  .taskfiles/debug.yml
  .taskfiles/volsync/ListJob.tmpl.yaml
  .taskfiles/volsync/Taskfile.yaml
Labels: none

chore: volsync tasks
  Taskfile.yml
Labels: none

fix(container): update image ghcr.io/benphelps/homepage to v0.6.22
  kubernetes/home-cluster/apps/default/homepage/app/helmrelease.yaml
Labels: area/kubernetes

feat: deploy qbittorrent
  kubernetes/home-cluster/apps/rook-ceph/rook-ceph-cluster/app/helmrelease.yaml
Labels: area/kubernetes

feat: deploy qbittorrent
  kubernetes/home-cluster/apps/rook-ceph/rook-ceph-cluster/app/helmrelease.yaml
Labels: area/kubernetes

feat: deploy qbittorrent
  kubernetes/home-cluster/apps/rook-ceph/rook-ceph-cluster/app/helmrelease.yaml
Labels: area/kubernetes

feat: deploy qbittorrent
  kubernetes/home-cluster/apps/rook-ceph/rook-ceph-cluster/app/helmrelease.yaml
Labels: area/kubernetes

feat: deploy qbittorrent
  kubernetes/home-cluster/apps/rook-ceph/rook-ceph-cluster/app/helmrelease.yaml
Labels: area/kubernetes

feat: deploy qbittorrent
  kubernetes/home-cluster/apps/rook-ceph/rook-ceph-cluster/app/helmrelease.yaml
Labels: area/kubernetes

feat: deploy prowlarr
  kubernetes/home-cluster/apps/default/kustomization.yaml
  kubernetes/home-cluster/apps/default/prowlarr/app/helm-release.yaml
  kubernetes/home-cluster/apps/default/prowlarr/app/kustomization.yaml
  kubernetes/home-cluster/apps/default/prowlarr/ks.yaml
Labels: area/kubernetes

feat: deploy prowlarr
  kubernetes/home-cluster/apps/default/prowlarr/app/helm-release.yaml
Labels: area/kubernetes

feat: deploy prowlarr
  kubernetes/home-cluster/apps/default/prowlarr/app/helm-release.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to 1.7.3.3741
  kubernetes/home-cluster/apps/default/prowlarr/app/helm-release.yaml
Labels: area/kubernetes

feat: deploy sonarr
  kubernetes/home-cluster/apps/default/kustomization.yaml
  kubernetes/home-cluster/apps/default/sonarr/app/backups/kustomization.yaml
  kubernetes/home-cluster/apps/default/sonarr/app/backups/replicationsource.yaml
  kubernetes/home-cluster/apps/default/sonarr/app/backups/secrets.sops.yaml
  kubernetes/home-cluster/apps/default/sonarr/app/helm-release.yaml
  kubernetes/home-cluster/apps/default/sonarr/app/kustomization.yaml
  kubernetes/home-cluster/apps/default/sonarr/ks.yaml
Labels: area/kubernetes

feat: deploy sonarr
  kubernetes/home-cluster/apps/default/sonarr/app/helm-release.yaml
Labels: area/kubernetes

feat: deploy sonarr
  kubernetes/home-cluster/apps/default/sonarr/app/helm-release.yaml
Labels: area/kubernetes

feat: deploy sonarr
  kubernetes/home-cluster/apps/default/sonarr/app/helm-release.yaml
Labels: area/kubernetes

feat: deploy radarr
  kubernetes/home-cluster/apps/default/kustomization.yaml
  kubernetes/home-cluster/apps/default/radarr/app/helm-release.yaml
  kubernetes/home-cluster/apps/default/radarr/app/kustomization.yaml
  kubernetes/home-cluster/apps/default/radarr/ks.yaml
Labels: area/kubernetes

feat: deploy radarr
  kubernetes/home-cluster/apps/default/radarr/app/kustomization.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/onedr0p/radarr-develop to 4.7.1.7640
  kubernetes/home-cluster/apps/default/radarr/app/helm-release.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/sonarr-develop to 4.0.0.575
  kubernetes/home-cluster/apps/default/sonarr/app/helm-release.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/benphelps/homepage to v0.6.23
  kubernetes/home-cluster/apps/default/homepage/app/helmrelease.yaml
Labels: area/kubernetes

feat: add rook dependency
  kubernetes/home-cluster/apps/default/prowlarr/app/backups/kustomization.yaml
  kubernetes/home-cluster/apps/default/prowlarr/app/backups/replicationsource.yaml
  kubernetes/home-cluster/apps/default/prowlarr/app/backups/secrets.sops.yaml
  kubernetes/home-cluster/apps/default/prowlarr/app/helm-release.yaml
  kubernetes/home-cluster/apps/default/radarr/app/helm-release.yaml
Labels: area/kubernetes

.github/labeler.yaml:

---
area/github:
  - ".github/**/*"
area/kubernetes:
  - "kubernetes/**/*"
area/terraform:
  - "provision/terraform/**/*"
