Repository MrMarble/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/docs, area/github, area/kubernetes, area/renovate, area/taskfile

docs: update badge
  README.md
Labels: area/docs

fix(renovate): remove unused config
  .renovaterc.json5
Labels: area/renovate

chore: add vscode extension
  .vscode/extensions.json
Labels: none

docs: update hardware
  docs/src/overview/hardware.md
Labels: area/docs

chore(external-secrets): update apiVersion
  .taskfiles/cluster/externalsecret.templ.yaml
  kubernetes/apps/database/postgres/app/externalsecret.yaml
  kubernetes/apps/default/cross-seed/app/externalsecret.yaml
  kubernetes/apps/default/immich/app/externalsecret.yaml
  kubernetes/apps/default/paperless/app/externalsecret.yaml
  kubernetes/apps/default/prowlarr/app/externalsecret.yaml
  kubernetes/apps/default/psitransfer/app/externalsecret.yaml
  kubernetes/apps/default/qbittorrent/app/externalsecret.yaml
  kubernetes/apps/default/radarr-4k/app/externalsecret.yaml
  kubernetes/apps/default/radarr/app/externalsecret.yaml
  kubernetes/apps/default/sabnzbd/app/externalsecret.yaml
  kubernetes/apps/default/sonarr/app/externalsecret.yaml
  kubernetes/apps/external-secrets/external-secrets/stores/onepassword/clustersecretstore.yaml
  kubernetes/apps/flux-system/addons/app/notifications/github/externalsecret.yaml
  kubernetes/apps/flux-system/addons/app/webhooks/github/externalsecret.yaml
  kubernetes/apps/longhorn/longhorn/app/externalsecret.yaml
  kubernetes/apps/network/cloudflared/app/externalsecret.yaml
  kubernetes/apps/network/crowdsec/app/externalsecret.yaml
  kubernetes/apps/network/external-dns/app/externalsecret.yaml
Labels: area/kubernetes, area/taskfile

feat(prowlarr): update app-template
  kubernetes/apps/default/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

feat(prowlarr): update app-template
  kubernetes/apps/default/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(cilium): remove deprecated setting
  kubernetes/apps/kube-system/cilium/app/values.yaml
Labels: area/kubernetes

fix(cilium): remove deprecated setting
  kubernetes/apps/kube-system/cilium/app/values.yaml
Labels: area/kubernetes

fix(cilium): remove deprecated setting
  kubernetes/apps/kube-system/cilium/app/values.yaml
Labels: area/kubernetes

fix(cilium): remove deprecated setting
  kubernetes/apps/kube-system/cilium/app/values.yaml
Labels: area/kubernetes

fix(cilium): why dont work
  kubernetes/apps/kube-system/cilium/app/values.yaml
Labels: area/kubernetes

fix(k8s-gateway): update config
  kubernetes/apps/network/k8s-gateway/app/helmrelease.yaml
Labels: area/kubernetes

fix(cilium): why dont work
  kubernetes/apps/kube-system/cilium/app/bgppeeringpolicy.yaml
Labels: area/kubernetes

fix(cilium): why dont work
  kubernetes/apps/kube-system/cilium/app/bgppeeringpolicy.yaml
Labels: area/kubernetes

fix(cilium): why dont work
  kubernetes/apps/kube-system/cilium/app/bgppeeringpolicy.yaml
Labels: area/kubernetes

fix(cilium): why dont work
  kubernetes/apps/kube-system/cilium/app/bgppeeringpolicy.yaml
Labels: area/kubernetes

fix(cilium): update annotation
  kubernetes/apps/database/postgres/cluster/service.yaml
  kubernetes/apps/default/jellyfin/app/helmrelease.yaml
  kubernetes/apps/default/qbittorrent/app/helmrelease.yaml
  kubernetes/apps/network/ingress-nginx/external/helmrelease.yaml
  kubernetes/apps/network/ingress-nginx/internal/helmrelease.yaml
Labels: area/kubernetes

ci(renovate): fix file name
  .github/workflows/renovate.yaml
Labels: area/github

fix(prowlarr): recreate service
  kubernetes/apps/default/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

chore(prowlarr): reset port number
  kubernetes/apps/default/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

chore(cert-manager): update config
  kubernetes/apps/cert-manager/cert-manager/app/helmrelease.yaml
Labels: area/kubernetes

chore: remove crowdsec
  kubernetes/apps/network/kustomization.yaml
Labels: area/kubernetes

chore: k8s-gateway config
  kubernetes/apps/network/k8s-gateway/app/helmrelease.yaml
Labels: area/kubernetes

chore:halp
  kubernetes/apps/network/ingress-nginx/external/helmrelease.yaml
Labels: area/kubernetes

chore:halp
  kubernetes/apps/network/ingress-nginx/external/helmrelease.yaml
Labels: area/kubernetes

feat: deploy gatus
  kubernetes/apps/monitor/gatus/app/helmrelease.yaml
  kubernetes/apps/monitor/gatus/app/kustomization.yaml
  kubernetes/apps/monitor/gatus/app/pvc.yaml
  kubernetes/apps/monitor/gatus/app/resources/config.yaml
  kubernetes/apps/monitor/gatus/ks.yaml
  kubernetes/apps/monitor/kustomization.yaml
Labels: area/kubernetes

feat: deploy gatus
  kubernetes/flux/repositories/oci/app-template.yaml
  kubernetes/flux/repositories/oci/kustomization.yaml
Labels: area/kubernetes

feat: deploy gatus
  kubernetes/apps/monitor/kustomization.yaml
  kubernetes/components/common/kustomization.yaml
  kubernetes/components/common/repos/app-template/kustomization.yaml
  kubernetes/components/common/repos/app-template/ocirepository.yaml
  kubernetes/components/common/repos/kustomization.yaml
Labels: area/kubernetes

feat: deploy gatus
  kubernetes/flux/repositories/kustomization.yaml
Labels: area/kubernetes

feat: deploy gatus
  kubernetes/apps/monitor/kustomization.yaml
  kubernetes/components/common/kustomization.yaml
  kubernetes/components/common/namespace.yaml
Labels: area/kubernetes

feat: deploy gatus
  kubernetes/apps/monitor/kustomization.yaml
  kubernetes/apps/monitor/namespace.yaml
Labels: area/kubernetes

feat: deploy gatus
  kubernetes/apps/monitor/gatus/ks.yaml
Labels: area/kubernetes

feat: deploy gatus
  kubernetes/apps/monitor/kromgo/ks.yaml
  kubernetes/apps/monitor/prometheus-operator-crds/ks.yaml
  kubernetes/apps/monitor/prometheus/ks.yaml
  kubernetes/components/common/kustomization.yaml
  kubernetes/components/common/sops/kustomization.yaml
  kubernetes/components/common/sops/secret.sops.yaml
Labels: area/kubernetes

feat: deploy gatus
  kubernetes/components/common/sops/secret.sops.yaml
Labels: area/kubernetes

feat: deploy gatus
  kubernetes/flux/config/cluster.yaml
Labels: area/kubernetes

feat: deploy gatus
  kubernetes/apps/monitor/kromgo/ks.yaml
  kubernetes/apps/monitor/kustomization.yaml
  kubernetes/apps/monitor/prometheus-operator-crds/ks.yaml
  kubernetes/apps/monitor/prometheus/ks.yaml
Labels: area/kubernetes

feat: deploy gatus
  kubernetes/apps/monitor/kustomization.yaml
Labels: area/kubernetes

feat: try to deploy gatus
  kubernetes/apps/monitor/gatus/app/helmrelease.yaml
  kubernetes/apps/monitor/gatus/ks.yaml
  kubernetes/apps/monitor/kustomization.yaml
  kubernetes/flux/repositories/oci/kustomization.yaml
  kubernetes/flux/repositories/oci/ocirepository.yaml
Labels: area/kubernetes

feat: try to deploy gatus
  kubernetes/apps/monitor/gatus/app/helmrelease.yaml
Labels: area/kubernetes

.github/labeler.yaml:

---
area/ansible:
  - changed-files:
      - any-glob-to-any-file: "provision/ansible/**/*"
area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "README.md"
          - "docs/**/*"
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
area/renovate:
  - changed-files:
      - any-glob-to-any-file:
          - ".renovate/**/*"
          - ".renovaterc.json5"
area/taskfile:
  - changed-files:
      - any-glob-to-any-file:
          - ".taskfiles/**/*"
          - "Taskfile.yaml"
