Repository MrMarble/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/kubernetes, area/terraform

.github/labeler.yaml:

---
area/github:
  - ".github/**/*"
area/kubernetes:
  - "kubernetes/**/*"
area/terraform:
  - "provision/terraform/**/*"

feat: deploy immich
  kubernetes/home-cluster/apps/default/immich/app/configmap.yaml
  kubernetes/home-cluster/apps/default/immich/app/kustomization.yaml
  kubernetes/home-cluster/apps/default/immich/app/machine-learning/helmrelease.yaml
  kubernetes/home-cluster/apps/default/immich/app/machine-learning/kustomization.yaml
  kubernetes/home-cluster/apps/default/immich/app/microservices/helmrelease.yaml
  kubernetes/home-cluster/apps/default/immich/app/microservices/kustomization.yaml
  kubernetes/home-cluster/apps/default/immich/app/pvc.yaml
  kubernetes/home-cluster/apps/default/immich/app/secret.sops.yaml
  kubernetes/home-cluster/apps/default/immich/app/server/helmrelease.yaml
  kubernetes/home-cluster/apps/default/immich/app/server/kustomization.yaml
  kubernetes/home-cluster/apps/default/immich/app/typesense/helmrelease.yaml
  kubernetes/home-cluster/apps/default/immich/app/typesense/kustomization.yaml
  kubernetes/home-cluster/apps/default/immich/app/web/helmrelease.yaml
  kubernetes/home-cluster/apps/default/immich/app/web/kustomization.yaml
  kubernetes/home-cluster/apps/default/immich/ks.yaml
  kubernetes/home-cluster/apps/default/kustomization.yaml
Labels: area/kubernetes

feat: add homepage link
  kubernetes/home-cluster/apps/default/immich/app/web/helmrelease.yaml
Labels: area/kubernetes

chore(deps): update image ghcr.io/recyclarr/recyclarr to
  kubernetes/archive/media-automation/recyclarr/helm-release.yaml
Labels: area/kubernetes

fix(container): update image docker.io/bobokun/qbit_manage to v4.0.4
  kubernetes/archive/media/qbittorrent/qbit-manage/helm-release.yaml
Labels: area/kubernetes

fix(container): update image eclipse-mosquitto to 2.0.17
  kubernetes/archive/home/mosquitto/helm-release.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/qbittorrent to 4.5.5
  kubernetes/archive/media/qbittorrent/helm-release.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/theme-park to 1.13.11
  kubernetes/archive/web-tools/theme-park/helm-release.yaml
Labels: area/kubernetes

fix(container): update image kyverno to 3.0.5
  kubernetes/archive/kyverno/kyverno/helm-release.yaml
Labels: area/kubernetes

fix(helm): update chart homepage to 1.2.1
  kubernetes/archive/default/gethomepage/helm-release.yaml
Labels: area/kubernetes

fix(helm): update chart rook-ceph to v1.12.4
  kubernetes/archive/rook-ceph/rook-ceph-operator/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart rook-ceph-cluster to v1.12.4
  kubernetes/archive/rook-ceph/rook-ceph-cluster/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image docker.io/fallenbagel/jellyseerr to 1.7.0
  kubernetes/archive/media/jellyseerr/helm-release.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/onedr0p/home-assistant to 2023.9.2
  kubernetes/archive/home/home-assistant/helm-release.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/onedr0p/radarr-develop to 4.7.5.7809
  kubernetes/archive/media-automation/radarr/helm-release.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/onedr0p/unpackerr to 0.12.0
  kubernetes/archive/media-automation/unpackerr/helm-release.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/prymitive/karma to v0.115
  kubernetes/archive/monitoring/karma/deployment.yaml
Labels: area/kubernetes

feat(github-release): update k3s-io/k3s to v1.28.1+k3s1
  kubernetes/archive/system-upgrade/system-upgrade-controller/plans/agent.yaml
  kubernetes/archive/system-upgrade/system-upgrade-controller/plans/server.yaml
Labels: area/kubernetes

feat(container)!: Update image ghcr.io/onedr0p/radarr-develop to 5.0.1.7993
  kubernetes/archive/media-automation/radarr/helm-release.yaml
Labels: area/kubernetes

feat(container)!: Update image ghcr.io/wizarrrr/wizarr to 3.0.1
  kubernetes/archive/web-tools/wizarr/helm-release.yaml
Labels: area/kubernetes

ci(renovate): exclude archive
  .github/renovate.json
Labels: area/github

ci(renovate): fix config
  .github/renovate.json
Labels: area/github

fix(container): update image docker.io/typesense/typesense to 0.25.1
  kubernetes/home-cluster/apps/default/immich/app/typesense/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/immich-app/immich-machine-learning to v1.78.1
  kubernetes/home-cluster/apps/default/immich/app/machine-learning/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/immich-app/immich-server to v1.78.1
  kubernetes/home-cluster/apps/default/immich/app/microservices/helmrelease.yaml
  kubernetes/home-cluster/apps/default/immich/app/server/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/immich-app/immich-web to v1.78.1
  kubernetes/home-cluster/apps/default/immich/app/web/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update chart redis to 17.17.1
  kubernetes/home-cluster/apps/database/redis/app/helmrelease.yaml
Labels: area/kubernetes

feat(github-action)!: Update tibdex/github-app-token action to v2
  .github/workflows/deploy-docs.yaml
  .github/workflows/helm-release-differ.yaml
  .github/workflows/lint.yaml
  .github/workflows/meta-label-size.yaml
  .github/workflows/meta-labeler.yaml
  .github/workflows/meta-sync-labels.yaml
  .github/workflows/schedule-link-checker.yaml
  .github/workflows/schedule-renovate.yaml
Labels: area/github

feat(helm)!: Update chart redis to 18.0.4
  kubernetes/home-cluster/apps/database/redis/app/helmrelease.yaml
Labels: area/kubernetes

feat(terraform)!: Update Terraform sops to 1.0.0
  provision/terraform/cloudflare/.terraform.lock.hcl
  provision/terraform/cloudflare/main.tf
Labels: area/terraform

fix(container): update image ghcr.io/recyclarr/recyclarr to 5.4.3
  kubernetes/home-cluster/apps/default/recyclarr/app/helm-release.yaml
Labels: area/kubernetes

feat(postgres): configure backup
  .sops.yaml
  kubernetes/home-cluster/apps/database/postgres/app/secret.sops.yaml
  kubernetes/home-cluster/apps/database/postgres/cluster/cluster.yaml
  kubernetes/home-cluster/apps/database/postgres/cluster/kustomization.yaml
  kubernetes/home-cluster/apps/database/postgres/cluster/scheduledbackup.yaml
  kubernetes/home-cluster/flux/vars/cluster-secrets.sops.env
Labels: area/kubernetes

feat(postgres): configure backup
  kubernetes/home-cluster/apps/database/postgres/cluster/cluster.yaml
Labels: area/kubernetes

feat(postgres): configure backup
  kubernetes/home-cluster/apps/database/postgres/cluster/cluster.yaml
Labels: area/kubernetes

fix(container): update image public.ecr.aws/docker/library/eclipse-mosquitto to 2.0.18
  kubernetes/home-cluster/apps/default/mosquitto/app/helm-release.yaml
Labels: area/kubernetes

feat(helm): update chart snapshot-controller to 1.9.1
  kubernetes/home-cluster/apps/democratic-csi/snapshot-controller/app/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update chart snapshot-validation-webhook to 1.8.1
  kubernetes/home-cluster/apps/democratic-csi/snapshot-controller/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart kubelet-csr-approver to 1.0.5
  kubernetes/home-cluster/apps/kube-system/kubelet-csr-approver/app/helmrelease.yaml
  provision/talos/integrations/kubelet-csr-approver/kustomization.yaml
Labels: area/kubernetes

fix(github-release): update fluxcd/flux2 to v2.1.1
  kubernetes/home-cluster/bootstrap/kustomization.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to 1.9.1.3977
  kubernetes/home-cluster/apps/default/prowlarr/app/helm-release.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/benphelps/homepage to v0.6.35
  kubernetes/home-cluster/apps/default/homepage/app/helmrelease.yaml
Labels: area/kubernetes
