Repository MrMarble/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/docs, area/github, area/kubernetes, area/renovate, area/taskfile

fix(mantainerr): set readOnlyRootFilesystem to false in securityContext
  kubernetes/apps/default/mantainerr/app/helmrelease.yaml
Labels: area/kubernetes

feat(lidarr): deploy
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/default/lidarr/app/externalsecret.yaml
  kubernetes/apps/default/lidarr/app/helmrelease.yaml
  kubernetes/apps/default/lidarr/app/kustomization.yaml
  kubernetes/apps/default/lidarr/app/pvc.yaml
  kubernetes/apps/default/lidarr/ks.yaml
Labels: area/kubernetes

fix(lidarr): remove unused globalMounts path from config
  kubernetes/apps/default/lidarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(lidarr): update image repository and tag, add PGID to environment variables
  kubernetes/apps/default/lidarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(lidarr): update image repository to remove tag from HelmRelease
  kubernetes/apps/default/lidarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(lidarr): update image repository and tag for Lidarr container
  kubernetes/apps/default/lidarr/app/helmrelease.yaml
Labels: area/kubernetes

feat(slskd): add kustomization, helm release, external secret, and OCI repository configurations
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/default/slskd/app/externalsecret.yaml
  kubernetes/apps/default/slskd/app/helmrelease.yaml
  kubernetes/apps/default/slskd/app/kustomization.yaml
  kubernetes/apps/default/slskd/app/ocirepository.yaml
  kubernetes/apps/default/slskd/ks.yaml
Labels: area/kubernetes

feat(aurral): add kustomization, helm release, external secret, and OCI repository configurations
  kubernetes/apps/default/aurral/app/externalsecret.yaml
  kubernetes/apps/default/aurral/app/helmrelease.yaml
  kubernetes/apps/default/aurral/app/kustomization.yaml
  kubernetes/apps/default/aurral/app/ocirepository.yaml
  kubernetes/apps/default/aurral/ks.yaml
  kubernetes/apps/default/kustomization.yaml
Labels: area/kubernetes

fix(lidarr): adjust liveness probe period and timeout settings
  kubernetes/apps/default/lidarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(navidrome): update media path for NFS persistence
  kubernetes/apps/default/navidrome/app/helmrelease.yaml
Labels: area/kubernetes

feat(navidrome): add ND_SCANNER_PURGEMISSING environment variable
  kubernetes/apps/default/navidrome/app/helmrelease.yaml
Labels: area/kubernetes

fix(navidrome): update security context user and group IDs to 1000
  kubernetes/apps/default/navidrome/app/helmrelease.yaml
Labels: area/kubernetes

fix(aurral): update download folder path and add aurral-downloads NFS configuration
  kubernetes/apps/default/aurral/app/helmrelease.yaml
  kubernetes/apps/default/navidrome/app/helmrelease.yaml
Labels: area/kubernetes

fix(aurral): update NFS global mount path for downloads
  kubernetes/apps/default/aurral/app/helmrelease.yaml
Labels: area/kubernetes

Add TZ environment variable to helmrelease.yaml
  kubernetes/apps/default/aurral/app/helmrelease.yaml
Labels: area/kubernetes

feat(navidrome): Add Last.fm integration
  kubernetes/apps/default/navidrome/app/externalsecret.yaml
  kubernetes/apps/default/navidrome/app/helmrelease.yaml
  kubernetes/apps/default/navidrome/app/kustomization.yaml
Labels: area/kubernetes

feat: conifgure unifi dns
  kubernetes/apps/network/kustomization.yaml
  kubernetes/apps/network/unifi-dns/app/externalsecret.yaml
  kubernetes/apps/network/unifi-dns/app/helmrelease.yaml
  kubernetes/apps/network/unifi-dns/app/kustomization.yaml
  kubernetes/apps/network/unifi-dns/app/ocirepository.yaml
  kubernetes/apps/network/unifi-dns/ks.yaml
Labels: area/kubernetes

fix: use ingress
  kubernetes/apps/network/unifi-dns/app/helmrelease.yaml
Labels: area/kubernetes

feat: deploy grafana
  kubernetes/apps/monitor/grafana/app/externalsecret.yaml
  kubernetes/apps/monitor/grafana/app/grafanadashboard.yaml
  kubernetes/apps/monitor/grafana/app/helmrelease.yaml
  kubernetes/apps/monitor/grafana/app/kustomization.yaml
  kubernetes/apps/monitor/grafana/app/ocirepository.yaml
  kubernetes/apps/monitor/grafana/instance/grafana.yaml
  kubernetes/apps/monitor/grafana/instance/kustomization.yaml
  kubernetes/apps/monitor/grafana/ks.yaml
  kubernetes/apps/monitor/kustomization.yaml
Labels: area/kubernetes

feat: deploy grafana
  kubernetes/apps/monitor/grafana/instance/grafanadashboard.yaml
Labels: area/kubernetes

feat: deploy grafana
  kubernetes/apps/monitor/grafana/app/kustomization.yaml
  kubernetes/apps/monitor/grafana/instance/kustomization.yaml
Labels: area/kubernetes

feat: deploy grafana
  kubernetes/apps/monitor/grafana/instance/grafana.yaml
Labels: area/kubernetes

feat: deploy grafana
  kubernetes/apps/monitor/grafana/instance/grafana.yaml
Labels: area/kubernetes

feat: deploy grafana
  kubernetes/apps/monitor/grafana/instance/servicemonitor.yaml
Labels: area/kubernetes

feat: deploy grafana
  kubernetes/apps/monitor/grafana/instance/kustomization.yaml
Labels: area/kubernetes

feat: deploy smartctl-monitor
  kubernetes/apps/monitor/kustomization.yaml
  kubernetes/apps/monitor/smartctl-exporter/app/grafanadashboard.yaml
  kubernetes/apps/monitor/smartctl-exporter/app/helmrelease.yaml
  kubernetes/apps/monitor/smartctl-exporter/app/kustomization.yaml
  kubernetes/apps/monitor/smartctl-exporter/app/ocirepository.yaml
  kubernetes/apps/monitor/smartctl-exporter/app/prometheusrule.yaml
  kubernetes/apps/monitor/smartctl-exporter/ks.yaml
Labels: area/kubernetes

feat: update system-upgrade-controller plans and configurations
  kubernetes/apps/system-upgrade/system-upgrade-controller/app/helmrelease.yaml
  kubernetes/apps/system-upgrade/system-upgrade-controller/plans/agent.yaml
  kubernetes/apps/system-upgrade/system-upgrade-controller/plans/kustomization.yaml
  kubernetes/apps/system-upgrade/system-upgrade-controller/plans/os-upgrade.yaml
Labels: area/kubernetes

feat: update system-upgrade-controller image to v0.19.2 and adjust configuration
  kubernetes/apps/system-upgrade/system-upgrade-controller/app/helmrelease.yaml
Labels: area/kubernetes

feat: remove metal2 host configuration and add Fedora OS upgrade playbook
  provision/ansible/inventories/hosts.yaml
  provision/ansible/requirements.txt
  provision/ansible/upgrade-os.yaml
Labels: area/ansible

feat: add -y flag to reboot command in Fedora OS upgrade playbook
  provision/ansible/upgrade-os.yaml
Labels: area/ansible

feat: add VIP lease duration, renew deadline, and retry period to kube-vip configuration
  provision/ansible/roles/k3s/templates/kube-vip.yaml.j2
Labels: area/ansible

feat: remove HAOS service and related configurations from external services
  kubernetes/apps/network/external-services/haos.yaml
  kubernetes/apps/network/external-services/kustomization.yaml
  kubernetes/apps/network/kustomization.yaml
Labels: area/kubernetes

feat: update k3s version to v1.33.0+k3s1 in server.yaml
  kubernetes/apps/system-upgrade/system-upgrade-controller/plans/server.yaml
Labels: area/kubernetes

feat: update k3s version to v1.34.0+k3s1 in server.yaml
  kubernetes/apps/system-upgrade/system-upgrade-controller/plans/server.yaml
Labels: area/kubernetes

feat: update k3s version to v1.34.7+k3s1 in server.yaml
  kubernetes/apps/system-upgrade/system-upgrade-controller/plans/server.yaml
Labels: area/kubernetes

feat: update k3s version to v1.35.4+k3s1 in server.yaml
  kubernetes/apps/system-upgrade/system-upgrade-controller/plans/server.yaml
Labels: area/kubernetes

feat: remove k8s-gateway HelmRelease and related configurations
  kubernetes/apps/network/k8s-gateway/app/helmrelease.yaml
  kubernetes/apps/network/k8s-gateway/app/kustomization.yaml
  kubernetes/apps/network/k8s-gateway/ks.yaml
  kubernetes/apps/network/kustomization.yaml
Labels: area/kubernetes

docs: Start fresh with docmd
  .github/workflows/deploy-docs.yaml
  docs/.gitignore
  docs/book.toml
  docs/docmd.config.js
  docs/replace-patterns.json
  docs/src/SUMMARY.md
  docs/src/apps/index.md
  docs/src/cloud-services.md
  docs/src/gitops.md
  docs/src/hardware.md
  docs/src/index.md
  docs/src/introduction.md
  docs/src/kubernetes/backups.md
  docs/src/kubernetes/gitops.md
  docs/src/kubernetes/index.md
  docs/src/kubernetes/storage.md
  docs/src/network.md
  docs/src/overview/cloud-services.md
  docs/src/overview/hardware.md
  docs/src/overview/network.md
  docs/theme/catppuccin-admonish.css
  docs/theme/catppuccin-highlight.css
  docs/theme/catppuccin.css
  docs/theme/index.hbs
  docs/theme/mdbook-admonish.css
Labels: area/docs, area/github

feat: add new logo images and update branding in docmd configuration
  docs/assets/images/logo-dark.png
  docs/assets/images/logo-light.png
  docs/docmd.config.js
Labels: area/docs

fix: update targetNamespace from default to network in unifi-dns kustomization
  kubernetes/apps/network/unifi-dns/ks.yaml
Labels: area/kubernetes

.github/labeler.yaml:

---
area/ansible:
  - changed-files:
      - any-glob-to-any-file: "provision/ansible/**/*"
area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "README.md"
          - "docs/**/*"
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
area/renovate:
  - changed-files:
      - any-glob-to-any-file:
          - ".renovate/**/*"
          - ".renovaterc.json5"
area/taskfile:
  - changed-files:
      - any-glob-to-any-file:
          - ".taskfiles/**/*"
          - "Taskfile.yaml"
