Repository MrMarble/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/docs, area/github, area/kubernetes, area/renovate, area/taskfile

fix: uncomment radarr resource in kustomization.yaml
  kubernetes/apps/media/kustomization.yaml
Labels: area/kubernetes

fix: set cleanupTempPVC to false in replicationdestination.yaml
  kubernetes/components/volsync/replicationdestination.yaml
Labels: area/kubernetes

fix: add VOLSYNC_ACCESSMODES to radarr kustomization
  kubernetes/apps/media/radarr/ks.yaml
Labels: area/kubernetes

feat: add Storage documentation for Longhorn and VolumeSync
  docs/docmd.config.js
  docs/src/storage.md
Labels: area/docs

feat: add initial Piraeus configuration files and Kustomization setup
  kubernetes/apps/piraeus/kustomization.yaml
  kubernetes/apps/piraeus/namespace.yaml
  kubernetes/apps/piraeus/piraeus/app/helmrelease.yaml
  kubernetes/apps/piraeus/piraeus/app/kustomization.yaml
  kubernetes/apps/piraeus/piraeus/app/linstorcluster.yaml
  kubernetes/apps/piraeus/piraeus/app/linstorsatelliteconfig.yaml
  kubernetes/apps/piraeus/piraeus/app/ocirepository.yaml
  kubernetes/apps/piraeus/piraeus/app/storageclass-local.yaml
  kubernetes/apps/piraeus/piraeus/app/storageclass-replicated.yaml
  kubernetes/apps/piraeus/piraeus/app/volumesnapshotclass.yaml
  kubernetes/apps/piraeus/piraeus/ks.yaml
Labels: area/kubernetes

fix: ensure installCRDs is set to true in helmrelease.yaml
  kubernetes/apps/piraeus/piraeus/app/helmrelease.yaml
Labels: area/kubernetes

fix: update access modes and storage class for VolSync components
  kubernetes/apps/media/radarr/ks.yaml
  kubernetes/components/volsync/pvc.yaml
  kubernetes/components/volsync/replicationdestination.yaml
  kubernetes/components/volsync/replicationsource.yaml
Labels: area/kubernetes

fix: comment out radarr kustomization resource in kustomization.yaml
  kubernetes/apps/media/kustomization.yaml
Labels: area/kubernetes

fix: uncomment radarr kustomization resource and remove unused operator configuration in helmrelease.yaml
  kubernetes/apps/media/kustomization.yaml
  kubernetes/apps/piraeus/piraeus/app/helmrelease.yaml
Labels: area/kubernetes

fix: update LinstorSatelliteConfiguration for SSD and local storage nodes
  kubernetes/apps/piraeus/piraeus/app/linstorsatelliteconfig.yaml
Labels: area/kubernetes

fix: add host network configuration for default LinstorSatellite
  kubernetes/apps/piraeus/piraeus/app/linstorsatelliteconfig.yaml
Labels: area/kubernetes

fix: change copyMethod from Snapshot to Clone in replication destination and source configurations
  kubernetes/components/volsync/replicationdestination.yaml
  kubernetes/components/volsync/replicationsource.yaml
Labels: area/kubernetes

fix: update copyMethod from Clone to Direct in replication configurations
  kubernetes/apps/media/kustomization.yaml
  kubernetes/components/volsync/replicationdestination.yaml
  kubernetes/components/volsync/replicationsource.yaml
Labels: area/kubernetes

fix: uncomment radarr configuration in kustomization.yaml
  kubernetes/apps/media/kustomization.yaml
Labels: area/kubernetes

fix: update kustomization files and PVC configuration for radarr and volsync components
  kubernetes/apps/media/kustomization.yaml
  kubernetes/apps/media/radarr/app/kustomization.yaml
  kubernetes/apps/media/radarr/app/pvc.yaml
  kubernetes/apps/media/radarr/ks.yaml
  kubernetes/apps/piraeus/kustomization.yaml
  kubernetes/apps/volsync/kustomization.yaml
  kubernetes/components/volsync/replicationdestination.yaml
  kubernetes/components/volsync/replicationsource.yaml
Labels: area/kubernetes

fix: uncomment radarr configuration in kustomization.yaml
  kubernetes/apps/media/kustomization.yaml
Labels: area/kubernetes

fix: add annotations to piraeus and volsync namespace configurations
  kubernetes/apps/piraeus/namespace.yaml
  kubernetes/apps/volsync/namespace.yaml
Labels: area/kubernetes

fix: update DNS server configuration in Ansible playbooks
  provision/ansible/group_vars/all.yaml
  provision/ansible/roles/prerequisites/tasks/main.yaml
Labels: area/ansible

fix: update host and server configurations in helmrelease.yaml
  kubernetes/apps/media/radarr/app/helmrelease.yaml
Labels: area/kubernetes

feat: add profilarr application configuration with HelmRelease, OCIRepository, and PVC
  kubernetes/apps/media/profilarr/app/helmrelease.yaml
  kubernetes/apps/media/profilarr/app/kustomization.yaml
  kubernetes/apps/media/profilarr/app/ocirepository.yaml
  kubernetes/apps/media/profilarr/app/pvc.yaml
  kubernetes/apps/media/profilarr/ks.yaml
Labels: area/kubernetes

chore: uncensor domain
  kubernetes/apps/cert-manager/cert-manager/issuers/letsencrypt-production.yaml
  kubernetes/apps/cert-manager/cert-manager/issuers/letsencrypt-staging.yaml
  kubernetes/apps/default/archi/app/helmrelease.yaml
  kubernetes/apps/default/aurral/app/helmrelease.yaml
  kubernetes/apps/default/immich/app/server/helmrelease.yaml
  kubernetes/apps/default/jellyfin/app/helmrelease.yaml
  kubernetes/apps/default/jellyseerr/app/helmrelease.yaml
  kubernetes/apps/default/lidarr/app/helmrelease.yaml
  kubernetes/apps/default/mantainerr/app/helmrelease.yaml
  kubernetes/apps/default/navidrome/app/helmrelease.yaml
  kubernetes/apps/default/paperless/app/helmrelease.yaml
  kubernetes/apps/default/prowlarr/app/helmrelease.yaml
  kubernetes/apps/default/psitransfer/app/helmrelease.yaml
  kubernetes/apps/default/qbittorrent/app/helmrelease.yaml
  kubernetes/apps/default/radarr-4k/app/helmrelease.yaml
  kubernetes/apps/default/slskd/app/helmrelease.yaml
  kubernetes/apps/default/sonarr/app/helmrelease.yaml
  kubernetes/apps/external-secrets/external-secrets/stores/onepassword/helmrelease.yaml
  kubernetes/apps/flux-system/addons/app/webhooks/github/ingress.yaml
  kubernetes/apps/kube-system/cilium/app/helmrelease.yaml
  kubernetes/apps/longhorn/longhorn/app/helmrelease.yaml
  kubernetes/apps/monitor/gatus/app/helmrelease.yaml
  kubernetes/apps/monitor/gatus/app/resources/config.yaml
  kubernetes/apps/monitor/grafana/instance/grafana.yaml
  kubernetes/apps/monitor/kromgo/app/helmrelease.yaml
  kubernetes/apps/monitor/prometheus/app/helmrelease.yaml
  kubernetes/apps/network/cloudflared/app/dnsendpoint.yaml
  kubernetes/apps/network/cloudflared/app/resources/config.yaml
  kubernetes/apps/network/external-dns/app/helmrelease.yaml
  kubernetes/apps/network/ingress-nginx/certificates/certificates.yaml
  kubernetes/apps/network/ingress-nginx/external/helmrelease.yaml
  kubernetes/apps/network/ingress-nginx/internal/helmrelease.yaml
  kubernetes/apps/volsync/kopia/app/helmrelease.yaml
  kubernetes/templates/gatus/external/configmap.yaml
  kubernetes/templates/gatus/guarded/configmap.yaml
Labels: area/kubernetes

fix: uncomment piraeus namespace to unblock cluster-apps kustomization build
  kubernetes/apps/piraeus/kustomization.yaml
Labels: area/kubernetes

fix: increase storage size for jellyfin PersistentVolumeClaim to 15Gi
  kubernetes/apps/default/jellyfin/app/pvc.yaml
Labels: area/kubernetes

fix: update serverName and recovery source for postgres cluster configuration
  kubernetes/apps/database/postgres/cluster/cluster.yaml
Labels: area/kubernetes

feat: add sonarr application configuration with HelmRelease, OCIRepository, and PVC; remove radarr-4k configuration
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/default/radarr-4k/app/externalsecret.yaml
  kubernetes/apps/default/radarr-4k/app/helmrelease.yaml
  kubernetes/apps/default/radarr-4k/ks.yaml
  kubernetes/apps/media/kustomization.yaml
  kubernetes/apps/media/sonarr/app/externalsecret.yaml
  kubernetes/apps/media/sonarr/app/helmrelease.yaml
  kubernetes/apps/media/sonarr/app/kustomization.yaml
  kubernetes/apps/media/sonarr/app/ocirepository.yaml
  kubernetes/apps/media/sonarr/app/pvc.yaml
  kubernetes/apps/media/sonarr/ks.yaml
Labels: area/kubernetes

feat: migrate prowlarr and sonarr configurations to media namespace; add new OCIRepository, HelmRelease, PVC, and ExternalSecret
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/default/prowlarr/app/externalsecret.yaml
  kubernetes/apps/default/prowlarr/app/kustomization.yaml
  kubernetes/apps/default/prowlarr/ks.yaml
  kubernetes/apps/default/sonarr/app/externalsecret.yaml
  kubernetes/apps/default/sonarr/app/helmrelease.yaml
  kubernetes/apps/default/sonarr/ks.yaml
  kubernetes/apps/media/prowlarr/app/externalsecret.yaml
  kubernetes/apps/media/prowlarr/app/helmrelease.yaml
  kubernetes/apps/media/prowlarr/app/kustomization.yaml
  kubernetes/apps/media/prowlarr/app/ocirepository.yaml
  kubernetes/apps/media/prowlarr/app/pvc.yaml
  kubernetes/apps/media/prowlarr/ks.yaml
Labels: area/kubernetes

feat: migrate prowlarr and sonarr configurations to media namespace; add new OCIRepository, HelmRelease, PVC, and ExternalSecret
  kubernetes/apps/media/kustomization.yaml
Labels: area/kubernetes

refactor: remove unused application configurations from kustomization.yaml
  kubernetes/apps/default/kustomization.yaml
Labels: area/kubernetes

feat: add qbittorrent application configuration with HelmRelease, OCIRepository, and Kustomization
  kubernetes/apps/media/qbittorrent/app/helmrelease.yaml
  kubernetes/apps/media/qbittorrent/app/kustomization.yaml
  kubernetes/apps/media/qbittorrent/app/ocirepository.yaml
  kubernetes/apps/media/qbittorrent/ks.yaml
Labels: area/kubernetes

fix: reduce memory limit for qbittorrent HelmRelease from 32Gi to 8Gi
  kubernetes/apps/media/qbittorrent/app/helmrelease.yaml
Labels: area/kubernetes

feat: add memory request for qbittorrent HelmRelease
  kubernetes/apps/media/qbittorrent/app/helmrelease.yaml
Labels: area/kubernetes

feat: add Jellyfin application configuration with HelmRelease, OCIRepository, Kustomization, and related resources
  kubernetes/apps/default/qbittorrent/app/helmrelease.yaml
  kubernetes/apps/default/qbittorrent/app/kustomization.yaml
  kubernetes/apps/default/qbittorrent/app/pvc.yaml
  kubernetes/apps/default/qbittorrent/ks.yaml
  kubernetes/apps/media/jellyfin/app/helmrelease.yaml
  kubernetes/apps/media/jellyfin/app/kustomization.yaml
  kubernetes/apps/media/jellyfin/app/ocirepository.yaml
  kubernetes/apps/media/jellyfin/ks.yaml
  kubernetes/apps/media/kustomization.yaml
Labels: area/kubernetes

feat: add nodeSelector for GPU scheduling in Jellyfin HelmRelease
  kubernetes/apps/media/jellyfin/app/helmrelease.yaml
Labels: area/kubernetes

feat: add memory request for Jellyfin HelmRelease
  kubernetes/apps/media/jellyfin/app/helmrelease.yaml
Labels: area/kubernetes

feat: add intel-gpu-resource-driver HelmRelease, Kustomization, and related resources; remove intel-device-plugin
  kubernetes/apps/kube-system/intel-device-plugin/app/gpu/helmrelease.yaml
  kubernetes/apps/kube-system/intel-device-plugin/app/gpu/kustomization.yaml
  kubernetes/apps/kube-system/intel-device-plugin/app/kustomization.yaml
  kubernetes/apps/kube-system/intel-device-plugin/app/operator/helmrelease.yaml
  kubernetes/apps/kube-system/intel-gpu-resource-driver/app/helmrelease.yaml
  kubernetes/apps/kube-system/intel-gpu-resource-driver/app/kustomization.yaml
  kubernetes/apps/kube-system/intel-gpu-resource-driver/app/nodefeaturerule.yaml
  kubernetes/apps/kube-system/intel-gpu-resource-driver/app/ocirepository.yaml
  kubernetes/apps/kube-system/intel-gpu-resource-driver/ks.yaml
  kubernetes/apps/kube-system/kustomization.yaml
  kubernetes/apps/media/jellyfin/app/helmrelease.yaml
  kubernetes/apps/media/jellyfin/app/kustomization.yaml
  kubernetes/apps/media/jellyfin/app/resourceclaimtemplate.yaml
Labels: area/kubernetes

feat: remove Jellyfin and Jellyseerr HelmRelease, Kustomization, and related resources; add Seerr application configuration with HelmRelease, OCIRepository, Kustomization, and related resources
  kubernetes/apps/default/jellyfin/app/helmrelease.yaml
  kubernetes/apps/default/jellyfin/app/kustomization.yaml
  kubernetes/apps/default/jellyfin/ks.yaml
  kubernetes/apps/default/jellyseerr/app/helmrelease.yaml
  kubernetes/apps/default/jellyseerr/app/kustomization.yaml
  kubernetes/apps/default/jellyseerr/app/pvc.yaml
  kubernetes/apps/default/jellyseerr/ks.yaml
  kubernetes/apps/media/kustomization.yaml
  kubernetes/apps/media/seerr/app/externalsecret.yaml
  kubernetes/apps/media/seerr/app/helmrelease.yaml
  kubernetes/apps/media/seerr/app/kustomization.yaml
  kubernetes/apps/media/seerr/app/ocirepository.yaml
  kubernetes/apps/media/seerr/app/pvc.yaml
  kubernetes/apps/media/seerr/ks.yaml
Labels: area/kubernetes

feat: update OCIRepository name from Jellyfin to Seerr
  kubernetes/apps/media/seerr/app/ocirepository.yaml
Labels: area/kubernetes

feat: add qui application configuration with HelmRelease, ExternalSecret, OCIRepository, Kustomization, and related resources
  kubernetes/apps/media/kustomization.yaml
  kubernetes/apps/media/qui/app/externalsecret.yaml
  kubernetes/apps/media/qui/app/helmrelease.yaml
  kubernetes/apps/media/qui/app/kustomization.yaml
  kubernetes/apps/media/qui/app/ocirepository.yaml
  kubernetes/apps/media/qui/app/pvc.yaml
  kubernetes/apps/media/qui/ks.yaml
Labels: area/kubernetes

feat: remove mantainerr application configuration including HelmRelease, Kustomization, PVC, and related resources
  kubernetes/apps/default/mantainerr/app/helmrelease.yaml
  kubernetes/apps/default/mantainerr/app/kustomization.yaml
  kubernetes/apps/default/mantainerr/app/pvc.yaml
  kubernetes/apps/default/mantainerr/ks.yaml
Labels: area/kubernetes

feat: add brrpolice application configuration with HelmRelease, OCIRepository, Kustomization, PVC, and related resources
  kubernetes/apps/default/cross-seed/app/externalsecret.yaml
  kubernetes/apps/default/cross-seed/app/helmrelease.yaml
  kubernetes/apps/default/cross-seed/app/kustomization.yaml
  kubernetes/apps/default/cross-seed/ks.yaml
  kubernetes/apps/media/brrpolice/app/helmrelease.yaml
  kubernetes/apps/media/brrpolice/app/kustomization.yaml
  kubernetes/apps/media/brrpolice/app/ocirepository.yaml
  kubernetes/apps/media/brrpolice/app/pvc.yaml
  kubernetes/apps/media/brrpolice/ks.yaml
  kubernetes/apps/media/kustomization.yaml
Labels: area/kubernetes

.github/labeler.yaml:

---
area/ansible:
  - changed-files:
      - any-glob-to-any-file: "provision/ansible/**/*"
area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "README.md"
          - "docs/**/*"
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
area/renovate:
  - changed-files:
      - any-glob-to-any-file:
          - ".renovate/**/*"
          - ".renovaterc.json5"
area/taskfile:
  - changed-files:
      - any-glob-to-any-file:
          - ".taskfiles/**/*"
          - "Taskfile.yaml"
