Repository MrMarble/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/kubernetes, area/terraform

fix(container): update image ghcr.io/buroa/qbtools to v0.10.2
  kubernetes/home-cluster/apps/default/qbittorrent/tools/manage/helmrelease.yaml
  kubernetes/home-cluster/apps/default/qbittorrent/tools/orphaned/helmrelease.yaml
  kubernetes/home-cluster/apps/default/qbittorrent/tools/reannounce/helmrelease.yaml
Labels: area/kubernetes

feat: move prowlarr to piraeus
  kubernetes/home-cluster/apps/default/prowlarr/app/helm-release.yaml
  provision/talos/talconfig.yaml
Labels: area/kubernetes

chore(deps): update image quay.io/prometheus/alertmanager to
  kubernetes/home-cluster/apps/monitoring/alertmanager/app/helmrelease.yaml
Labels: area/kubernetes

chore(deps): update image quay.io/prometheus/alertmanager to
  kubernetes/home-cluster/apps/monitoring/alertmanager/app/helmrelease.yaml
Labels: area/kubernetes

feat(github-action)!: Update actions/labeler action to v5
  .github/workflows/meta-labeler.yaml
Labels: area/github

fix(container): update image ghcr.io/justarchinet/archisteamfarm to 5.5.0.8
  kubernetes/home-cluster/apps/default/archi/app/helm-release.yaml
Labels: area/kubernetes

feat(github-release): update piraeus-operator to v2.3.0
  kubernetes/home-cluster/flux/repositories/git/piraeus-operator.yaml
Labels: area/kubernetes

feat(talos): add coral dirvers
  provision/talos/talconfig.yaml
Labels: none

feat(github-action): update renovatebot/github-action action to v39.2.0
  .github/workflows/schedule-renovate.yaml
Labels: area/github

chore: add google coral
  kubernetes/home-cluster/apps/kube-system/node-feature-discovery/rules/google-coral-device.yaml
  kubernetes/home-cluster/apps/kube-system/node-feature-discovery/rules/kustomization.yaml
Labels: area/kubernetes

fix(container): update image registry.k8s.io/sig-storage/csi-node-driver-registrar to v2.9.2
  kubernetes/home-cluster/apps/democratic-csi/freenas-iscsi/app/helmrelease.yaml
Labels: area/kubernetes

chore: update app-template
  kubernetes/home-cluster/apps/default/recyclarr/app/helm-release.yaml
  kubernetes/home-cluster/apps/default/recyclarr/app/kustomization.yaml
  kubernetes/home-cluster/apps/default/recyclarr/ks.yaml
Labels: area/kubernetes

chore: update app-template
  kubernetes/home-cluster/apps/default/recyclarr/app/helm-release.yaml
Labels: area/kubernetes

feat: archive theme-park
  kubernetes/archive/default/theme-park/app/helm-release.yaml
  kubernetes/archive/default/theme-park/app/kustomization.yaml
  kubernetes/archive/default/theme-park/ks.yaml
  kubernetes/home-cluster/apps/default/kustomization.yaml
  kubernetes/home-cluster/apps/default/prowlarr/app/helm-release.yaml
  kubernetes/home-cluster/apps/default/qbittorrent/app/helmrelease.yaml
  kubernetes/home-cluster/apps/default/radarr/app/helm-release.yaml
  kubernetes/home-cluster/apps/default/sonarr/app/helm-release.yaml
Labels: area/kubernetes

fix: piraeus driver
  kubernetes/home-cluster/apps/piraeus-datastore/linistor-cluster/app/cluster.yaml
  kubernetes/home-cluster/apps/piraeus-datastore/linistor-cluster/app/storage-pool.yaml
Labels: area/kubernetes

chore: update app-template
  kubernetes/home-cluster/apps/default/sonarr/app/helm-release.yaml
  kubernetes/home-cluster/apps/default/sonarr/app/kustomization.yaml
  kubernetes/home-cluster/apps/default/sonarr/app/volsync.yaml
  kubernetes/home-cluster/apps/default/sonarr/ks.yaml
Labels: area/kubernetes

chore: add emoji
  kubernetes/home-cluster/apps/monitoring/alertmanager/app/config/alertmanager.yml
Labels: area/kubernetes

chore(deps): update image ghcr.io/bjw-s/mdbook to
  .github/workflows/deploy-docs.yaml
Labels: area/github

chore(deps): update image ghcr.io/bjw-s/mdbook to
  .github/workflows/deploy-docs.yaml
Labels: area/github

feat(container): update image quay.io/prometheus/graphite-exporter to v0.15.0
  kubernetes/home-cluster/apps/monitoring/graphite-exporter/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart weave-gitops to 4.0.36
  kubernetes/home-cluster/apps/flux-system/weave-gitops/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/onedr0p/prowlarr-nightly to 1.11.1.4142
  kubernetes/home-cluster/apps/default/prowlarr/app/helm-release.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/onedr0p/home-assistant to 2023.12.0
  kubernetes/home-cluster/apps/default/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes

feat: deploy openebs-jiva
  kubernetes/home-cluster/apps/openebs/jiva/app/helmrelease.yaml
  kubernetes/home-cluster/apps/openebs/jiva/app/kustomization.yaml
  kubernetes/home-cluster/apps/openebs/jiva/ks.yaml
  kubernetes/home-cluster/apps/openebs/kustomization.yaml
  kubernetes/home-cluster/apps/openebs/namespace.yaml
  kubernetes/home-cluster/flux/repositories/helm/kustomization.yaml
  kubernetes/home-cluster/flux/repositories/helm/openebs-jiva.yaml
  provision/talos/talconfig.yaml
Labels: area/kubernetes

chore: try jiva
  kubernetes/home-cluster/apps/default/prowlarr/ks.yaml
Labels: area/kubernetes

chore: try local
  kubernetes/home-cluster/apps/default/prowlarr/ks.yaml
Labels: area/kubernetes

chore: try local
  kubernetes/home-cluster/apps/default/prowlarr/ks.yaml
Labels: area/kubernetes

chore: try jiva again
  kubernetes/home-cluster/apps/default/prowlarr/ks.yaml
Labels: area/kubernetes

fix(github-action): update renovatebot/github-action action to v39.2.1
  .github/workflows/schedule-renovate.yaml
Labels: area/github

fix(container): update image kyverno to 3.1.1
  kubernetes/home-cluster/apps/kyverno/kyverno/app/helmrelease.yaml
Labels: area/kubernetes

chore: use zfs-block
  kubernetes/home-cluster/apps/default/prowlarr/ks.yaml
  kubernetes/home-cluster/templates/volsync/minio.yaml
Labels: area/kubernetes

fix: sonarr service
  kubernetes/home-cluster/apps/default/sonarr/app/helm-release.yaml
Labels: area/kubernetes

fix: sonarr pvc
  kubernetes/home-cluster/apps/default/sonarr/app/kustomization.yaml
Labels: area/kubernetes

fix: sonarr pvc
  kubernetes/home-cluster/templates/volsync/claim.yaml
Labels: area/kubernetes

feat: deploy cstor
  kubernetes/home-cluster/apps/openebs/cstor/app/helmrelease.yaml
  kubernetes/home-cluster/apps/openebs/cstor/app/kustomization.yaml
  kubernetes/home-cluster/apps/openebs/cstor/ks.yaml
  kubernetes/home-cluster/apps/openebs/kustomization.yaml
  kubernetes/home-cluster/flux/repositories/helm/cstor.yaml
  kubernetes/home-cluster/flux/repositories/helm/kustomization.yaml
Labels: area/kubernetes

feat: cstor pool
  kubernetes/home-cluster/apps/openebs/cstor/app/cstor-pool.yaml
  kubernetes/home-cluster/apps/openebs/cstor/app/storageclass.yaml
Labels: area/kubernetes

feat: cstor pool
  kubernetes/home-cluster/apps/openebs/cstor/app/kustomization.yaml
Labels: area/kubernetes

chore: rename sc
  kubernetes/home-cluster/apps/openebs/cstor/app/storageclass.yaml
Labels: area/kubernetes

chore: upgrade cstor pool
  kubernetes/home-cluster/apps/openebs/cstor/app/cstor-pool.yaml
Labels: area/kubernetes

chore(deps): update image quay.io/prometheus/alertmanager to
  kubernetes/home-cluster/apps/monitoring/alertmanager/app/helmrelease.yaml
Labels: area/kubernetes

.github/labeler.yaml:

---
area/github:
  - ".github/**/*"
area/kubernetes:
  - "kubernetes/**/*"
area/terraform:
  - "provision/terraform/**/*"
