Repository MrMarble/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/kubernetes, area/terraform

.github/labeler.yaml:

---
area/github:
  - changed-files:
      - any-glob-to-any-file:
          - ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file:
          - "kubernetes/**/*"
area/terraform:
  - changed-files:
      - any-glob-to-any-file:
          - "provision/terraform/**/*"

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to 1.11.2.4154
  kubernetes/home-cluster/apps/default/prowlarr/app/helm-release.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/justarchinet/archisteamfarm to 5.5.0.9
  kubernetes/home-cluster/apps/default/archi/app/helm-release.yaml
Labels: area/kubernetes

fix(helm): update chart cilium to 1.14.5
  kubernetes/home-cluster/apps/kube-system/cilium/app/helmrelease.yaml
  provision/talos/integrations/cilium/kustomization.yaml
Labels: area/kubernetes

fix(github-action): update renovatebot/github-action action to v39.2.2
  .github/workflows/schedule-renovate.yaml
Labels: area/github

feat: update descheduler api version
  kubernetes/home-cluster/apps/kube-system/descheduler/app/helmrelease.yaml
Labels: area/kubernetes

chore: remove wrong schemas
  .vscode/settings.json
Labels: none

fix(github-action): update renovatebot/github-action action to v39.2.3
  .github/workflows/schedule-renovate.yaml
Labels: area/github

fix(github-release): update flux group to v2.2.1
  kubernetes/home-cluster/bootstrap/kustomization.yaml
  kubernetes/home-cluster/flux/config/flux.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/home-assistant to 2023.12.3
  kubernetes/home-cluster/apps/default/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/sonarr-develop to 4.0.0.737
  kubernetes/home-cluster/apps/default/sonarr/app/helm-release.yaml
Labels: area/kubernetes

feat(container): update immich group to v1.91.0
  kubernetes/home-cluster/apps/default/immich/app/machine-learning/helmrelease.yaml
  kubernetes/home-cluster/apps/default/immich/app/microservices/helmrelease.yaml
  kubernetes/home-cluster/apps/default/immich/app/server/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update chart loki to 5.41.4
  kubernetes/home-cluster/apps/monitoring/loki/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/cloudnative-pg/postgresql to 14.10-7
  kubernetes/home-cluster/apps/database/postgres/cluster/cluster.yaml
Labels: area/kubernetes

feat(container)!: Update image ghcr.io/cloudnative-pg/postgresql to 16.1-8
  kubernetes/home-cluster/apps/database/postgres/cluster/cluster.yaml
Labels: area/kubernetes

chore(deps): update image ghcr.io/bjw-s/mdbook to
  .github/workflows/deploy-docs.yaml
Labels: area/github

fix(container): update image ghcr.io/justarchinet/archisteamfarm to 5.5.0.11
  kubernetes/home-cluster/apps/default/archi/app/helm-release.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to 1.11.2.4158
  kubernetes/home-cluster/apps/default/prowlarr/app/helm-release.yaml
Labels: area/kubernetes

feat: use pgvector image
  kubernetes/home-cluster/apps/database/postgres/cluster/cluster.yaml
Labels: area/kubernetes

feat: remove typesense
  kubernetes/home-cluster/apps/default/immich/app/kustomization.yaml
  kubernetes/home-cluster/apps/default/immich/app/microservices/helmrelease.yaml
  kubernetes/home-cluster/apps/default/immich/app/server/helmrelease.yaml
  kubernetes/home-cluster/apps/default/immich/app/typesense/helmrelease.yaml
  kubernetes/home-cluster/apps/default/immich/app/typesense/kustomization.yaml
Labels: area/kubernetes

fix(container): update immich group to v1.91.1
  kubernetes/home-cluster/apps/default/immich/app/machine-learning/helmrelease.yaml
  kubernetes/home-cluster/apps/default/immich/app/microservices/helmrelease.yaml
  kubernetes/home-cluster/apps/default/immich/app/server/helmrelease.yaml
Labels: area/kubernetes

feat: upscale cluster
  kubernetes/home-cluster/apps/database/postgres/cluster/cluster.yaml
Labels: area/kubernetes

chore: set max wal size
  kubernetes/home-cluster/apps/database/postgres/cluster/cluster.yaml
Labels: area/kubernetes

chore: upgrade pgvector
  kubernetes/home-cluster/apps/database/postgres/cluster/cluster.yaml
Labels: area/kubernetes

chore: upgrade pgvector
  kubernetes/home-cluster/apps/database/postgres/cluster/cluster.yaml
Labels: area/kubernetes

fix(container): update immich group to v1.91.2
  kubernetes/home-cluster/apps/default/immich/app/machine-learning/helmrelease.yaml
  kubernetes/home-cluster/apps/default/immich/app/microservices/helmrelease.yaml
  kubernetes/home-cluster/apps/default/immich/app/server/helmrelease.yaml
Labels: area/kubernetes

feat(archi): upgrade app-template
  kubernetes/home-cluster/apps/default/archi/app/helm-release.yaml
Labels: area/kubernetes

feat(immich): upgrade app-template
  kubernetes/home-cluster/apps/default/immich/app/machine-learning/helmrelease.yaml
  kubernetes/home-cluster/apps/default/immich/app/microservices/helmrelease.yaml
  kubernetes/home-cluster/apps/default/immich/app/server/helmrelease.yaml
Labels: area/kubernetes

ci(renovate): clean up config
  .github/renovate.json
  .github/renovate/allowedVersions.json
  .github/renovate/autoMerge.json
  .github/renovate/customManagers.json
  .github/renovate/disabledDatasources.json
  .github/renovate/grafanaDashboards.json
  .github/renovate/labels.json
  .github/renovate/packageRules.json
  .github/renovate/semanticCommits.json
  .github/workflows/schedule-renovate.yaml
Labels: area/github

feat: remove tartaro from cluster
  provision/talos/apply.sh
  provision/talos/clusterconfig/.gitignore
  provision/talos/talconfig.yaml
Labels: none

fix: image tag
  kubernetes/home-cluster/apps/default/immich/app/server/helmrelease.yaml
Labels: area/kubernetes

feat: archive home-assistant
  .archive/default/home-assistant/app/helmrelease.yaml
  .archive/default/home-assistant/app/kustomization.yaml
  .archive/default/home-assistant/app/patches/addons.yaml
  .archive/default/home-assistant/app/secrets.sops.yaml
  .archive/default/home-assistant/app/volsync.yaml
  .archive/default/home-assistant/ks.yaml
  .archive/default/mosquitto/app/config/mosquitto.conf
  .archive/default/mosquitto/app/helm-release.yaml
  .archive/default/mosquitto/app/kustomization.yaml
  .archive/default/mosquitto/app/secrets.sops.yaml
  .archive/default/mosquitto/ks.yaml
  kubernetes/home-cluster/apps/default/kustomization.yaml
Labels: area/kubernetes

feat: external services
  kubernetes/home-cluster/apps/networking/external-services/haos.yaml
  kubernetes/home-cluster/apps/networking/external-services/kustomization.yaml
  kubernetes/home-cluster/apps/networking/kustomization.yaml
Labels: area/kubernetes

feat: external services
  kubernetes/home-cluster/apps/networking/external-services/haos.yaml
Labels: area/kubernetes

feat: external services
  kubernetes/home-cluster/apps/networking/external-services/haos.yaml
Labels: area/kubernetes

feat: external services
  kubernetes/home-cluster/apps/networking/external-services/haos.yaml
Labels: area/kubernetes

feat: external services
  kubernetes/home-cluster/apps/networking/external-services/haos.yaml
Labels: area/kubernetes

feat(immich): upgrade app-template
  kubernetes/home-cluster/apps/default/immich/app/machine-learning/helmrelease.yaml
  kubernetes/home-cluster/apps/default/immich/app/microservices/helmrelease.yaml
Labels: area/kubernetes

feat: deploy mosquitto
  .archive/default/mosquitto/app/helm-release.yaml
  kubernetes/home-cluster/apps/default/kustomization.yaml
  kubernetes/home-cluster/apps/default/mosquitto/app/claim.yaml
  kubernetes/home-cluster/apps/default/mosquitto/app/helm-release.yaml
  kubernetes/home-cluster/apps/default/mosquitto/app/kustomization.yaml
  kubernetes/home-cluster/apps/default/mosquitto/app/resources/mosquitto.conf
  kubernetes/home-cluster/apps/default/mosquitto/app/secrets.sops.yaml
  kubernetes/home-cluster/apps/default/mosquitto/ks.yaml
Labels: area/kubernetes

chore: rollback immich
  kubernetes/home-cluster/apps/default/immich/app/kustomization.yaml
  kubernetes/home-cluster/apps/default/immich/app/machine-learning/helmrelease.yaml
  kubernetes/home-cluster/apps/default/immich/app/microservices/helmrelease.yaml
  kubernetes/home-cluster/apps/default/immich/app/server/helmrelease.yaml
  kubernetes/home-cluster/apps/default/immich/app/typesense/helmrelease.yaml
  kubernetes/home-cluster/apps/default/immich/app/typesense/kustomization.yaml
Labels: area/kubernetes

chore: rollback immich
  kubernetes/home-cluster/apps/default/immich/app/microservices/helmrelease.yaml
Labels: area/kubernetes
