Repository MrMarble/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/kubernetes, area/terraform

.github/labeler.yaml:

---
area/github:
  - changed-files:
      - any-glob-to-any-file:
          - ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file:
          - "kubernetes/**/*"
area/terraform:
  - changed-files:
      - any-glob-to-any-file:
          - "provision/terraform/**/*"

feat: deploy kromgo
  kubernetes/apps/default/kromgo/app/helmrelease.yaml
  kubernetes/apps/default/kromgo/app/kustomization.yaml
  kubernetes/apps/default/kromgo/app/resources/config.yaml
  kubernetes/apps/default/kromgo/ks.yaml
  kubernetes/apps/default/kustomization.yaml
Labels: area/kubernetes

feat: update firewall config
  provision/terraform/cloudflare/.terraform.lock.hcl
  provision/terraform/cloudflare/firewall.tf
Labels: area/terraform

docs: add cluster metrics
  README.md
Labels: none

feat: configure worker node
  provision/talos/apply.sh
  provision/talos/clusterconfig/.gitignore
  provision/talos/talconfig.yaml
Labels: none

chore: remove temporal files
  provision/talos/integrations/kubelet-csr-approver/charts/kubelet-csr-approver/.helmignore
  provision/talos/integrations/kubelet-csr-approver/charts/kubelet-csr-approver/Chart.yaml
  provision/talos/integrations/kubelet-csr-approver/charts/kubelet-csr-approver/README.md
  provision/talos/integrations/kubelet-csr-approver/charts/kubelet-csr-approver/templates/_helpers.tpl
  provision/talos/integrations/kubelet-csr-approver/charts/kubelet-csr-approver/templates/clusterrole.yaml
  provision/talos/integrations/kubelet-csr-approver/charts/kubelet-csr-approver/templates/deployment.yaml
  provision/talos/integrations/kubelet-csr-approver/charts/kubelet-csr-approver/templates/rolebinding.yaml
  provision/talos/integrations/kubelet-csr-approver/charts/kubelet-csr-approver/templates/service.yaml
  provision/talos/integrations/kubelet-csr-approver/charts/kubelet-csr-approver/templates/serviceaccount.yaml
  provision/talos/integrations/kubelet-csr-approver/charts/kubelet-csr-approver/templates/servicemonitor.yaml
  provision/talos/integrations/kubelet-csr-approver/charts/kubelet-csr-approver/templates/tests/test-connection.yaml
  provision/talos/integrations/kubelet-csr-approver/charts/kubelet-csr-approver/values.yaml
Labels: none

feat: deploy jellyfin
  kubernetes/apps/default/jellyfin/app/helmrelease.yaml
  kubernetes/apps/default/jellyfin/app/kustomization.yaml
  kubernetes/apps/default/jellyfin/ks.yaml
  kubernetes/apps/default/kustomization.yaml
Labels: area/kubernetes

style: format files
  kubernetes/apps/storage/snapshot-controller/app/kustomization.yaml
  kubernetes/apps/storage/volsync/app/kustomization.yaml
Labels: area/kubernetes

feat: deploy jellyfin
  kubernetes/apps/default/jellyfin/ks.yaml
Labels: area/kubernetes

feat: deploy jellyfin
  kubernetes/apps/default/jellyfin/app/helmrelease.yaml
Labels: area/kubernetes

feat: deploy jellyfin
  kubernetes/apps/default/jellyfin/app/helmrelease.yaml
Labels: area/kubernetes

feat: deploy sonarr
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/default/sonarr/app/helmrelease.yaml
  kubernetes/apps/default/sonarr/app/kustomization.yaml
  kubernetes/apps/default/sonarr/app/pvc.yaml
  kubernetes/apps/default/sonarr/app/secrets.sops.yaml
  kubernetes/apps/default/sonarr/ks.yaml
Labels: area/kubernetes

feat: deploy sonarr
  kubernetes/apps/default/sonarr/app/secrets.sops.yaml
Labels: area/kubernetes

feat: deploy sonarr
  kubernetes/apps/default/sonarr/app/secrets.sops.yaml
Labels: area/kubernetes

feat: deploy sonarr
  kubernetes/apps/default/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

feat: deploy qbittorrent
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/default/qbittorrent/app/helmrelease.yaml
  kubernetes/apps/default/qbittorrent/app/kustomization.yaml
  kubernetes/apps/default/qbittorrent/ks.yaml
Labels: area/kubernetes

feat: deploy qbtools
  kubernetes/apps/default/qbittorrent/ks.yaml
  kubernetes/apps/default/qbittorrent/tools/helmrelease.yaml
  kubernetes/apps/default/qbittorrent/tools/kustomization.yaml
  kubernetes/apps/default/qbittorrent/tools/resources/config.yaml
Labels: area/kubernetes

feat: deploy immich
  kubernetes/apps/default/immich/app/configmap.yaml
  kubernetes/apps/default/immich/app/kustomization.yaml
  kubernetes/apps/default/immich/app/machine-learning/helmrelease.yaml
  kubernetes/apps/default/immich/app/machine-learning/kustomization.yaml
  kubernetes/apps/default/immich/app/microservices/helmrelease.yaml
  kubernetes/apps/default/immich/app/microservices/kustomization.yaml
  kubernetes/apps/default/immich/app/pvc.yaml
  kubernetes/apps/default/immich/app/secret.sops.yaml
  kubernetes/apps/default/immich/app/server/helmrelease.yaml
  kubernetes/apps/default/immich/app/server/kustomization.yaml
  kubernetes/apps/default/immich/ks.yaml
  kubernetes/apps/default/kustomization.yaml
Labels: area/kubernetes

feat: deploy immich
  kubernetes/apps/default/immich/ks.yaml
Labels: area/kubernetes

feat: deploy immich
  kubernetes/apps/default/immich/app/kustomization.yaml
Labels: area/kubernetes

feat: deploy immich
  kubernetes/apps/database/kustomization.yaml
  kubernetes/apps/database/redis/app/helmrelease.yaml
  kubernetes/apps/database/redis/app/kustomization.yaml
  kubernetes/apps/database/redis/ks.yaml
Labels: area/kubernetes

feat: deploy immich
  kubernetes/apps/database/redis/ks.yaml
Labels: area/kubernetes

feat: deploy archi
  kubernetes/apps/default/archi/app/helm-release.yaml
  kubernetes/apps/default/archi/app/kustomization.yaml
  kubernetes/apps/default/archi/ks.yaml
  kubernetes/apps/default/kustomization.yaml
Labels: area/kubernetes

feat: deploy archi
  kubernetes/apps/default/archi/app/kustomization.yaml
Labels: area/kubernetes

feat: deploy radarr
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/default/radarr/app/helm-release.yaml
  kubernetes/apps/default/radarr/app/kustomization.yaml
  kubernetes/apps/default/radarr/app/pvc.yaml
  kubernetes/apps/default/radarr/app/secrets.sops.yaml
  kubernetes/apps/default/radarr/ks.yaml
Labels: area/kubernetes

feat: deploy radarr
  kubernetes/apps/default/radarr/app/secrets.sops.yaml
Labels: area/kubernetes

feat: deploy qbtools
  kubernetes/apps/default/qbittorrent/tools/helmrelease.yaml
Labels: area/kubernetes

feat: configure jellyfin cache
  provision/terraform/cloudflare/cache.tf
Labels: area/terraform

feat: deploy recyclarr
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/default/recyclarr/app/helm-release.yaml
  kubernetes/apps/default/recyclarr/app/kustomization.yaml
  kubernetes/apps/default/recyclarr/app/resources/recyclarr.yml
  kubernetes/apps/default/recyclarr/app/secret.sops.yaml
  kubernetes/apps/default/recyclarr/ks.yaml
  kubernetes/templates/gatus/external/configmap.yaml
  kubernetes/templates/gatus/external/kustomization.yaml
  kubernetes/templates/gatus/guarded/configmap.yaml
  kubernetes/templates/gatus/guarded/kustomization.yaml
Labels: area/kubernetes

chore: update secrets
  kubernetes/flux/vars/cluster-secrets.sops.env
Labels: area/kubernetes

feat: deploy recyclarr
  kubernetes/apps/default/recyclarr/app/helm-release.yaml
Labels: area/kubernetes

feat: deploy k8tz
  .archive/kube-system/k8tz/app/kustomization.yaml
  kubernetes/apps/tools/k8tz/app/helmrelease.yaml
  kubernetes/apps/tools/k8tz/app/kustomization.yaml
  kubernetes/apps/tools/k8tz/app/pki.yaml
  kubernetes/apps/tools/k8tz/ks.yaml
  kubernetes/apps/tools/kustomization.yaml
Labels: area/kubernetes

feat: archive k8tz
  .archive/tools/k8tz/app/helmrelease.yaml
  .archive/tools/k8tz/app/kustomization.yaml
  .archive/tools/k8tz/app/pki.yaml
  .archive/tools/k8tz/ks.yaml
  kubernetes/apps/tools/kustomization.yaml
Labels: area/kubernetes

chore: update config
  kubernetes/apps/default/recyclarr/app/resources/recyclarr.yml
Labels: area/kubernetes

feat: deploy cross-seed
  kubernetes/apps/default/cross-seed/app/helmrelease.yaml
  kubernetes/apps/default/cross-seed/app/kustomization.yaml
  kubernetes/apps/default/cross-seed/app/resources/config.js
  kubernetes/apps/default/cross-seed/app/secret.sops.yaml
  kubernetes/apps/default/cross-seed/ks.yaml
  kubernetes/apps/default/kustomization.yaml
Labels: area/kubernetes

fix: config file
  kubernetes/apps/default/cross-seed/app/secret.sops.yaml
Labels: area/kubernetes

fix: config file
  kubernetes/apps/default/cross-seed/app/resources/config.js
Labels: area/kubernetes

feat: deploy jellyseerr
  kubernetes/apps/default/jellyseerr/app/helmrelease.yaml
  kubernetes/apps/default/jellyseerr/app/kustomization.yaml
  kubernetes/apps/default/jellyseerr/ks.yaml
  kubernetes/apps/default/kustomization.yaml
Labels: area/kubernetes

fix(jellyseer): image name
  kubernetes/apps/default/jellyseerr/app/helmrelease.yaml
Labels: area/kubernetes

feat: deploy jellystat
  kubernetes/apps/default/jellystat/app/helmrelease.yaml
  kubernetes/apps/default/jellystat/app/kustomization.yaml
  kubernetes/apps/default/jellystat/app/secret.sops.yaml
  kubernetes/apps/default/jellystat/ks.yaml
  kubernetes/apps/default/kustomization.yaml
Labels: area/kubernetes

fix(jellystat): permissions
  kubernetes/apps/default/jellystat/app/helmrelease.yaml
Labels: area/kubernetes
