Repository MrMarble/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/kubernetes, area/terraform

feat: deploy cert-manager
  kubernetes/apps/cert-manager/cert-manager/app/helmrelease.yaml
  kubernetes/apps/cert-manager/cert-manager/app/kustomization.yaml
  kubernetes/apps/cert-manager/cert-manager/issuers/kustomization.yaml
  kubernetes/apps/cert-manager/cert-manager/issuers/letsencrypt-production.yaml
  kubernetes/apps/cert-manager/cert-manager/issuers/letsencrypt-staging.yaml
  kubernetes/apps/cert-manager/cert-manager/issuers/secret.sops.yaml
  kubernetes/apps/cert-manager/cert-manager/ks.yaml
  kubernetes/apps/cert-manager/kustomization.yaml
  kubernetes/apps/cert-manager/namespace.yaml
  kubernetes/home-cluster/apps/cert-manager/cert-manager/ks.yaml
Labels: area/kubernetes

chore: disable pod monitor
  kubernetes/apps/cert-manager/cert-manager/app/helmrelease.yaml
Labels: area/kubernetes

feat: deploy tools
  kubernetes/apps/tools/intel-device-plugin/app/gpu/helmrelease.yaml
Labels: area/kubernetes

feat: deploy networking
  kubernetes/apps/flux-system/addons/app/webhooks/github/receiver.yaml
  kubernetes/apps/networking/cloudflared/app/config/config.yaml
  kubernetes/apps/networking/cloudflared/app/dnsendpoint.yaml
  kubernetes/apps/networking/cloudflared/app/helmrelease.yaml
  kubernetes/apps/networking/cloudflared/app/kustomization.yaml
  kubernetes/apps/networking/cloudflared/app/patches/kustomizeconfig.yaml
  kubernetes/apps/networking/cloudflared/app/secret.sops.yaml
  kubernetes/apps/networking/cloudflared/ks.yaml
  kubernetes/apps/networking/echo-server/app/helmrelease.yaml
  kubernetes/apps/networking/echo-server/app/kustomization.yaml
  kubernetes/apps/networking/echo-server/ks.yaml
  kubernetes/apps/networking/external-dns/app/dnsendpoint-crd.yaml
  kubernetes/apps/networking/external-dns/app/helm-release.yaml
  kubernetes/apps/networking/external-dns/app/kustomization.yaml
  kubernetes/apps/networking/external-dns/app/secrets.sops.yaml
  kubernetes/apps/networking/external-dns/ks.yaml
  kubernetes/apps/networking/external-services/haos.yaml
  kubernetes/apps/networking/external-services/kustomization.yaml
  kubernetes/apps/networking/ingress-nginx/certificates/certificates.yaml
  kubernetes/apps/networking/ingress-nginx/certificates/kustomization.yaml
  kubernetes/apps/networking/ingress-nginx/external/config/custom-modsecurity.conf
  kubernetes/apps/networking/ingress-nginx/external/dashboard/dashboard.json
  kubernetes/apps/networking/ingress-nginx/external/dashboard/kustomization.yaml
  kubernetes/apps/networking/ingress-nginx/external/helmrelease.yaml
  kubernetes/apps/networking/ingress-nginx/external/kustomization.yaml
  kubernetes/apps/networking/ingress-nginx/internal/helmrelease.yaml
  kubernetes/apps/networking/ingress-nginx/internal/kustomization.yaml
  kubernetes/apps/networking/ingress-nginx/ks.yaml
  kubernetes/apps/networking/k8s-gateway/app/helmrelease.yaml
  kubernetes/apps/networking/k8s-gateway/app/kustomization.yaml
  kubernetes/apps/networking/k8s-gateway/ks.yaml
  kubernetes/apps/networking/kustomization.yaml
  kubernetes/apps/networking/namespace.yaml
  kubernetes/home-cluster/apps/networking/cloudflared/ks.yaml
Labels: area/kubernetes

feat: deploy tools
  kubernetes/apps/tools/intel-device-plugin/app/gpu/helmrelease.yaml
  kubernetes/apps/tools/intel-device-plugin/app/operator/helmrelease.yaml
Labels: area/kubernetes

feat: deploy networking
  kubernetes/apps/networking/cloudflared/app/helmrelease.yaml
  kubernetes/apps/networking/external-dns/app/helm-release.yaml
Labels: area/kubernetes

feat: deploy networking
  kubernetes/apps/networking/ingress-nginx/external/helmrelease.yaml
  kubernetes/apps/networking/ingress-nginx/internal/helmrelease.yaml
Labels: area/kubernetes

feat: deploy tools
  kubernetes/apps/tools/kustomization.yaml
  kubernetes/apps/tools/system-upgrade-controller/ks.yaml
Labels: area/kubernetes

feat: deploy tools
  kubernetes/apps/tools/system-upgrade-controller/app/kustomization.yaml
Labels: area/kubernetes

feat: deploy tools
  kubernetes/apps/tools/system-upgrade-controller/app/rbac.yaml
Labels: area/kubernetes

feat: deploy spegel
  kubernetes/apps/kube-system/kustomization.yaml
  kubernetes/apps/kube-system/spegel/app/helmrelease.yaml
  kubernetes/apps/kube-system/spegel/app/kustomization.yaml
  kubernetes/apps/kube-system/spegel/ks.yaml
  kubernetes/flux/repositories/helm/kustomization.yaml
  kubernetes/flux/repositories/helm/xenitab.yaml
Labels: area/kubernetes

chore: rename cluster
  .github/renovate/grafanaDashboards.json
  .taskfiles/cluster/Taskfile.yaml
  .taskfiles/cluster/ks.tmpl.yaml
  Taskfile.yml
  docs/src/kubernetes/storage.md
Labels: area/github

feat: deploy local-storage
  kubernetes/apps/storage/kustomization.yaml
  kubernetes/apps/storage/local-path-provisioner/app/helmrelease.yaml
  kubernetes/apps/storage/local-path-provisioner/app/kustomization.yaml
  kubernetes/apps/storage/local-path-provisioner/ks.yaml
  kubernetes/apps/storage/namespace.yaml
Labels: area/kubernetes

feat: deploy postgres
  kubernetes/apps/database/kustomization.yaml
  kubernetes/apps/database/namespace.yaml
  kubernetes/apps/database/postgres/app/helmrelease.yaml
  kubernetes/apps/database/postgres/app/kustomization.yaml
  kubernetes/apps/database/postgres/app/secret.sops.yaml
  kubernetes/apps/database/postgres/cluster/cluster.yaml
  kubernetes/apps/database/postgres/cluster/kustomization.yaml
  kubernetes/apps/database/postgres/cluster/prometheusrule.yaml
  kubernetes/apps/database/postgres/cluster/scheduledbackup.yaml
  kubernetes/apps/database/postgres/cluster/service.yaml
  kubernetes/apps/database/postgres/ks.yaml
Labels: area/kubernetes

feat: deploy postgres
  kubernetes/apps/database/postgres/app/helmrelease.yaml
Labels: area/kubernetes

chore: configure hugepages
  provision/talos/talconfig.yaml
Labels: none

feat: recover postgres
  kubernetes/apps/database/postgres/cluster/cluster.yaml
Labels: area/kubernetes

chore: rename cluster
  kubernetes/apps/kube-system/cilium/app/values.yaml
  provision/talos/integrations/cilium/cilium.yaml
Labels: area/kubernetes

feat: deploy prowlarr
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/default/namespace.yaml
  kubernetes/apps/default/prowlarr/app/helm-release.yaml
  kubernetes/apps/default/prowlarr/app/kustomization.yaml
  kubernetes/apps/default/prowlarr/app/secret.sops.yaml
  kubernetes/apps/default/prowlarr/ks.yaml
Labels: area/kubernetes

feat: deploy prowlarr
  kubernetes/apps/default/kustomization.yaml
Labels: area/kubernetes

feat: deploy prowlarr
  kubernetes/apps/default/prowlarr/app/helm-release.yaml
Labels: area/kubernetes

feat: deploy mayastor
  kubernetes/apps/openebs/kustomization.yaml
  kubernetes/apps/openebs/mayastor/app/helmrelease.yaml
  kubernetes/apps/openebs/mayastor/app/kustomization.yaml
  kubernetes/apps/openebs/mayastor/config/kustomization.yaml
  kubernetes/apps/openebs/mayastor/config/mayastor-pool.yaml
  kubernetes/apps/openebs/mayastor/config/snapshot-class.yaml
  kubernetes/apps/openebs/mayastor/config/storage-class.yaml
  kubernetes/apps/openebs/mayastor/ks.yaml
  kubernetes/apps/openebs/namespace.yaml
  kubernetes/home-cluster/apps/openebs/mayastor/ks.yaml
  provision/talos/apply.sh
  provision/talos/clusterconfig/.gitignore
  provision/talos/talconfig.yaml
Labels: area/kubernetes

feat: deploy mayastor
  kubernetes/apps/openebs/mayastor/app/helmrelease.yaml
Labels: area/kubernetes

feat: deploy volsync
  kubernetes/apps/storage/kustomization.yaml
  kubernetes/apps/storage/snapshot-controller/app/helmrelease.yaml
  kubernetes/apps/storage/snapshot-controller/app/kustomization.yaml
  kubernetes/apps/storage/snapshot-controller/ks.yaml
  kubernetes/apps/storage/volsync/app/helmrelease.yaml
  kubernetes/apps/storage/volsync/app/kustomization.yaml
  kubernetes/apps/storage/volsync/ks.yaml
Labels: area/kubernetes

feat: deploy prometheus
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/app/kustomization.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/app/prometheusrules/kustomization.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/app/prometheusrules/prometheusrule.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/app/resources/alertmanager.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/app/resources/kube-state-metrics.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/ks.yaml
  kubernetes/apps/monitoring/kustomization.yaml
  kubernetes/apps/monitoring/namespace.yaml
Labels: area/kubernetes

feat: deploy prometheus
  kubernetes/apps/monitoring/kube-prometheus-stack/addons/kustomization.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/addons/prometheusrules/kustomization.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/addons/prometheusrules/prometheusrule.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/app/kustomization.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/ks.yaml
Labels: area/kubernetes

feat: deploy prometheus
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

feat: deploy prometheus
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

feat: deploy prometheus
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

feat: deploy prometheus
  kubernetes/apps/cert-manager/cert-manager/app/helmrelease.yaml
  kubernetes/apps/database/postgres/cluster/cluster.yaml
  kubernetes/apps/flux-system/addons/app/kustomization.yaml
  kubernetes/apps/kube-system/spegel/app/helmrelease.yaml
  kubernetes/apps/networking/cloudflared/app/helmrelease.yaml
  kubernetes/apps/networking/external-dns/app/helm-release.yaml
  kubernetes/apps/networking/ingress-nginx/external/helmrelease.yaml
  kubernetes/apps/networking/ingress-nginx/internal/helmrelease.yaml
  kubernetes/apps/storage/snapshot-controller/app/helmrelease.yaml
  kubernetes/apps/tools/descheduler/app/helmrelease.yaml
  kubernetes/apps/tools/reloader/app/helmrelease.yaml
Labels: area/kubernetes

feat: deploy actual
  kubernetes/apps/default/actual/app/helmrelease.yaml
  kubernetes/apps/default/actual/app/kustomization.yaml
  kubernetes/apps/default/actual/ks.yaml
  kubernetes/templates/volsync/claim.yaml
  kubernetes/templates/volsync/kustomization.yaml
  kubernetes/templates/volsync/minio.yaml
Labels: area/kubernetes

feat: deploy actual
  kubernetes/apps/default/kustomization.yaml
Labels: area/kubernetes

feat: deploy actual
  kubernetes/apps/default/actual/ks.yaml
Labels: area/kubernetes

feat: deploy actual
  kubernetes/apps/default/actual/app/helmrelease.yaml
Labels: area/kubernetes

feat: archive actual
  kubernetes/apps/default/actual/app/helmrelease.yaml
  kubernetes/apps/default/actual/app/kustomization.yaml
  kubernetes/apps/default/actual/ks.yaml
  kubernetes/apps/default/kustomization.yaml
Labels: area/kubernetes

feat: archive actual
  .archive/default/actual/app/helmrelease.yaml
  .archive/default/actual/app/kustomization.yaml
  .archive/default/actual/ks.yaml
Labels: none

chore: set correct kubernetes version
  README.md
  kubernetes/apps/tools/system-upgrade-controller/plans/kubernetes.yaml
Labels: area/kubernetes

feat: archive echo-server
  .archive/networking/echo-server/app/helmrelease.yaml
  .archive/networking/echo-server/app/kustomization.yaml
  .archive/networking/echo-server/ks.yaml
Labels: none

feat: update app-template
  kubernetes/apps/networking/cloudflared/app/helmrelease.yaml
  kubernetes/apps/networking/cloudflared/app/kustomization.yaml
  kubernetes/apps/networking/cloudflared/app/patches/kustomizeconfig.yaml
  kubernetes/apps/networking/cloudflared/app/resources/config.yaml
  kubernetes/apps/networking/cloudflared/ks.yaml
Labels: area/kubernetes

feat: archive echo-server
  kubernetes/apps/networking/kustomization.yaml
Labels: area/kubernetes

.github/labeler.yaml:

---
area/github:
  - changed-files:
      - any-glob-to-any-file:
          - ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file:
          - "kubernetes/**/*"
area/terraform:
  - changed-files:
      - any-glob-to-any-file:
          - "provision/terraform/**/*"
