Repository MrMarble/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/docs, area/github, area/kubernetes, area/renovate, area/taskfile

.github/labeler.yaml:

---
area/ansible:
  - changed-files:
      - any-glob-to-any-file: "provision/ansible/**/*"
area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "README.md"
          - "docs/**/*"
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
area/renovate:
  - changed-files:
      - any-glob-to-any-file:
          - ".renovate/**/*"
          - ".renovaterc.json5"
area/taskfile:
  - changed-files:
      - any-glob-to-any-file:
          - ".taskfiles/**/*"
          - "Taskfile.yaml"

Update kustomization.yaml
  kubernetes/apps/monitor/kube-prometheus-stack/app/kustomization.yaml
Labels: area/kubernetes

Update helmrelease.yaml
  kubernetes/apps/monitor/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

chore: remove unused namespace config
  kubernetes/apps/monitor/blackbox-exporter/ks.yaml
  kubernetes/apps/monitor/gatus/ks.yaml
  kubernetes/apps/monitor/grafana/instance/grafanadatasource.yaml
  kubernetes/apps/monitor/grafana/ks.yaml
  kubernetes/apps/monitor/kromgo/ks.yaml
  kubernetes/apps/monitor/smartctl-exporter/ks.yaml
Labels: area/kubernetes

chore: add just to mise
  mise.toml
Labels: none

fix(gatus): missing namespace
  kubernetes/apps/monitor/gatus/app/helmrelease.yaml
  kubernetes/apps/monitor/gatus/ks.yaml
  mise.toml
Labels: area/kubernetes

fix(gatus): update config
  kubernetes/apps/monitor/gatus/app/helmrelease.yaml
  kubernetes/apps/monitor/gatus/app/kustomization.yaml
  kubernetes/apps/monitor/gatus/app/prometheusrule.yaml
  kubernetes/apps/monitor/gatus/app/pvc.yaml
  kubernetes/apps/monitor/gatus/app/resources/config.yaml
Labels: area/kubernetes

feat: deploy dragonfly
  kubernetes/apps/database/dragonfly-operator/app/helmrelease.yaml
  kubernetes/apps/database/dragonfly-operator/app/kustomization.yaml
  kubernetes/apps/database/dragonfly-operator/app/ocirepository.yaml
  kubernetes/apps/database/dragonfly-operator/ks.yaml
  kubernetes/apps/database/kustomization.yaml
Labels: area/kubernetes

feat!: replace redis with dragonfly
  kubernetes/apps/database/dragonfly-operator/ks.yaml
  kubernetes/apps/database/dragonfly/cluster/dragonfly.yaml
  kubernetes/apps/database/dragonfly/cluster/kustomization.yaml
  kubernetes/apps/database/dragonfly/ks.yaml
  kubernetes/apps/database/kustomization.yaml
  kubernetes/apps/database/redis/app/helmrelease.yaml
Labels: area/kubernetes

Update dragonfly.yaml
  kubernetes/apps/database/dragonfly/cluster/dragonfly.yaml
Labels: area/kubernetes

chore: fix fix dragonfly
  kubernetes/apps/database/dragonfly-operator/app/helmrelease.yaml
  kubernetes/apps/database/dragonfly-operator/app/kustomization.yaml
  kubernetes/apps/database/dragonfly-operator/app/ocirepository.yaml
  kubernetes/apps/database/dragonfly-operator/ks.yaml
  kubernetes/apps/database/dragonfly/app/helmrelease.yaml
  kubernetes/apps/database/dragonfly/app/kustomization.yaml
  kubernetes/apps/database/dragonfly/app/rbac.yaml
  kubernetes/apps/database/dragonfly/ks.yaml
Labels: area/kubernetes

Update kustomization.yaml
  kubernetes/apps/database/kustomization.yaml
Labels: area/kubernetes

chore: remove dragonfly
  kubernetes/apps/database/dragonfly/app/helmrelease.yaml
  kubernetes/apps/database/dragonfly/app/kustomization.yaml
  kubernetes/apps/database/dragonfly/app/rbac.yaml
  kubernetes/apps/database/dragonfly/cluster/dragonfly.yaml
  kubernetes/apps/database/dragonfly/cluster/kustomization.yaml
  kubernetes/apps/database/dragonfly/ks.yaml
  kubernetes/apps/database/kustomization.yaml
Labels: area/kubernetes

feat: deploy dragonfly
  kubernetes/apps/database/dragonfly-operator/app/helmrelease.yaml
  kubernetes/apps/database/dragonfly-operator/app/kustomization.yaml
  kubernetes/apps/database/dragonfly-operator/app/ocirepository.yaml
  kubernetes/apps/database/dragonfly-operator/cluster/cluster.yaml
  kubernetes/apps/database/dragonfly-operator/cluster/kustomization.yaml
  kubernetes/apps/database/dragonfly-operator/cluster/networkpolicy-prometheus-metrics.yaml
  kubernetes/apps/database/dragonfly-operator/cluster/podmonitor.yaml
  kubernetes/apps/database/dragonfly-operator/ks.yaml
  kubernetes/apps/database/kustomization.yaml
Labels: area/kubernetes

feat: migrate redis to dragonfly
  kubernetes/apps/database/dragonfly-operator/cluster/cluster.yaml
  kubernetes/apps/database/dragonfly-operator/cluster/networkpolicy-prometheus-metrics.yaml
  kubernetes/apps/default/immich/app/configmap.yaml
  kubernetes/apps/default/immich/app/machine-learning/helmrelease.yaml
  kubernetes/apps/default/immich/app/server/helmrelease.yaml
Labels: area/kubernetes

fix: dragonfly network policy
  kubernetes/apps/database/dragonfly-operator/cluster/cluster.yaml
  kubernetes/apps/database/dragonfly-operator/cluster/kustomization.yaml
  kubernetes/apps/database/dragonfly-operator/cluster/networkpolicy.yaml
Labels: area/kubernetes

feat: add cloudnative-pg ocirepo
  kubernetes/apps/database/postgres/app/helmrelease.yaml
  kubernetes/apps/database/postgres/app/kustomization.yaml
  kubernetes/apps/database/postgres/app/ocirepository.yaml
Labels: area/kubernetes

feat(openebs): use proper oci tag
  kubernetes/apps/openebs/openebs/app/ocirepository.yaml
Labels: area/kubernetes

fix(openebs): used wrong artifact
  kubernetes/apps/openebs/openebs/app/ocirepository.yaml
Labels: area/kubernetes

chore: add namespace to git source kustomization
  kubernetes/apps/cert-manager/cert-manager/ks.yaml
  kubernetes/apps/database/postgres/ks.yaml
  kubernetes/apps/default/archi/ks.yaml
  kubernetes/apps/default/immich/ks.yaml
  kubernetes/apps/default/psitransfer/ks.yaml
  kubernetes/apps/external-secrets/external-secrets/ks.yaml
  kubernetes/apps/external-secrets/onepassword-connect/ks.yaml
  kubernetes/apps/flux-system/flux-instance/ks.yaml
  kubernetes/apps/flux-system/flux-operator/ks.yaml
  kubernetes/apps/kube-system/cilium/ks.yaml
  kubernetes/apps/kube-system/coredns/ks.yaml
  kubernetes/apps/kube-system/intel-gpu-resource-driver/ks.yaml
  kubernetes/apps/kube-system/node-feature-discovery/ks.yaml
  kubernetes/apps/kube-system/reloader/ks.yaml
  kubernetes/apps/kube-system/snapshot-controller/ks.yaml
  kubernetes/apps/longhorn/longhorn/ks.yaml
  kubernetes/apps/network/certificates/ks.yaml
  kubernetes/apps/network/cloudflared/ks.yaml
  kubernetes/apps/network/envoy-gateway/ks.yaml
  kubernetes/apps/network/external-dns/ks.yaml
  kubernetes/apps/openebs/openebs/ks.yaml
  kubernetes/apps/system-upgrade/system-upgrade-controller/ks.yaml
Labels: area/kubernetes

chore: recover postgres
  kubernetes/apps/database/postgres/cluster/cluster.yaml
  kubernetes/apps/network/external-dns/app/helmrelease.yaml
Labels: area/kubernetes

fix(system-upgrade): service account
  kubernetes/apps/system-upgrade/system-upgrade-controller/app/helmrelease.yaml
Labels: area/kubernetes

Update rbac.yaml
  kubernetes/apps/system-upgrade/system-upgrade-controller/app/rbac.yaml
Labels: area/kubernetes

fix: dns resolution
  kubernetes/apps/kube-system/coredns/app/helmrelease.yaml
  kubernetes/apps/network/envoy-gateway/app/envoy.yaml
  provision/ansible/roles/prerequisites/tasks/main.yaml
Labels: area/ansible, area/kubernetes

fix: dns resolution
  kubernetes/apps/kube-system/coredns/app/helmrelease.yaml
  provision/ansible/roles/prerequisites/tasks/main.yaml
Labels: area/ansible, area/kubernetes

fix: dns resolution
  kubernetes/apps/kube-system/coredns/app/helmrelease.yaml
Labels: area/kubernetes

fix: add support for tls 1.3
  kubernetes/apps/network/envoy-gateway/app/envoy.yaml
Labels: area/kubernetes

fix: disable http3
  kubernetes/apps/network/envoy-gateway/app/envoy.yaml
Labels: area/kubernetes

fix: enable http3
  kubernetes/apps/network/envoy-gateway/app/envoy.yaml
Labels: area/kubernetes

chore: add gatus annotation
  kubernetes/apps/flux-system/flux-instance/app/httproute.yaml
Labels: area/kubernetes

feat: deploy descheduler
  kubernetes/apps/kube-system/descheduler/app/helmrelease.yaml
  kubernetes/apps/kube-system/descheduler/app/kustomization.yaml
  kubernetes/apps/kube-system/descheduler/app/ocirepository.yaml
  kubernetes/apps/kube-system/descheduler/ks.yaml
  kubernetes/apps/kube-system/kustomization.yaml
Labels: area/kubernetes

fix: lower radarr memory requests
  kubernetes/apps/media/radarr/app/helmrelease.yaml
Labels: area/kubernetes

chore: update resources
  kubernetes/apps/media/janitorr/app/helmrelease.yaml
  kubernetes/apps/media/jellyfin/app/helmrelease.yaml
  kubernetes/apps/media/profilarr/app/helmrelease.yaml
  kubernetes/apps/media/prowlarr/app/helmrelease.yaml
  kubernetes/apps/media/qui/app/helmrelease.yaml
  kubernetes/apps/media/radarr/app/helmrelease.yaml
  kubernetes/apps/media/seerr/app/helmrelease.yaml
  kubernetes/apps/media/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

ci(renovate): use ubuntu-latest as a runner
  .github/workflows/renovate.yaml
Labels: area/github

chore(renovate-config): update renovate preset
  .renovaterc.json5
Labels: area/renovate

ci(renovate): update renovatebot image
  .github/workflows/renovate.yaml
Labels: area/github

ci(renovate): update token permissions
  .github/workflows/renovate.yaml
Labels: area/github

feat: update profilarr to v2
  kubernetes/apps/media/profilarr/app/helmrelease.yaml
Labels: area/kubernetes

fix: broken url
  kubernetes/apps/media/profilarr/app/helmrelease.yaml
Labels: area/kubernetes

Update helmrelease.yaml
  kubernetes/apps/media/profilarr/app/helmrelease.yaml
Labels: area/kubernetes

Update helmrelease.yaml
  kubernetes/apps/media/profilarr/app/helmrelease.yaml
Labels: area/kubernetes
