Repository MrMarble/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/kubernetes, area/terraform

.github/labeler.yaml:

---
area/github:
  - ".github/**/*"
area/kubernetes:
  - "kubernetes/**/*"
area/terraform:
  - "provision/terraform/**/*"

feat(container): update image docker.io/cloudflare/cloudflared to 2023.10.0
  kubernetes/home-cluster/apps/networking/cloudflared/app/helmrelease.yaml
Labels: area/kubernetes

feat(terraform): update terraform cloudflare to 4.18.0
  provision/terraform/cloudflare/.terraform.lock.hcl
  provision/terraform/cloudflare/main.tf
Labels: area/terraform

chore(deps): update image ghcr.io/esphome/esphome to
  kubernetes/home-cluster/apps/default/esphome/app/helmrelease.yaml
Labels: area/kubernetes

chore(deps): update image ghcr.io/bjw-s/mdbook to
  .github/workflows/deploy-docs.yaml
Labels: area/github

feat(container): update immich group to v1.84.0
  kubernetes/home-cluster/apps/default/immich/app/machine-learning/helmrelease.yaml
  kubernetes/home-cluster/apps/default/immich/app/microservices/helmrelease.yaml
  kubernetes/home-cluster/apps/default/immich/app/server/helmrelease.yaml
  kubernetes/home-cluster/apps/default/immich/app/web/helmrelease.yaml
Labels: area/kubernetes

chore(deps): update image ghcr.io/bjw-s/mdbook to
  .github/workflows/deploy-docs.yaml
Labels: area/github

chore(deps): update image ghcr.io/bjw-s/mdbook to
  .github/workflows/deploy-docs.yaml
Labels: area/github

fix(container): update image kyverno to 3.0.6
  kubernetes/home-cluster/apps/kyverno/kyverno/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/onedr0p/home-assistant to 2023.11.0
  kubernetes/home-cluster/apps/default/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/justarchinet/archisteamfarm to 5.4.13.2
  kubernetes/home-cluster/apps/default/archi/app/helm-release.yaml
Labels: area/kubernetes

chore(deps): update image quay.io/prometheus/alertmanager to
  kubernetes/home-cluster/apps/monitoring/alertmanager/app/helmrelease.yaml
Labels: area/kubernetes

chore(deps): update image quay.io/prometheus/alertmanager to
  kubernetes/home-cluster/apps/monitoring/alertmanager/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/wizarrrr/wizarr to 3.4.8
  kubernetes/home-cluster/apps/default/wizarr/app/helm-release.yaml
Labels: area/kubernetes

chore(deps): update image ghcr.io/esphome/esphome to
  kubernetes/home-cluster/apps/default/esphome/app/helmrelease.yaml
Labels: area/kubernetes

chore(deps): update image quay.io/prometheus/alertmanager to
  kubernetes/home-cluster/apps/monitoring/alertmanager/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart grafana to 7.0.3
  kubernetes/home-cluster/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update chart cloudnative-pg to 0.19.1
  kubernetes/home-cluster/apps/database/postgres/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/cloudnative-pg/postgresql to 14.9-18
  kubernetes/home-cluster/apps/database/postgres/cluster/cluster.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/cross-seed/cross-seed to 5.7.0
  kubernetes/home-cluster/apps/default/qbittorrent/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/home-assistant to 2023.11.1
  kubernetes/home-cluster/apps/default/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/justarchinet/archisteamfarm to 5.4.13.3
  kubernetes/home-cluster/apps/default/archi/app/helm-release.yaml
Labels: area/kubernetes

chore(deps): update image quay.io/prometheus/alertmanager to
  kubernetes/home-cluster/apps/monitoring/alertmanager/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/cross-seed/cross-seed to 5.8.0
  kubernetes/home-cluster/apps/default/qbittorrent/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to 1.10.3.4070
  kubernetes/home-cluster/apps/default/prowlarr/app/helm-release.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/cross-seed/cross-seed to 5.8.1
  kubernetes/home-cluster/apps/default/qbittorrent/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update immich group to v1.85.0
  kubernetes/home-cluster/apps/default/immich/app/machine-learning/helmrelease.yaml
  kubernetes/home-cluster/apps/default/immich/app/microservices/helmrelease.yaml
  kubernetes/home-cluster/apps/default/immich/app/server/helmrelease.yaml
  kubernetes/home-cluster/apps/default/immich/app/web/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart reloader to 1.0.51
  kubernetes/home-cluster/apps/kube-system/reloader/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/gethomepage/homepage to v0.8.0
  kubernetes/home-cluster/apps/default/homepage/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart weave-gitops to 4.0.34
  kubernetes/home-cluster/apps/flux-system/weave-gitops/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image registry.k8s.io/sig-storage/csi-attacher to v4.4.2
  kubernetes/home-cluster/apps/democratic-csi/freenas-iscsi/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image registry.k8s.io/sig-storage/csi-node-driver-registrar to v2.9.1
  kubernetes/home-cluster/apps/democratic-csi/freenas-iscsi/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image registry.k8s.io/sig-storage/csi-provisioner to v3.6.2
  kubernetes/home-cluster/apps/democratic-csi/freenas-iscsi/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image registry.k8s.io/sig-storage/csi-resizer to v1.9.2
  kubernetes/home-cluster/apps/democratic-csi/freenas-iscsi/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image registry.k8s.io/sig-storage/csi-snapshotter to v6.3.2
  kubernetes/home-cluster/apps/democratic-csi/freenas-iscsi/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/democratic-csi/democratic-csi to v1.8.4
  kubernetes/home-cluster/apps/democratic-csi/freenas-iscsi/app/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update chart redis to 18.3.2
  kubernetes/home-cluster/apps/database/redis/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image kyverno to 3.1.0
  kubernetes/home-cluster/apps/kyverno/kyverno/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/home-assistant to 2023.11.2
  kubernetes/home-cluster/apps/default/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/sonarr-develop to 4.0.0.719
  kubernetes/home-cluster/apps/default/sonarr/app/helm-release.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/sonarr-develop to 4.0.0.720
  kubernetes/home-cluster/apps/default/sonarr/app/helm-release.yaml
Labels: area/kubernetes
