Repository MrMarble/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/kubernetes, area/terraform

fix(container): update image ghcr.io/onedr0p/radarr-develop to 5.1.3.8246
  kubernetes/home-cluster/apps/default/radarr/app/helm-release.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/justarchinet/archisteamfarm to 5.4.13.4
  kubernetes/home-cluster/apps/default/archi/app/helm-release.yaml
Labels: area/kubernetes

feat: upgrade config
  kubernetes/home-cluster/apps/default/qbittorrent/tools/manage/config/config.yaml
  kubernetes/home-cluster/apps/default/qbittorrent/tools/manage/helmrelease.yaml
  kubernetes/home-cluster/apps/default/qbittorrent/tools/manage/kustomization.yaml
  kubernetes/home-cluster/apps/default/qbittorrent/tools/manage/patches/kustomizeconfig.yaml
  kubernetes/home-cluster/apps/default/qbittorrent/tools/reannounce/helmrelease.yaml
  kubernetes/home-cluster/apps/default/qbittorrent/tools/tag/helmrelease.yaml
  kubernetes/home-cluster/apps/default/qbittorrent/tools/tag/kustomization.yaml
Labels: area/kubernetes

fix(qbtools): remove init container
  kubernetes/home-cluster/apps/default/qbittorrent/tools/manage/helmrelease.yaml
Labels: area/kubernetes

fix(qbtools): update tracker url
  kubernetes/home-cluster/apps/default/qbittorrent/tools/manage/config/config.yaml
Labels: area/kubernetes

feat(helm)!: Update chart kube-prometheus-stack to 53.0.0
  kubernetes/home-cluster/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

chore: try nginx mod security
  kubernetes/home-cluster/apps/networking/echo-server/app/helmrelease.yaml
Labels: area/kubernetes

chore: try nginx mod security
  kubernetes/home-cluster/apps/networking/ingress-nginx/external/helmrelease.yaml
Labels: area/kubernetes

chore: try nginx mod security
  kubernetes/home-cluster/apps/networking/ingress-nginx/external/helmrelease.yaml
Labels: area/kubernetes

chore: try nginx mod security
  kubernetes/home-cluster/apps/networking/ingress-nginx/external/helmrelease.yaml
Labels: area/kubernetes

chore: try nginx mod security
  kubernetes/home-cluster/apps/networking/echo-server/app/helmrelease.yaml
  kubernetes/home-cluster/apps/networking/ingress-nginx/external/helmrelease.yaml
Labels: area/kubernetes

feat: deploy loki
  kubernetes/home-cluster/apps/monitoring/kustomization.yaml
  kubernetes/home-cluster/apps/monitoring/loki/app/helmrelease.yaml
  kubernetes/home-cluster/apps/monitoring/loki/app/kustomization.yaml
  kubernetes/home-cluster/apps/monitoring/loki/ks.yaml
Labels: area/kubernetes

feat: deploy promtail
  .taskfiles/cluster/helmrelease.tmpl.yaml
  kubernetes/home-cluster/apps/monitoring/kustomization.yaml
  kubernetes/home-cluster/apps/monitoring/promtail/app/helmrelease.yaml
  kubernetes/home-cluster/apps/monitoring/promtail/app/kustomization.yaml
  kubernetes/home-cluster/apps/monitoring/promtail/ks.yaml
Labels: area/kubernetes

feat: deploy promtail
  kubernetes/home-cluster/apps/monitoring/promtail/app/helmrelease.yaml
Labels: area/kubernetes

fix: remove auth
  kubernetes/home-cluster/apps/monitoring/loki/app/helmrelease.yaml
Labels: area/kubernetes

fix: remove auth
  kubernetes/home-cluster/apps/monitoring/loki/app/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update chart promtail to 6.15.3
  kubernetes/home-cluster/apps/monitoring/promtail/app/helmrelease.yaml
Labels: area/kubernetes

chore: change config
  kubernetes/home-cluster/apps/networking/ingress-nginx/external/helmrelease.yaml
Labels: area/kubernetes

chore: Update ingress-nginx configuration
  kubernetes/home-cluster/apps/networking/ingress-nginx/external/helmrelease.yaml
Labels: area/kubernetes

fix(loki): increase limits
  kubernetes/home-cluster/apps/monitoring/loki/app/helmrelease.yaml
Labels: area/kubernetes

chore: configure nginx logs
  kubernetes/home-cluster/apps/monitoring/grafana/app/helmrelease.yaml
  kubernetes/home-cluster/apps/networking/ingress-nginx/external/helmrelease.yaml
Labels: area/kubernetes

feat: configure geoip
  kubernetes/home-cluster/apps/networking/ingress-nginx/external/helmrelease.yaml
  kubernetes/home-cluster/apps/networking/ingress-nginx/external/secret.sops.yaml
Labels: area/kubernetes

feat: configure geoip
  kubernetes/home-cluster/apps/networking/ingress-nginx/external/kustomization.yaml
Labels: area/kubernetes

feat: configure geoip
  kubernetes/home-cluster/apps/networking/ingress-nginx/external/kustomization.yaml
Labels: area/kubernetes

feat: add ingress name
  kubernetes/home-cluster/apps/networking/ingress-nginx/external/helmrelease.yaml
Labels: area/kubernetes

feat: add namespace
  kubernetes/home-cluster/apps/networking/ingress-nginx/external/helmrelease.yaml
Labels: area/kubernetes

chore(deps): update image quay.io/prometheus/alertmanager to
  kubernetes/home-cluster/apps/monitoring/alertmanager/app/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update chart volsync to 0.8.0
  kubernetes/home-cluster/apps/volsync/volsync/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart cilium to 1.14.4
  kubernetes/home-cluster/apps/kube-system/cilium/app/helmrelease.yaml
  provision/talos/integrations/cilium/kustomization.yaml
Labels: area/kubernetes

feat(container): update immich group to v1.86.0
  kubernetes/home-cluster/apps/default/immich/app/machine-learning/helmrelease.yaml
  kubernetes/home-cluster/apps/default/immich/app/microservices/helmrelease.yaml
  kubernetes/home-cluster/apps/default/immich/app/server/helmrelease.yaml
  kubernetes/home-cluster/apps/default/immich/app/web/helmrelease.yaml
Labels: area/kubernetes

chore(deps): update image quay.io/prometheus/alertmanager to
  kubernetes/home-cluster/apps/monitoring/alertmanager/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image gitea/gitea to 1.21.0
  kubernetes/home-cluster/apps/dev/gitea/app/helmrelease.yaml
Labels: area/kubernetes

chore(deps): update image quay.io/prometheus/alertmanager to
  kubernetes/home-cluster/apps/monitoring/alertmanager/app/helmrelease.yaml
Labels: area/kubernetes

feat(terraform): update terraform cloudflare to 4.19.0
  provision/terraform/cloudflare/.terraform.lock.hcl
  provision/terraform/cloudflare/main.tf
Labels: area/terraform

feat(container): update image ghcr.io/cloudnative-pg/postgresql to 14.10-1
  kubernetes/home-cluster/apps/database/postgres/cluster/cluster.yaml
Labels: area/kubernetes

chore(deps): update image quay.io/prometheus/alertmanager to
  kubernetes/home-cluster/apps/monitoring/alertmanager/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart grafana to 7.0.6
  kubernetes/home-cluster/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update chart prometheus-node-exporter to 4.24.0
  kubernetes/home-cluster/apps/monitoring/node-exporter/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart reloader to 1.0.52
  kubernetes/home-cluster/apps/kube-system/reloader/app/helmrelease.yaml
Labels: area/kubernetes

feat: add new node
  docs/src/overview/hardware.md
  provision/talos/apply.sh
  provision/talos/clusterconfig/.gitignore
  provision/talos/talconfig.yaml
Labels: none

.github/labeler.yaml:

---
area/github:
  - ".github/**/*"
area/kubernetes:
  - "kubernetes/**/*"
area/terraform:
  - "provision/terraform/**/*"
