Repository MrMarble/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/kubernetes, area/terraform

.github/labeler.yaml:

---
area/github:
  - ".github/**/*"
area/kubernetes:
  - "kubernetes/**/*"
area/terraform:
  - "provision/terraform/**/*"

feat(helm): update chart prometheus-node-exporter to 4.23.0
  kubernetes/home-cluster/apps/monitoring/node-exporter/app/helmrelease.yaml
Labels: area/kubernetes

feat: update recyclarr
  kubernetes/home-cluster/apps/default/recyclarr/app/helm-release.yaml
Labels: area/kubernetes

chore(deps): update image quay.io/prometheus/alertmanager to
  kubernetes/home-cluster/apps/monitoring/alertmanager/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to 1.8.6.3931
  kubernetes/home-cluster/apps/default/prowlarr/app/helm-release.yaml
Labels: area/kubernetes

feat(github-action)!: Update actions/checkout action to v4
  .github/workflows/deploy-docs.yaml
  .github/workflows/helm-release-differ.yaml
  .github/workflows/lint.yaml
  .github/workflows/meta-sync-labels.yaml
  .github/workflows/schedule-link-checker.yaml
  .github/workflows/schedule-renovate.yaml
Labels: area/github

chore(deps): update image quay.io/prometheus/alertmanager to
  kubernetes/home-cluster/apps/monitoring/alertmanager/app/helmrelease.yaml
Labels: area/kubernetes

feat(helm)!: Update chart kube-prometheus-stack to 50.3.1
  kubernetes/home-cluster/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

chore(deps): update image quay.io/prometheus/alertmanager to
  kubernetes/home-cluster/apps/monitoring/alertmanager/app/helmrelease.yaml
Labels: area/kubernetes

chore(deps): update image quay.io/prometheus/alertmanager to
  kubernetes/home-cluster/apps/monitoring/alertmanager/app/helmrelease.yaml
Labels: area/kubernetes

chore(deps): update image ghcr.io/esphome/esphome to
  kubernetes/home-cluster/apps/default/esphome/app/helmrelease.yaml
Labels: area/kubernetes

feat(terraform): update terraform cloudflare to 4.14.0
  provision/terraform/cloudflare/.terraform.lock.hcl
  provision/terraform/cloudflare/main.tf
Labels: area/terraform

fix(helm): update chart reloader to 1.0.40
  kubernetes/home-cluster/apps/kube-system/reloader/app/helmrelease.yaml
Labels: area/kubernetes

chore(deps): update image quay.io/prometheus/alertmanager to
  kubernetes/home-cluster/apps/monitoring/alertmanager/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/onedr0p/home-assistant to 2023.9.0
  kubernetes/home-cluster/apps/default/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes

chore(deps): update image ghcr.io/bjw-s/mdbook to
  .github/workflows/deploy-docs.yaml
Labels: area/github

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to 1.8.6.3938
  kubernetes/home-cluster/apps/default/prowlarr/app/helm-release.yaml
Labels: area/kubernetes

chore(deps): update image ghcr.io/bjw-s/mdbook to
  .github/workflows/deploy-docs.yaml
Labels: area/github

fix(helm): update chart grafana to 6.59.4
  kubernetes/home-cluster/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes

chore(deps): update image ghcr.io/bjw-s/mdbook to
  .github/workflows/deploy-docs.yaml
Labels: area/github

feat(helm): update chart node-feature-discovery to 0.14.0
  kubernetes/home-cluster/apps/kube-system/node-feature-discovery/app/helmrelease.yaml
Labels: area/kubernetes

chore(deps): update image ghcr.io/bjw-s/mdbook to
  .github/workflows/deploy-docs.yaml
Labels: area/github

fix(helm): update chart external-dns to 1.13.1
  kubernetes/home-cluster/apps/networking/external-dns/app/helm-release.yaml
Labels: area/kubernetes

chore(deps): update image quay.io/prometheus/alertmanager to
  kubernetes/home-cluster/apps/monitoring/alertmanager/app/helmrelease.yaml
Labels: area/kubernetes

chore(deps): update image quay.io/prometheus/alertmanager to
  kubernetes/home-cluster/apps/monitoring/alertmanager/app/helmrelease.yaml
Labels: area/kubernetes

feat: deploy gitea
  kubernetes/home-cluster/apps/dev/gitea/app/helmrelease.yaml
  kubernetes/home-cluster/apps/dev/gitea/app/kustomization.yaml
  kubernetes/home-cluster/apps/dev/gitea/app/nfs.yaml
  kubernetes/home-cluster/apps/dev/gitea/app/secret.sops.yaml
  kubernetes/home-cluster/apps/dev/gitea/ks.yaml
  kubernetes/home-cluster/apps/dev/kustomization.yaml
  kubernetes/home-cluster/apps/dev/namespace.yaml
  kubernetes/home-cluster/flux/repositories/helm/gitea.yaml
  kubernetes/home-cluster/flux/repositories/helm/kustomization.yaml
Labels: area/kubernetes

fix: include namespace
  kubernetes/home-cluster/apps/dev/gitea/app/kustomization.yaml
  kubernetes/home-cluster/apps/dev/gitea/app/secret.sops.yaml
Labels: area/kubernetes

fix: storage unit
  kubernetes/home-cluster/apps/dev/gitea/app/nfs.yaml
Labels: area/kubernetes

fix: include namespace
  kubernetes/home-cluster/apps/dev/gitea/app/kustomization.yaml
  kubernetes/home-cluster/apps/dev/gitea/app/nfs.yaml
Labels: area/kubernetes

fix: indentation
  kubernetes/home-cluster/apps/dev/gitea/app/helmrelease.yaml
Labels: area/kubernetes

fix: indentation
  kubernetes/home-cluster/apps/dev/gitea/app/helmrelease.yaml
Labels: area/kubernetes

fix: indentation
  kubernetes/home-cluster/apps/dev/gitea/app/kustomization.yaml
  kubernetes/home-cluster/apps/dev/gitea/app/nfs.yaml
Labels: area/kubernetes

fix: dont create pvc
  kubernetes/home-cluster/apps/dev/gitea/app/helmrelease.yaml
  kubernetes/home-cluster/apps/dev/gitea/app/nfs.yaml
Labels: area/kubernetes

fix: storage unit
  kubernetes/home-cluster/apps/dev/gitea/app/nfs.yaml
Labels: area/kubernetes

fix: storage unit
  kubernetes/home-cluster/apps/dev/gitea/app/nfs.yaml
Labels: area/kubernetes

fix(container): update image gitea/gitea to 1.20.4
  kubernetes/home-cluster/apps/dev/gitea/app/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update chart gitea to 9.4.0
  kubernetes/home-cluster/apps/dev/gitea/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/home-assistant to 2023.9.1
  kubernetes/home-cluster/apps/default/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart ingress-nginx to 4.7.2
  kubernetes/home-cluster/apps/networking/ingress-nginx/external/helmrelease.yaml
  kubernetes/home-cluster/apps/networking/ingress-nginx/internal/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/onedr0p/prowlarr-nightly to 1.9.0.3950
  kubernetes/home-cluster/apps/default/prowlarr/app/helm-release.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/sonarr-develop to 4.0.0.669
  kubernetes/home-cluster/apps/default/sonarr/app/helm-release.yaml
Labels: area/kubernetes
