Repository MrMarble/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/kubernetes, area/terraform

.github/labeler.yaml:

---
area/github:
  - ".github/**/*"
area/kubernetes:
  - "kubernetes/**/*"
area/terraform:
  - "provision/terraform/**/*"

chore: update talos config
  kubernetes/home-cluster/apps/kube-system/cilium/app/values.yaml
  provision/talos/integrations/cilium/cilium.yaml
  provision/talos/integrations/kubelet-csr-approver/kubelet-csr-approver.yaml
  provision/talos/talconfig.yaml
Labels: area/kubernetes

chore: fix talos config
  provision/talos/talconfig.yaml
Labels: none

feat: snapshot-controller 2.0 also deploys webhook
  kubernetes/home-cluster/apps/democratic-csi/snapshot-controller/app/helmrelease.yaml
Labels: area/kubernetes

docs: update verions
  README.md
  docs/src/kubernetes/storage.md
  docs/src/overview/hardware.md
Labels: none

feat(github-action): update oxsecurity/megalinter action to v7.6.0
  .github/workflows/lint.yaml
Labels: area/github

chore: disabe modsecurity
  kubernetes/home-cluster/apps/networking/ingress-nginx/external/helmrelease.yaml
Labels: area/kubernetes

chore: scale nginx
  kubernetes/home-cluster/apps/networking/ingress-nginx/external/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/cross-seed/cross-seed to 5.8.2
  kubernetes/home-cluster/apps/default/qbittorrent/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/radarr-develop to 5.2.2.8288
  kubernetes/home-cluster/apps/default/radarr/app/helm-release.yaml
Labels: area/kubernetes

chore: archive gitea
  kubernetes/archive/dev/gitea/app/helmrelease.yaml
  kubernetes/archive/dev/gitea/app/kustomization.yaml
  kubernetes/archive/dev/gitea/app/nfs.yaml
  kubernetes/archive/dev/gitea/app/secret.sops.yaml
  kubernetes/archive/dev/gitea/ks.yaml
  kubernetes/archive/dev/kustomization.yaml
  kubernetes/archive/dev/namespace.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/sonarr-develop to 4.0.0.731
  kubernetes/home-cluster/apps/default/sonarr/app/helm-release.yaml
Labels: area/kubernetes

chore(deps): update image ghcr.io/esanchezm/prometheus-qbittorrent-exporter to
  kubernetes/home-cluster/apps/monitoring/qbittorrent-exporter/app/helmrelease.yaml
Labels: area/kubernetes

chore(deps): update image ghcr.io/esanchezm/prometheus-qbittorrent-exporter to
  kubernetes/home-cluster/apps/monitoring/qbittorrent-exporter/app/helmrelease.yaml
Labels: area/kubernetes

chore(deps): update image ghcr.io/esanchezm/prometheus-qbittorrent-exporter to
  kubernetes/home-cluster/apps/monitoring/qbittorrent-exporter/app/helmrelease.yaml
Labels: area/kubernetes

chore(deps): update image ghcr.io/esanchezm/prometheus-qbittorrent-exporter to
  kubernetes/home-cluster/apps/monitoring/qbittorrent-exporter/app/helmrelease.yaml
Labels: area/kubernetes

chore(deps): update image ghcr.io/esanchezm/prometheus-qbittorrent-exporter to
  kubernetes/home-cluster/apps/monitoring/qbittorrent-exporter/app/helmrelease.yaml
Labels: area/kubernetes

chore(deps): update image ghcr.io/esanchezm/prometheus-qbittorrent-exporter to
  kubernetes/home-cluster/apps/monitoring/qbittorrent-exporter/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/qbittorrent to 4.6.1
  kubernetes/home-cluster/apps/default/qbittorrent/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/cross-seed/cross-seed to 5.8.3
  kubernetes/home-cluster/apps/default/qbittorrent/app/helmrelease.yaml
Labels: area/kubernetes

chore(deps): update image ghcr.io/esanchezm/prometheus-qbittorrent-exporter to
  kubernetes/home-cluster/apps/monitoring/qbittorrent-exporter/app/helmrelease.yaml
Labels: area/kubernetes

chore(deps): update image ghcr.io/esanchezm/prometheus-qbittorrent-exporter to
  kubernetes/home-cluster/apps/monitoring/qbittorrent-exporter/app/helmrelease.yaml
Labels: area/kubernetes

feat(container)!: Update image ghcr.io/onedr0p/postgres-init to 15.5
  kubernetes/home-cluster/apps/default/immich/app/server/helmrelease.yaml
  kubernetes/home-cluster/apps/default/nextcloud/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update immich group to v1.88.2
  kubernetes/home-cluster/apps/default/immich/app/machine-learning/helmrelease.yaml
  kubernetes/home-cluster/apps/default/immich/app/microservices/helmrelease.yaml
  kubernetes/home-cluster/apps/default/immich/app/server/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/buroa/qbtools to v0.10.1
  kubernetes/home-cluster/apps/default/qbittorrent/tools/manage/helmrelease.yaml
  kubernetes/home-cluster/apps/default/qbittorrent/tools/orphaned/helmrelease.yaml
  kubernetes/home-cluster/apps/default/qbittorrent/tools/reannounce/helmrelease.yaml
Labels: area/kubernetes

chore(deps): update image ghcr.io/bjw-s/mdbook to
  .github/workflows/deploy-docs.yaml
Labels: area/github

chore(deps): update image ghcr.io/esphome/esphome to
  kubernetes/home-cluster/apps/default/esphome/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/home-assistant to 2023.11.3
  kubernetes/home-cluster/apps/default/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes

chore(deps): update image quay.io/prometheus/alertmanager to
  kubernetes/home-cluster/apps/monitoring/alertmanager/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/cloudnative-pg/postgresql to 14.10-3
  kubernetes/home-cluster/apps/database/postgres/cluster/cluster.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to 1.10.5.4098
  kubernetes/home-cluster/apps/default/prowlarr/app/helm-release.yaml
Labels: area/kubernetes

feat(helm): update chart kube-prometheus-stack to 54.2.2
  kubernetes/home-cluster/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image linuxserver/nextcloud to 27.1.4
  kubernetes/home-cluster/apps/default/nextcloud/app/helmrelease.yaml
Labels: area/kubernetes

chore(deps): update image ghcr.io/esphome/esphome to
  kubernetes/home-cluster/apps/default/esphome/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to 1.10.5.4101
  kubernetes/home-cluster/apps/default/prowlarr/app/helm-release.yaml
Labels: area/kubernetes

chore: remove web container
  kubernetes/home-cluster/apps/default/immich/app/kustomization.yaml
  kubernetes/home-cluster/apps/default/immich/app/machine-learning/helmrelease.yaml
  kubernetes/home-cluster/apps/default/immich/app/microservices/helmrelease.yaml
  kubernetes/home-cluster/apps/default/immich/app/server/helmrelease.yaml
  kubernetes/home-cluster/apps/default/immich/app/web/helmrelease.yaml
  kubernetes/home-cluster/apps/default/immich/app/web/kustomization.yaml
Labels: area/kubernetes

fix: immich
  kubernetes/home-cluster/apps/default/immich/app/server/helmrelease.yaml
Labels: area/kubernetes

fix: immich
  kubernetes/home-cluster/apps/default/immich/app/server/helmrelease.yaml
Labels: area/kubernetes

fix: immich
  kubernetes/home-cluster/apps/default/immich/app/server/helmrelease.yaml
Labels: area/kubernetes

chore(deps): update image quay.io/prometheus/alertmanager to
  kubernetes/home-cluster/apps/monitoring/alertmanager/app/helmrelease.yaml
Labels: area/kubernetes

fix: immich
  kubernetes/home-cluster/apps/default/immich/app/server/helmrelease.yaml
Labels: area/kubernetes
