Repository MrMarble/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/docs, area/github, area/kubernetes, area/renovate, area/taskfile

.github/labeler.yaml:

---
area/ansible:
  - changed-files:
      - any-glob-to-any-file: "provision/ansible/**/*"
area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "README.md"
          - "docs/**/*"
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
area/renovate:
  - changed-files:
      - any-glob-to-any-file:
          - ".renovate/**/*"
          - ".renovaterc.json5"
area/taskfile:
  - changed-files:
      - any-glob-to-any-file:
          - ".taskfiles/**/*"
          - "Taskfile.yaml"

feat: add spegel application resources including HelmRelease, OCIRepository, and Kustomization
  kubernetes/apps/kube-system/kustomization.yaml
  kubernetes/apps/kube-system/spegel/app/helmrelease.yaml
  kubernetes/apps/kube-system/spegel/app/kustomization.yaml
  kubernetes/apps/kube-system/spegel/app/ocirepository.yaml
  kubernetes/apps/kube-system/spegel/ks.yaml
Labels: area/kubernetes

refactor: remove spegel application resources from kustomization
  kubernetes/apps/kube-system/kustomization.yaml
  kubernetes/apps/kube-system/spegel/app/helmrelease.yaml
  kubernetes/apps/kube-system/spegel/app/kustomization.yaml
  kubernetes/apps/kube-system/spegel/app/ocirepository.yaml
  kubernetes/apps/kube-system/spegel/ks.yaml
Labels: area/kubernetes

feat: update radarr configuration with new OCIRepository and refactor environment variables
  kubernetes/apps/default/radarr/app/externalsecret.yaml
  kubernetes/apps/default/radarr/app/helmrelease.yaml
  kubernetes/apps/default/radarr/app/kustomization.yaml
  kubernetes/apps/default/radarr/app/ocirepository.yaml
Labels: area/kubernetes

feat: add registries configuration and restart handler for k3s
  provision/ansible/roles/k3s/defaults/main.yaml
  provision/ansible/roles/k3s/handlers/main.yaml
  provision/ansible/roles/k3s/tasks/main.yaml
  provision/ansible/roles/k3s/templates/registries.yaml.j2
Labels: area/ansible

fix: update persistence configuration for radarr to use persistentVolumeClaim with longhorn storage
  kubernetes/apps/default/radarr/app/helmrelease.yaml
Labels: area/kubernetes

feat: add blackbox-exporter
  kubernetes/apps/monitor/blackbox-exporter/app/grafanadashboard.yaml
  kubernetes/apps/monitor/blackbox-exporter/app/helmrelease.yaml
  kubernetes/apps/monitor/blackbox-exporter/app/kustomization.yaml
  kubernetes/apps/monitor/blackbox-exporter/app/ocirepository.yaml
  kubernetes/apps/monitor/blackbox-exporter/app/probes.yaml
  kubernetes/apps/monitor/blackbox-exporter/ks.yaml
  kubernetes/apps/monitor/kustomization.yaml
Labels: area/kubernetes

fix: correct inputName for prometheus datasource in Grafana dashboard configuration
  kubernetes/apps/monitor/blackbox-exporter/app/grafanadashboard.yaml
Labels: area/kubernetes

fix: correct inputName for prometheus datasource in Grafana dashboard configuration
  kubernetes/apps/monitor/blackbox-exporter/app/grafanadashboard.yaml
Labels: area/kubernetes

feat: add CoreDNS configuration and Kustomization files
  kubernetes/apps/kube-system/coredns/app/configmap.yaml
  kubernetes/apps/kube-system/coredns/app/kustomization.yaml
  kubernetes/apps/kube-system/coredns/ks.yaml
  kubernetes/apps/kube-system/kustomization.yaml
Labels: area/kubernetes

fix: increase tcp_connect timeout and add dnsConfig options
  kubernetes/apps/monitor/blackbox-exporter/app/helmrelease.yaml
Labels: area/kubernetes

chore: remove CoreDNS configuration and related resources
  kubernetes/apps/kube-system/coredns/app/configmap.yaml
  kubernetes/apps/kube-system/coredns/app/kustomization.yaml
  kubernetes/apps/kube-system/coredns/ks.yaml
  kubernetes/apps/kube-system/kustomization.yaml
Labels: area/kubernetes

feat: add CoreDNS configuration and Kustomization files
  kubernetes/apps/kube-system/coredns/app/configmap.yaml
  kubernetes/apps/kube-system/coredns/app/kustomization.yaml
  kubernetes/apps/kube-system/coredns/ks.yaml
  kubernetes/apps/kube-system/kustomization.yaml
Labels: area/kubernetes

chore: remove CoreDNS configuration and related Kustomization files; update blackbox-exporter HelmRelease with dnsPolicy and nameservers
  kubernetes/apps/kube-system/coredns/app/configmap.yaml
  kubernetes/apps/kube-system/coredns/app/kustomization.yaml
  kubernetes/apps/kube-system/coredns/ks.yaml
  kubernetes/apps/kube-system/kustomization.yaml
  kubernetes/apps/monitor/blackbox-exporter/app/helmrelease.yaml
Labels: area/kubernetes

feat: add CoreDNS HelmRelease, OCIRepository, and Kustomization files
  kubernetes/apps/kube-system/coredns/app/helmrelease.yaml
  kubernetes/apps/kube-system/coredns/app/kustomization.yaml
  kubernetes/apps/kube-system/coredns/app/ocirepository.yaml
  kubernetes/apps/kube-system/coredns/ks.yaml
  kubernetes/apps/kube-system/kustomization.yaml
Labels: area/kubernetes

feat: enable CoreDNS in k3s server configuration and add tags for k3s handlers and tasks
  provision/ansible/roles/k3s/defaults/main.yaml
  provision/ansible/roles/k3s/handlers/main.yaml
  provision/ansible/roles/k3s/tasks/main.yaml
Labels: area/ansible

feat: add HorizontalPodAutoscaler and Kustomization for zeroscaler component
  kubernetes/components/zeroscaler/horizontalpodautoscaler.yaml
  kubernetes/components/zeroscaler/kustomization.yaml
Labels: area/kubernetes

feat: update kube-vip configuration to disable load balancer and add tags for k3s tasks
  provision/ansible/roles/k3s/handlers/main.yaml
  provision/ansible/roles/k3s/tasks/main.yaml
  provision/ansible/roles/k3s/templates/kube-vip.yaml.j2
Labels: area/ansible

feat: add npm and pipx tools to mise.toml configuration
  mise.toml
Labels: none

feat: add snapshot-controller HelmRelease, OCIRepository, and Kustomization files
  kubernetes/apps/kube-system/kustomization.yaml
  kubernetes/apps/kube-system/snapshot-controller/app/helmrelease.yaml
  kubernetes/apps/kube-system/snapshot-controller/app/kustomization.yaml
  kubernetes/apps/kube-system/snapshot-controller/app/ocirepository.yaml
  kubernetes/apps/kube-system/snapshot-controller/ks.yaml
Labels: area/kubernetes

feat: add kopia and volsync HelmRelease, OCIRepository, and Kustomization files
  kubernetes/apps/volsync/kopia/app/externalsecret.yaml
  kubernetes/apps/volsync/kopia/app/helmrelease.yaml
  kubernetes/apps/volsync/kopia/app/kustomization.yaml
  kubernetes/apps/volsync/kopia/app/ocirepository.yaml
  kubernetes/apps/volsync/kopia/ks.yaml
  kubernetes/apps/volsync/kustomization.yaml
  kubernetes/apps/volsync/namespace.yaml
  kubernetes/apps/volsync/volsync/app/helmrelease.yaml
  kubernetes/apps/volsync/volsync/app/kustomization.yaml
  kubernetes/apps/volsync/volsync/app/ocirepository.yaml
  kubernetes/apps/volsync/volsync/ks.yaml
Labels: area/kubernetes

feat: add GrafanaDashboard, MutatingAdmissionPolicy, PrometheusRule, and maintenance resources for VolSync
  kubernetes/apps/volsync/volsync/app/grafanadashboard.yaml
  kubernetes/apps/volsync/volsync/app/mutatingadmissionpolicy.yaml
  kubernetes/apps/volsync/volsync/app/prometheusrule.yaml
  kubernetes/apps/volsync/volsync/ks.yaml
  kubernetes/apps/volsync/volsync/maintenance/externalsecret.yaml
  kubernetes/apps/volsync/volsync/maintenance/kopiamaintenance.yaml
  kubernetes/apps/volsync/volsync/maintenance/kustomization.yaml
Labels: area/kubernetes

feat: add initContainers and advancedMounts for kopia HelmRelease configuration
  kubernetes/apps/volsync/kopia/app/helmrelease.yaml
Labels: area/kubernetes

feat: comment out mutatingAdmissionPolicy resource in kustomization.yaml
  kubernetes/apps/volsync/volsync/app/kustomization.yaml
Labels: area/kubernetes

feat: add advancedMounts for init-repo in helmrelease.yaml
  kubernetes/apps/volsync/kopia/app/helmrelease.yaml
Labels: area/kubernetes

feat: add VolSync configuration files including ExternalSecret, PVC, ReplicationDestination, and ReplicationSource
  kubernetes/components/volsync/externalsecret.yaml
  kubernetes/components/volsync/kustomization.yaml
  kubernetes/components/volsync/pvc.yaml
  kubernetes/components/volsync/replicationdestination.yaml
  kubernetes/components/volsync/replicationsource.yaml
Labels: area/kubernetes

feat: remove Radarr resources and add new media namespace and Radarr configuration files
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/default/radarr/app/pvc.yaml
  kubernetes/apps/default/radarr/ks.yaml
  kubernetes/apps/media/kustomization.yaml
  kubernetes/apps/media/namespace.yaml
  kubernetes/apps/media/radarr/app/externalsecret.yaml
  kubernetes/apps/media/radarr/app/helmrelease.yaml
  kubernetes/apps/media/radarr/app/kustomization.yaml
  kubernetes/apps/media/radarr/app/ocirepository.yaml
  kubernetes/apps/media/radarr/ks.yaml
Labels: area/kubernetes

feat: add resources section to kustomization.yaml for media namespace
  kubernetes/apps/media/kustomization.yaml
Labels: area/kubernetes

fix: update sourceRef name to home-kubernetes in ks.yaml
  kubernetes/apps/media/radarr/ks.yaml
Labels: area/kubernetes

fix: update namespace for longhorn dependency in ks.yaml
  kubernetes/apps/media/radarr/ks.yaml
Labels: area/kubernetes

fix: add missing namespace for ConfigMap and Secret in apps.yaml
  kubernetes/flux/apps.yaml
Labels: area/kubernetes

fix: add missing namespace for secretRef in apps.yaml and cluster.yaml
  kubernetes/flux/apps.yaml
  kubernetes/flux/config/cluster.yaml
Labels: area/kubernetes

fix: remove redundant namespace declarations for secretRef in apps.yaml and cluster.yaml
  kubernetes/apps/media/radarr/ks.yaml
  kubernetes/flux/apps.yaml
  kubernetes/flux/config/cluster.yaml
Labels: area/kubernetes

fix: add feature gates for HPAScaleToZero in kube-apiserver and kube-controller-manager
  provision/ansible/roles/k3s/defaults/main.yaml
Labels: area/ansible

fix: update cacheAccessModes to ReadWriteOnce in replicationdestination and replicationsource
  kubernetes/components/volsync/replicationdestination.yaml
  kubernetes/components/volsync/replicationsource.yaml
Labels: area/kubernetes

fix: set namespace to 'media' in namespace.yaml and remove redundant namespace declaration in kustomization.yaml
  kubernetes/apps/media/kustomization.yaml
  kubernetes/apps/media/namespace.yaml
Labels: area/kubernetes

fix: update schema reference in externalsecret.yaml and adjust accessModes in replicationsource.yaml
  kubernetes/components/volsync/externalsecret.yaml
  kubernetes/components/volsync/replicationdestination.yaml
  kubernetes/components/volsync/replicationsource.yaml
Labels: area/kubernetes

fix: comment out radarr resource in kustomization.yaml
  kubernetes/apps/media/kustomization.yaml
Labels: area/kubernetes

fix: uncomment radarr resource in kustomization.yaml
  kubernetes/apps/media/kustomization.yaml
Labels: area/kubernetes

fix: add volumesnapshotclass.yaml and include it in kustomization.yaml
  kubernetes/apps/longhorn/longhorn/app/kustomization.yaml
  kubernetes/apps/longhorn/longhorn/app/volumesnapshotclass.yaml
  kubernetes/apps/longhorn/longhorn/ks.yaml
Labels: area/kubernetes

fix: comment out radarr resource in kustomization.yaml
  kubernetes/apps/media/kustomization.yaml
Labels: area/kubernetes
