Repository MrMarble/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/kubernetes, area/terraform

docs: update table
  docs/src/overview/hardware.md
Labels: none

fix(github-action): update renovatebot/github-action action to v39.1.2
  .github/workflows/schedule-renovate.yaml
Labels: area/github

feat(container): update image ghcr.io/onedr0p/postgres-init to 14.10
  kubernetes/home-cluster/apps/default/immich/app/server/helmrelease.yaml
  kubernetes/home-cluster/apps/default/nextcloud/app/helmrelease.yaml
Labels: area/kubernetes

chore: restic unlock task
  .taskfiles/volsync/Taskfile.yaml
  .taskfiles/volsync/UnlockJob.tmpl.yaml
Labels: none

feat(container): update image ghcr.io/esphome/esphome to 2023.11
  kubernetes/home-cluster/apps/default/esphome/app/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update chart redis to 18.4.0
  kubernetes/home-cluster/apps/database/redis/app/helmrelease.yaml
Labels: area/kubernetes

feat: upgrade talos version
  provision/talos/talconfig.yaml
Labels: none

fix: change promtail image
  kubernetes/home-cluster/apps/monitoring/promtail/app/helmrelease.yaml
Labels: area/kubernetes

chore: upgrade talos
  provision/talos/talconfig.yaml
Labels: none

feat(helm): update chart gitea to 9.6.0
  kubernetes/home-cluster/apps/dev/gitea/app/helmrelease.yaml
Labels: area/kubernetes

chore: node affinity
  kubernetes/home-cluster/apps/democratic-csi/local-hostpath/app/helmrelease.yaml
Labels: area/kubernetes

feat(helm)!: Update chart kube-prometheus-stack to 54.1.0
  kubernetes/home-cluster/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

fix(github-action): update renovatebot/github-action action to v39.1.3
  .github/workflows/schedule-renovate.yaml
Labels: area/github

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to 1.10.4.4084
  kubernetes/home-cluster/apps/default/prowlarr/app/helm-release.yaml
Labels: area/kubernetes

chore: add renovate tag
  kubernetes/home-cluster/apps/default/immich/app/machine-learning/helmrelease.yaml
  kubernetes/home-cluster/apps/default/immich/app/microservices/helmrelease.yaml
  kubernetes/home-cluster/apps/default/immich/app/server/helmrelease.yaml
  kubernetes/home-cluster/apps/default/immich/app/web/helmrelease.yaml
Labels: area/kubernetes

chore(deps): update image ghcr.io/bjw-s/mdbook to
  .github/workflows/deploy-docs.yaml
Labels: area/github

chore(deps): update image ghcr.io/bjw-s/mdbook to
  .github/workflows/deploy-docs.yaml
Labels: area/github

ci(mdbook): upgrade
  .github/renovate.json
  .github/workflows/deploy-docs.yaml
Labels: area/github

ci(mdbook): upgrade
  docs/book.toml
  docs/theme/mdbook-admonish.css
Labels: none

docs: fix broken theme
  docs/book.toml
  docs/src/SUMMARY.md
  docs/src/provision/sidero.md
  docs/theme/catppuccin-admonish.css
  docs/theme/catppuccin.css
  docs/theme/index.hbs
Labels: none

feat(helm)!: Update chart snapshot-controller to 2.0.2
  kubernetes/home-cluster/apps/democratic-csi/snapshot-controller/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/sonarr-develop to 4.0.0.725
  kubernetes/home-cluster/apps/default/sonarr/app/helm-release.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/wizarrrr/wizarr to 3.5.2
  kubernetes/home-cluster/apps/default/wizarr/app/helm-release.yaml
Labels: area/kubernetes

feat(container): update immich group to v1.87.0
  kubernetes/home-cluster/apps/default/immich/app/machine-learning/helmrelease.yaml
  kubernetes/home-cluster/apps/default/immich/app/microservices/helmrelease.yaml
  kubernetes/home-cluster/apps/default/immich/app/server/helmrelease.yaml
  kubernetes/home-cluster/apps/default/immich/app/web/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to 1.10.4.4087
  kubernetes/home-cluster/apps/default/prowlarr/app/helm-release.yaml
Labels: area/kubernetes

fix: remove prometheus dependency
  kubernetes/home-cluster/apps/cert-manager/cert-manager/ks.yaml
Labels: area/kubernetes

chore: add comments for recovery
  kubernetes/home-cluster/apps/database/postgres/cluster/cluster.yaml
Labels: area/kubernetes

feat: block bots
  kubernetes/home-cluster/apps/networking/ingress-nginx/external/helmrelease.yaml
Labels: area/kubernetes

chore: learning modsecurity
  kubernetes/home-cluster/apps/networking/ingress-nginx/external/helmrelease.yaml
Labels: area/kubernetes

chore: learning modsecurity
  kubernetes/home-cluster/apps/networking/ingress-nginx/external/helmrelease.yaml
Labels: area/kubernetes

chore: learning modsecurity
  kubernetes/home-cluster/apps/networking/echo-server/app/helmrelease.yaml
  kubernetes/home-cluster/apps/networking/ingress-nginx/external/config/custom-modsecurity.conf
  kubernetes/home-cluster/apps/networking/ingress-nginx/external/helmrelease.yaml
  kubernetes/home-cluster/apps/networking/ingress-nginx/external/kustomization.yaml
Labels: area/kubernetes

chore(deps): update image ghcr.io/esphome/esphome to
  kubernetes/home-cluster/apps/default/esphome/app/helmrelease.yaml
Labels: area/kubernetes

chore: learning modsecurity
  kubernetes/home-cluster/apps/networking/ingress-nginx/external/config/custom-modsecurity.conf
Labels: area/kubernetes

chore: learning modsecurity
  kubernetes/home-cluster/apps/networking/ingress-nginx/external/config/custom-modsecurity.conf
Labels: area/kubernetes

chore: learning modsecurity
  kubernetes/home-cluster/apps/networking/ingress-nginx/external/config/custom-modsecurity.conf
Labels: area/kubernetes

chore: learning modsecurity
  kubernetes/home-cluster/apps/networking/ingress-nginx/external/config/custom-modsecurity.conf
Labels: area/kubernetes

chore: learning modsecurity
  kubernetes/home-cluster/apps/kyverno/kyverno/policies/add-modsecurity-annotation.yaml
  kubernetes/home-cluster/apps/kyverno/kyverno/policies/kustomization.yaml
Labels: area/kubernetes

chore: rename nginx log variable
  kubernetes/home-cluster/apps/networking/ingress-nginx/external/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/justarchinet/archisteamfarm to 5.5.0.1
  kubernetes/home-cluster/apps/default/archi/app/helm-release.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/onedr0p/radarr-develop to 5.2.1.8276
  kubernetes/home-cluster/apps/default/radarr/app/helm-release.yaml
Labels: area/kubernetes

.github/labeler.yaml:

---
area/github:
  - ".github/**/*"
area/kubernetes:
  - "kubernetes/**/*"
area/terraform:
  - "provision/terraform/**/*"
