Repository MrMarble/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/kubernetes, area/terraform

.github/labeler.yaml:

---
area/github:
  - ".github/**/*"
area/kubernetes:
  - "kubernetes/**/*"
area/terraform:
  - "provision/terraform/**/*"

chore(config): migrate config .github/renovate.json
  .github/renovate.json
Labels: area/github

fix(container): update image public.ecr.aws/docker/library/eclipse-mosquitto to 2.0.17
  kubernetes/home-cluster/apps/default/mosquitto/app/helm-release.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/theme-park to 1.13.11
  kubernetes/home-cluster/apps/default/theme-park/app/helm-release.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/sonarr-develop to 4.0.0.646
  kubernetes/home-cluster/apps/default/sonarr/app/helm-release.yaml
Labels: area/kubernetes

feat(terraform): update terraform cloudflare to 4.13.0
  provision/terraform/cloudflare/.terraform.lock.hcl
  provision/terraform/cloudflare/main.tf
Labels: area/terraform

feat: upgrade qbittools
  kubernetes/home-cluster/apps/default/qbittorrent/ks.yaml
  kubernetes/home-cluster/apps/default/qbittorrent/tools/orphaned/helmrelease.yaml
  kubernetes/home-cluster/apps/default/qbittorrent/tools/orphaned/kustomization.yaml
  kubernetes/home-cluster/apps/default/qbittorrent/tools/reannounce/helmrelease.yaml
  kubernetes/home-cluster/apps/default/qbittorrent/tools/reannounce/kustomization.yaml
  kubernetes/home-cluster/apps/default/qbittorrent/tools/tag/helmrelease.yaml
  kubernetes/home-cluster/apps/default/qbittorrent/tools/tag/kustomization.yaml
Labels: area/kubernetes

feat: configure cross-seed
  kubernetes/home-cluster/apps/default/qbittorrent/app/config/config.js
  kubernetes/home-cluster/apps/default/qbittorrent/app/helmrelease.yaml
  kubernetes/home-cluster/apps/default/qbittorrent/app/kustomization.yaml
Labels: area/kubernetes

fix: repository typo
  kubernetes/home-cluster/apps/default/qbittorrent/ks.yaml
Labels: area/kubernetes

chore: try configmap
  kubernetes/home-cluster/apps/default/qbittorrent/app/kustomization.yaml
Labels: area/kubernetes

feat: configure cross-seed
  kubernetes/home-cluster/apps/default/qbittorrent/app/helmrelease.yaml
  kubernetes/home-cluster/apps/default/qbittorrent/app/kustomization.yaml
Labels: area/kubernetes

feat: update reloader tag
  kubernetes/home-cluster/apps/default/prowlarr/app/helm-release.yaml
Labels: area/kubernetes

fix: wrong path
  kubernetes/home-cluster/apps/default/qbittorrent/ks.yaml
Labels: area/kubernetes

chore: update conifg
  kubernetes/home-cluster/apps/default/qbittorrent/app/config/config.js
Labels: area/kubernetes

feat(container): update image quay.io/thanos/thanos to v0.32.0
  kubernetes/home-cluster/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart kube-prometheus-stack to 48.3.4
  kubernetes/home-cluster/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/buroa/qbittools to v0.5.0
  kubernetes/home-cluster/apps/default/qbittorrent/tools/orphaned/helmrelease.yaml
  kubernetes/home-cluster/apps/default/qbittorrent/tools/reannounce/helmrelease.yaml
  kubernetes/home-cluster/apps/default/qbittorrent/tools/tag/helmrelease.yaml
Labels: area/kubernetes

feat: confirm deletion of orphaned torrents
  kubernetes/home-cluster/apps/default/qbittorrent/tools/orphaned/helmrelease.yaml
Labels: area/kubernetes

chore(deps): update image quay.io/prometheus/alertmanager to
  kubernetes/home-cluster/apps/monitoring/alertmanager/app/helmrelease.yaml
Labels: area/kubernetes

feat(github-release): update fluxcd/flux2 to v2.1.0
  kubernetes/home-cluster/bootstrap/kustomization.yaml
Labels: area/kubernetes

feat(helm): update chart descheduler to 0.28.0
  kubernetes/home-cluster/apps/kube-system/descheduler/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/home-assistant to 2023.8.4
  kubernetes/home-cluster/apps/default/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes

chore(deps): update image quay.io/prometheus/alertmanager to
  kubernetes/home-cluster/apps/monitoring/alertmanager/app/helmrelease.yaml
Labels: area/kubernetes

feat(container)!: Update image ghcr.io/wizarrrr/wizarr to 3.0.1
  kubernetes/home-cluster/apps/default/wizarr/app/helm-release.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/buroa/qbittools to v0.6.2
  kubernetes/home-cluster/apps/default/qbittorrent/tools/orphaned/helmrelease.yaml
  kubernetes/home-cluster/apps/default/qbittorrent/tools/reannounce/helmrelease.yaml
  kubernetes/home-cluster/apps/default/qbittorrent/tools/tag/helmrelease.yaml
Labels: area/kubernetes

fix: wrong argument
  kubernetes/home-cluster/apps/default/qbittorrent/tools/orphaned/helmrelease.yaml
Labels: area/kubernetes

feat: add expired tool
  kubernetes/home-cluster/apps/default/qbittorrent/tools/expired/helmrelease.yaml
  kubernetes/home-cluster/apps/default/qbittorrent/tools/expired/kustomization.yaml
Labels: area/kubernetes

fix: permission errors
  kubernetes/home-cluster/apps/default/wizarr/app/helm-release.yaml
Labels: area/kubernetes

fix: permission errors
  archive/database/redis/app/kustomization.yaml
Labels: none

chore(deps): update image ghcr.io/recyclarr/recyclarr to
  kubernetes/home-cluster/apps/default/recyclarr/app/helm-release.yaml
Labels: area/kubernetes

chore(deps): update image ghcr.io/recyclarr/recyclarr to
  kubernetes/home-cluster/apps/default/recyclarr/app/helm-release.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/buroa/qbittools to v0.8.0
  kubernetes/home-cluster/apps/default/qbittorrent/tools/expired/helmrelease.yaml
  kubernetes/home-cluster/apps/default/qbittorrent/tools/orphaned/helmrelease.yaml
  kubernetes/home-cluster/apps/default/qbittorrent/tools/reannounce/helmrelease.yaml
  kubernetes/home-cluster/apps/default/qbittorrent/tools/tag/helmrelease.yaml
Labels: area/kubernetes

feat: update arguments
  kubernetes/home-cluster/apps/default/qbittorrent/tools/expired/helmrelease.yaml
  kubernetes/home-cluster/apps/default/qbittorrent/tools/expired/kustomization.yaml
  kubernetes/home-cluster/apps/default/qbittorrent/tools/orphaned/helmrelease.yaml
  kubernetes/home-cluster/apps/default/qbittorrent/tools/tag/helmrelease.yaml
Labels: area/kubernetes

chore: fix syntax
  .taskfiles/cluster/Taskfile.yaml
Labels: none

chore(deps): update image ghcr.io/recyclarr/recyclarr to
  kubernetes/home-cluster/apps/default/recyclarr/app/helm-release.yaml
Labels: area/kubernetes

feat(helm): update chart grafana to 6.59.0
  kubernetes/home-cluster/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/benphelps/homepage to v0.6.29
  kubernetes/home-cluster/apps/default/homepage/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/buroa/qbittools to v0.8.2
  kubernetes/home-cluster/apps/default/qbittorrent/tools/orphaned/helmrelease.yaml
  kubernetes/home-cluster/apps/default/qbittorrent/tools/reannounce/helmrelease.yaml
  kubernetes/home-cluster/apps/default/qbittorrent/tools/tag/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart homepage to 1.2.1
  kubernetes/home-cluster/apps/default/homepage/app/helmrelease.yaml
Labels: area/kubernetes

fix(github-action): update renovatebot/github-action action to v39.0.2
  .github/workflows/schedule-renovate.yaml
Labels: area/github

fix: update argument
  kubernetes/home-cluster/apps/default/qbittorrent/tools/orphaned/helmrelease.yaml
Labels: area/kubernetes
