Repository MrMarble/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/kubernetes, area/terraform

chore(Task): add flux test task
  .taskfiles/flux.yml
Labels: none

fix(helm): update chart cilium to 1.14.1
  kubernetes/home-cluster/apps/kube-system/cilium/app/helmrelease.yaml
  provision/talos/integrations/cilium/kustomization.yaml
Labels: area/kubernetes

fix(helm): update chart grafana to 6.58.9
  kubernetes/home-cluster/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes

chore(deps): update image ghcr.io/bjw-s/mdbook to
  .github/workflows/deploy-docs.yaml
Labels: area/github

chore(deps): update image ghcr.io/recyclarr/recyclarr to
  kubernetes/home-cluster/apps/default/recyclarr/app/helm-release.yaml
Labels: area/kubernetes

feat: deploy snapshot controller
  kubernetes/home-cluster/apps/democratic-csi/kustomization.yaml
  kubernetes/home-cluster/apps/democratic-csi/snapshot-controller/app/helmrelease.yaml
  kubernetes/home-cluster/apps/democratic-csi/snapshot-controller/app/kustomization.yaml
  kubernetes/home-cluster/apps/democratic-csi/snapshot-controller/ks.yaml
Labels: area/kubernetes

feat: deploy snapshot controller
  kubernetes/home-cluster/apps/democratic-csi/snapshot-controller/app/helmrelease.yaml
Labels: area/kubernetes

feat: clean volsync file
  kubernetes/home-cluster/apps/default/home-assistant/app/backups/kustomization.yaml
  kubernetes/home-cluster/apps/default/home-assistant/app/backups/secrets.sops.yaml
  kubernetes/home-cluster/apps/default/home-assistant/app/kustomization.yaml
  kubernetes/home-cluster/apps/default/home-assistant/app/volsync.yaml
  kubernetes/home-cluster/apps/default/prowlarr/app/backups/kustomization.yaml
  kubernetes/home-cluster/apps/default/prowlarr/app/backups/secrets.sops.yaml
  kubernetes/home-cluster/apps/default/prowlarr/app/kustomization.yaml
  kubernetes/home-cluster/apps/default/prowlarr/app/volsync.yaml
  kubernetes/home-cluster/apps/default/qbittorrent/app/backups/kustomization.yaml
  kubernetes/home-cluster/apps/default/qbittorrent/app/backups/secrets.sops.yaml
  kubernetes/home-cluster/apps/default/qbittorrent/app/kustomization.yaml
  kubernetes/home-cluster/apps/default/qbittorrent/app/volsync.yaml
  kubernetes/home-cluster/apps/default/sonarr/app/backups/kustomization.yaml
  kubernetes/home-cluster/apps/default/sonarr/app/backups/secrets.sops.yaml
  kubernetes/home-cluster/apps/default/sonarr/app/kustomization.yaml
  kubernetes/home-cluster/apps/default/sonarr/app/volsync.yaml
Labels: area/kubernetes

fix(helm): update chart weave-gitops to 4.0.28
  kubernetes/home-cluster/apps/flux-system/weave-gitops/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image eclipse-mosquitto to 2.0.16
  kubernetes/home-cluster/apps/default/mosquitto/app/helm-release.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/esphome/esphome to 2023.8
  kubernetes/home-cluster/apps/default/esphome/app/helmrelease.yaml
Labels: area/kubernetes

feat: deploy redis
  kubernetes/home-cluster/apps/database/kustomization.yaml
  kubernetes/home-cluster/apps/database/namespace.yaml
  kubernetes/home-cluster/apps/database/redis/app/helmrelease.yaml
  kubernetes/home-cluster/apps/database/redis/app/kustomization.yaml
  kubernetes/home-cluster/apps/database/redis/ks.yaml
  kubernetes/home-cluster/flux/repositories/helm/bitnami.yaml
  kubernetes/home-cluster/flux/repositories/helm/kustomization.yaml
Labels: area/kubernetes

chore(deps): update image ghcr.io/recyclarr/recyclarr to
  kubernetes/home-cluster/apps/default/recyclarr/app/helm-release.yaml
Labels: area/kubernetes

chore(deps): update image quay.io/prometheus/alertmanager to
  kubernetes/home-cluster/apps/monitoring/alertmanager/app/helmrelease.yaml
Labels: area/kubernetes

feat: deploy redis
  kubernetes/home-cluster/apps/database/redis/app/helmrelease.yaml
Labels: area/kubernetes

feat: deploy redis
  kubernetes/home-cluster/flux/repositories/helm/bitnami.yaml
Labels: area/kubernetes

chore(deps): update image quay.io/prometheus/alertmanager to
  kubernetes/home-cluster/apps/monitoring/alertmanager/app/helmrelease.yaml
Labels: area/kubernetes

feat: deploy postgres
  kubernetes/home-cluster/apps/database/postgres/app/helmrelease.yaml
  kubernetes/home-cluster/apps/database/postgres/app/kustomization.yaml
  kubernetes/home-cluster/apps/database/postgres/app/secret.sops.yaml
  kubernetes/home-cluster/apps/database/postgres/cluster/cluster.yaml
  kubernetes/home-cluster/apps/database/postgres/cluster/kustomization.yaml
  kubernetes/home-cluster/apps/database/postgres/cluster/prometheusrule.yaml
  kubernetes/home-cluster/apps/database/postgres/cluster/service.yaml
  kubernetes/home-cluster/apps/database/postgres/ks.yaml
  kubernetes/home-cluster/flux/repositories/helm/cloudnative-pg.yaml
  kubernetes/home-cluster/flux/repositories/helm/kustomization.yaml
Labels: area/kubernetes

fix: namespace name
  kubernetes/home-cluster/apps/database/postgres/app/secret.sops.yaml
Labels: area/kubernetes

fix: namespace name
  kubernetes/home-cluster/apps/database/postgres/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to 1.8.3.3870
  kubernetes/home-cluster/apps/default/prowlarr/app/helm-release.yaml
Labels: area/kubernetes

feat: deploy postgres
  kubernetes/home-cluster/apps/database/postgres/ks.yaml
Labels: area/kubernetes

feat: deploy immich
  kubernetes/home-cluster/apps/default/immich/app/configmap.yaml
  kubernetes/home-cluster/apps/default/immich/app/kustomization.yaml
  kubernetes/home-cluster/apps/default/immich/app/pvc.yaml
  kubernetes/home-cluster/apps/default/immich/app/secret.sops.yaml
  kubernetes/home-cluster/apps/default/immich/app/server/helmrelease.yaml
  kubernetes/home-cluster/apps/default/immich/app/server/kustomization.yaml
  kubernetes/home-cluster/apps/default/immich/app/typesense/helmrelease.yaml
  kubernetes/home-cluster/apps/default/immich/app/typesense/kustomization.yaml
  kubernetes/home-cluster/apps/default/immich/app/web/helmrelease.yaml
  kubernetes/home-cluster/apps/default/immich/app/web/kustomization.yaml
  kubernetes/home-cluster/apps/default/immich/ks.yaml
  kubernetes/home-cluster/apps/default/kustomization.yaml
Labels: area/kubernetes

fix: relative path
  kubernetes/home-cluster/apps/default/immich/app/kustomization.yaml
Labels: area/kubernetes

feat: deploy immich
  kubernetes/home-cluster/apps/default/immich/app/secret.sops.yaml
Labels: area/kubernetes

fix: set namespace
  kubernetes/home-cluster/apps/default/immich/app/secret.sops.yaml
Labels: area/kubernetes

fix: rename secret
  kubernetes/home-cluster/apps/default/immich/app/secret.sops.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/onedr0p/postgres-init to 14.9
  kubernetes/home-cluster/apps/default/immich/app/server/helmrelease.yaml
Labels: area/kubernetes

fix: storage class name
  kubernetes/home-cluster/apps/database/postgres/cluster/cluster.yaml
Labels: area/kubernetes

feat: deploy microservices
  kubernetes/home-cluster/apps/default/immich/app/microservices/helmrelease.yaml
  kubernetes/home-cluster/apps/default/immich/app/microservices/kustomization.yaml
Labels: area/kubernetes

feat: deploy microservices
  kubernetes/home-cluster/apps/default/immich/app/kustomization.yaml
  kubernetes/home-cluster/apps/default/immich/app/web/helmrelease.yaml
Labels: area/kubernetes

feat: deploy immich
  kubernetes/home-cluster/apps/default/immich/app/kustomization.yaml
  kubernetes/home-cluster/apps/default/immich/app/machine-learning/helmrelease.yaml
  kubernetes/home-cluster/apps/default/immich/app/machine-learning/kustomization.yaml
Labels: area/kubernetes

fix: correct dns
  kubernetes/home-cluster/apps/default/immich/app/web/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart redis to 17.15.5
  kubernetes/home-cluster/apps/database/redis/app/helmrelease.yaml
Labels: area/kubernetes

chore(deps): update image ghcr.io/esphome/esphome to
  kubernetes/home-cluster/apps/default/esphome/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/sonarr-develop to 4.0.0.630
  kubernetes/home-cluster/apps/default/sonarr/app/helm-release.yaml
Labels: area/kubernetes

chore(deps): update image quay.io/prometheus/alertmanager to
  kubernetes/home-cluster/apps/monitoring/alertmanager/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/home-assistant to 2023.8.3
  kubernetes/home-cluster/apps/default/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/immich-app/immich-machine-learning to v1.74.0
  kubernetes/home-cluster/apps/default/immich/app/machine-learning/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/immich-app/immich-server to v1.74.0
  kubernetes/home-cluster/apps/default/immich/app/microservices/helmrelease.yaml
  kubernetes/home-cluster/apps/default/immich/app/server/helmrelease.yaml
Labels: area/kubernetes

.github/labeler.yaml:

---
area/github:
  - ".github/**/*"
area/kubernetes:
  - "kubernetes/**/*"
area/terraform:
  - "provision/terraform/**/*"
