Repository MrMarble/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/kubernetes, area/terraform

fix(container): update image ghcr.io/buroa/qbittools to v0.8.3
  kubernetes/home-cluster/apps/default/qbittorrent/tools/orphaned/helmrelease.yaml
  kubernetes/home-cluster/apps/default/qbittorrent/tools/reannounce/helmrelease.yaml
  kubernetes/home-cluster/apps/default/qbittorrent/tools/tag/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to 1.8.5.3885
  kubernetes/home-cluster/apps/default/prowlarr/app/helm-release.yaml
Labels: area/kubernetes

fix(github-action): update renovatebot/github-action action to v39.0.3
  .github/workflows/schedule-renovate.yaml
Labels: area/github

chore(deps): update image ghcr.io/bjw-s/mdbook to
  .github/workflows/deploy-docs.yaml
Labels: area/github

feat(helm): update chart kube-prometheus-stack to 48.6.0
  kubernetes/home-cluster/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/cross-seed/cross-seed to 5.4.1
  kubernetes/home-cluster/apps/default/qbittorrent/app/helmrelease.yaml
Labels: area/kubernetes

chore(deps): update image ghcr.io/recyclarr/recyclarr to
  kubernetes/home-cluster/apps/default/recyclarr/app/helm-release.yaml
Labels: area/kubernetes

chore(deps): update image ghcr.io/recyclarr/recyclarr to
  kubernetes/home-cluster/apps/default/recyclarr/app/helm-release.yaml
Labels: area/kubernetes

feat(container): update image docker.io/cloudflare/cloudflared to 2023.8.1
  kubernetes/home-cluster/apps/networking/cloudflared/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image quay.io/thanos/thanos to v0.32.1
  kubernetes/home-cluster/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart prometheus-node-exporter to 4.22.1
  kubernetes/home-cluster/apps/monitoring/node-exporter/app/helmrelease.yaml
Labels: area/kubernetes

feat(container)!: Update image ghcr.io/onedr0p/radarr-develop to 5.0.0.7952
  kubernetes/home-cluster/apps/default/radarr/app/helm-release.yaml
Labels: area/kubernetes

feat(container): update image rancher/system-upgrade-controller to v0.13.1
  archive/system-upgrade/system-upgrade-controller/kustomization.yaml
Labels: none

fix(container): update image ghcr.io/onedr0p/sonarr-develop to 4.0.0.650
  kubernetes/home-cluster/apps/default/sonarr/app/helm-release.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/cross-seed/cross-seed to 5.4.2
  kubernetes/home-cluster/apps/default/qbittorrent/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to 1.8.5.3890
  kubernetes/home-cluster/apps/default/prowlarr/app/helm-release.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/sonarr-develop to 4.0.0.651
  kubernetes/home-cluster/apps/default/sonarr/app/helm-release.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/qbittorrent to 4.5.5
  kubernetes/home-cluster/apps/default/qbittorrent/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart reloader to 1.0.39
  kubernetes/home-cluster/apps/kube-system/reloader/app/helmrelease.yaml
Labels: area/kubernetes

chore(deps): update image ghcr.io/recyclarr/recyclarr to
  kubernetes/home-cluster/apps/default/recyclarr/app/helm-release.yaml
Labels: area/kubernetes

fix(helm): update chart weave-gitops to 4.0.29
  kubernetes/home-cluster/apps/flux-system/weave-gitops/app/helmrelease.yaml
Labels: area/kubernetes

chore(deps): update image ghcr.io/recyclarr/recyclarr to
  kubernetes/home-cluster/apps/default/recyclarr/app/helm-release.yaml
Labels: area/kubernetes

chore(deps): update image ghcr.io/recyclarr/recyclarr to
  kubernetes/home-cluster/apps/default/recyclarr/app/helm-release.yaml
Labels: area/kubernetes

fix(github-action): update renovatebot/github-action action to v39.0.4
  .github/workflows/schedule-renovate.yaml
Labels: area/github

feat(helm)!: Update chart kube-prometheus-stack to 49.2.0
  kubernetes/home-cluster/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image quay.io/thanos/thanos to v0.32.2
  kubernetes/home-cluster/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image docker.io/cloudflare/cloudflared to 2023.8.2
  kubernetes/home-cluster/apps/networking/cloudflared/app/helmrelease.yaml
Labels: area/kubernetes

refactor: extract pvc
  kubernetes/home-cluster/apps/default/jellyfin/app/helm-release.yaml
  kubernetes/home-cluster/apps/default/kustomization.yaml
  kubernetes/home-cluster/apps/default/media-pvc.yaml
Labels: area/kubernetes

refactor: extract pvc
  kubernetes/home-cluster/apps/default/qbittorrent/app/helmrelease.yaml
  kubernetes/home-cluster/apps/default/qbittorrent/tools/orphaned/helmrelease.yaml
  kubernetes/home-cluster/apps/default/radarr/app/helm-release.yaml
  kubernetes/home-cluster/apps/default/sonarr/app/helm-release.yaml
Labels: area/kubernetes

feat: remove activiy tag
  kubernetes/home-cluster/apps/default/qbittorrent/tools/tag/helmrelease.yaml
Labels: area/kubernetes

fix(github-action): update renovatebot/github-action action to v39.0.5
  .github/workflows/schedule-renovate.yaml
Labels: area/github

feat: use external DNS for pods
  provision/talos/talconfig.yaml
Labels: none

fix(helm): update chart node-feature-discovery to 0.13.4
  kubernetes/home-cluster/apps/kube-system/node-feature-discovery/app/helmrelease.yaml
Labels: area/kubernetes

chore(deps): update image quay.io/prometheus/alertmanager to
  kubernetes/home-cluster/apps/monitoring/alertmanager/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart cert-manager to v1.12.4
  kubernetes/home-cluster/apps/cert-manager/cert-manager/app/helmrelease.yaml
Labels: area/kubernetes

chore(deps): update image ghcr.io/bjw-s/mdbook to
  .github/workflows/deploy-docs.yaml
Labels: area/github

fix(container): update image ghcr.io/onedr0p/sonarr-develop to 4.0.0.657
  kubernetes/home-cluster/apps/default/sonarr/app/helm-release.yaml
Labels: area/kubernetes

chore(deps): update image ghcr.io/recyclarr/recyclarr to
  kubernetes/home-cluster/apps/default/recyclarr/app/helm-release.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/justarchinet/archisteamfarm to 5.4.10.0
  kubernetes/home-cluster/apps/default/archi/app/helm-release.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/radarr-develop to 5.0.1.7993
  kubernetes/home-cluster/apps/default/radarr/app/helm-release.yaml
Labels: area/kubernetes

.github/labeler.yaml:

---
area/github:
  - ".github/**/*"
area/kubernetes:
  - "kubernetes/**/*"
area/terraform:
  - "provision/terraform/**/*"
