Repository MrMarble/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/docs, area/github, area/kubernetes, area/renovate, area/taskfile

Reapply "feat(postgres): switch db to vchord"
  kubernetes/apps/database/postgres/cluster/cluster.yaml
Labels: area/kubernetes

fix(immich-ml) permissions
  kubernetes/apps/default/immich/app/machine-learning/helmrelease.yaml
Labels: area/kubernetes

ci(renovate): schedule to run daily instead of hourly
  .github/workflows/renovate.yaml
Labels: area/github

feat: remove tidarr
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/default/tidarr/app/externalsecret.yaml
  kubernetes/apps/default/tidarr/app/helmrelease.yaml
  kubernetes/apps/default/tidarr/app/kustomization.yaml
  kubernetes/apps/default/tidarr/app/pvc.yaml
  kubernetes/apps/default/tidarr/ks.yaml
Labels: area/kubernetes

update prowlarr base image
  kubernetes/apps/default/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

feat: update radarr base image
  kubernetes/apps/default/radarr-4k/app/helmrelease.yaml
Labels: area/kubernetes

feat: update sonarr base image
  kubernetes/apps/default/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

feat: update radarr base image
  kubernetes/apps/default/radarr-4k/app/helmrelease.yaml
  kubernetes/apps/default/radarr/app/helmrelease.yaml
Labels: area/kubernetes

chore: update debug image
  .taskfiles/debug.yml
Labels: area/taskfile

feat: remove sabnzbd
  kubernetes/apps/default/sabnzbd/app/externalsecret.yaml
  kubernetes/apps/default/sabnzbd/app/helmrelease.yaml
  kubernetes/apps/default/sabnzbd/app/kustomization.yaml
  kubernetes/apps/default/sabnzbd/ks.yaml
Labels: area/kubernetes

feat: remove crowdsec
  kubernetes/apps/network/crowdsec/app/externalsecret.yaml
  kubernetes/apps/network/crowdsec/app/helmrelease.yaml
  kubernetes/apps/network/crowdsec/app/kustomization.yaml
  kubernetes/apps/network/crowdsec/ks.yaml
Labels: area/kubernetes

chore: update cross-seed config
  kubernetes/apps/default/cross-seed/app/externalsecret.yaml
  kubernetes/apps/default/cross-seed/app/helmrelease.yaml
  kubernetes/apps/default/cross-seed/app/kustomization.yaml
  kubernetes/apps/default/cross-seed/app/pvc.yaml
Labels: area/kubernetes

chore: update cross-seed config
  kubernetes/apps/default/cross-seed/app/helmrelease.yaml
Labels: area/kubernetes

chore: update cross-seed config
  kubernetes/apps/default/cross-seed/app/externalsecret.yaml
Labels: area/kubernetes

chore: update cross-seed config
  kubernetes/apps/default/cross-seed/app/externalsecret.yaml
Labels: area/kubernetes

feat: update qbitorrent release
  kubernetes/apps/default/qbittorrent/app/externalsecret.yaml
  kubernetes/apps/default/qbittorrent/app/helmrelease.yaml
  kubernetes/apps/default/qbittorrent/app/kustomization.yaml
  kubernetes/apps/default/qbittorrent/app/resources/post-process.sh
  kubernetes/apps/default/qbittorrent/ks.yaml
Labels: area/kubernetes

feat: use tqm instead of qbtools
  kubernetes/apps/default/qbittorrent/tools/helmrelease.yaml
  kubernetes/apps/default/qbittorrent/tools/qbtools.secret.sops.yaml
  kubernetes/apps/default/tqm/app/helmrelease.yaml
  kubernetes/apps/default/tqm/app/kustomization.yaml
  kubernetes/apps/default/tqm/ks.yaml
Labels: area/kubernetes

feat: use mise
  .envrc
  .gitignore
  mise.toml
Labels: none

feat: configure tqm
  kubernetes/apps/default/cross-seed/app/externalsecret.yaml
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/default/tqm/app/config.sops.yaml
  kubernetes/apps/default/tqm/app/kustomization.yaml
Labels: area/kubernetes

fix: remove qbrr
  kubernetes/apps/default/qbittorrent/app/helmrelease.yaml
Labels: area/kubernetes

fix: remove qbrr
  kubernetes/apps/default/qbittorrent/app/helmrelease.yaml
Labels: area/kubernetes

fix: remove qbrr
  kubernetes/apps/default/qbittorrent/app/helmrelease.yaml
Labels: area/kubernetes

feat: configure tqm
  kubernetes/apps/default/tqm/app/config.sops.yaml
Labels: area/kubernetes

feat: configure tqm
  kubernetes/apps/default/tqm/app/config.sops.yaml
Labels: area/kubernetes

feat: configure tqm
  kubernetes/apps/default/tqm/app/config.sops.yaml
Labels: area/kubernetes

Revert "feat(helm): update chart longhorn ( 1.9.1 → 1.10.0 )"
  kubernetes/apps/longhorn/longhorn/app/helmrelease.yaml
Labels: area/kubernetes

fix: immich cors
  kubernetes/apps/default/immich/app/server/helmrelease.yaml
Labels: area/kubernetes

fix: immich cors
  kubernetes/apps/default/immich/app/server/helmrelease.yaml
Labels: area/kubernetes

Revert "fix(container): update image docker.io/jellyfin/jellyfin ( 10.11.3 → 10.11.5 )"
  kubernetes/apps/default/jellyfin/app/helmrelease.yaml
Labels: area/kubernetes

fix(cluster): restore cluster after moving flats
  kubernetes/apps/database/postgres/cluster/cluster.yaml
Labels: area/kubernetes

fix(cilium): migrate from BGP to L2 announcements
  kubernetes/apps/database/postgres/cluster/service.yaml
  kubernetes/apps/default/jellyfin/app/helmrelease.yaml
  kubernetes/apps/default/qbittorrent/app/helmrelease.yaml
  kubernetes/apps/kube-system/cilium/app/bgppeeringpolicy.yaml
  kubernetes/apps/kube-system/cilium/app/values.yaml
  kubernetes/apps/network/ingress-nginx/external/helmrelease.yaml
  kubernetes/apps/network/ingress-nginx/internal/helmrelease.yaml
  kubernetes/apps/network/k8s-gateway/app/helmrelease.yaml
  mise.toml
Labels: area/kubernetes

feat(qbittorrent, longhorn): add LoadBalancer service type with IP annotations
  kubernetes/apps/default/qbittorrent/app/helmrelease.yaml
  kubernetes/apps/kube-system/cilium/app/bgppeeringpolicy.yaml
  kubernetes/apps/longhorn/longhorn/app/helmrelease.yaml
Labels: area/kubernetes

fix(cilium): rename configMapGenerator from cilium-values to cilium-config
  kubernetes/apps/kube-system/cilium/app/kustomization.yaml
Labels: area/kubernetes

fix(cilium): rename configMapGenerator from cilium-values to cilium-config
  kubernetes/apps/kube-system/cilium/app/kustomization.yaml
Labels: area/kubernetes

fix(cilium): rename configMapGenerator from cilium-values to cilium-config
  kubernetes/apps/kube-system/cilium/app/kustomization.yaml
Labels: area/kubernetes

fix(cilium): migrate from BGP to L2 announcements
  kubernetes/apps/kube-system/cilium/app/helmrelease.yaml
Labels: area/kubernetes

fix(cilium): change loadBalancer mode from dsr to nat
  kubernetes/apps/kube-system/cilium/app/values.yaml
  mise.toml
Labels: area/kubernetes

fix(k8s-gateway): add pod configuration for host networking and DNS policy
  kubernetes/apps/network/k8s-gateway/app/helmrelease.yaml
  kubernetes/apps/network/k8s-gateway/app/kustomization.yaml
Labels: area/kubernetes

fix(cilium): L2 Announcements
  kubernetes/apps/kube-system/cilium/app/bgppeeringpolicy.yaml
  kubernetes/apps/kube-system/cilium/app/helmrelease.yaml
  kubernetes/apps/kube-system/cilium/app/values.yaml
Labels: area/kubernetes

feat(mantainerr): deploy mantainerr
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/default/mantainerr/app/helmrelease.yaml
  kubernetes/apps/default/mantainerr/app/kustomization.yaml
  kubernetes/apps/default/mantainerr/app/pvc.yaml
  kubernetes/apps/default/mantainerr/ks.yaml
Labels: area/kubernetes

.github/labeler.yaml:

---
area/ansible:
  - changed-files:
      - any-glob-to-any-file: "provision/ansible/**/*"
area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "README.md"
          - "docs/**/*"
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
area/renovate:
  - changed-files:
      - any-glob-to-any-file:
          - ".renovate/**/*"
          - ".renovaterc.json5"
area/taskfile:
  - changed-files:
      - any-glob-to-any-file:
          - ".taskfiles/**/*"
          - "Taskfile.yaml"
