Repository MrMarble/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/kubernetes, area/terraform

.github/labeler.yaml:

---
area/github:
  - ".github/**/*"
area/kubernetes:
  - "kubernetes/**/*"
area/terraform:
  - "provision/terraform/**/*"

feat: add to dashboard
  kubernetes/home-cluster/apps/flux-system/weave-gitops/app/helmrelease.yaml
Labels: area/kubernetes

chore: update password
  kubernetes/home-cluster/apps/flux-system/weave-gitops/app/secrets.sops.yaml
Labels: area/kubernetes

feat: deploy scrypted
  kubernetes/home-cluster/apps/default/kustomization.yaml
  kubernetes/home-cluster/apps/default/scrypted/app/helmrelease.yaml
  kubernetes/home-cluster/apps/default/scrypted/app/kustomization.yaml
  kubernetes/home-cluster/apps/default/scrypted/ks.yaml
Labels: area/kubernetes

chore(deps): update image ghcr.io/recyclarr/recyclarr to
  kubernetes/home-cluster/apps/default/recyclarr/app/helm-release.yaml
Labels: area/kubernetes

chore(deps): update image ghcr.io/recyclarr/recyclarr to
  kubernetes/home-cluster/apps/default/recyclarr/app/helm-release.yaml
Labels: area/kubernetes

fix(helm): update chart reloader to 1.0.35
  kubernetes/home-cluster/apps/kube-system/reloader/app/helmrelease.yaml
Labels: area/kubernetes

feat: archive scrypted
  archive/default/scrypted/app/helmrelease.yaml
  archive/default/scrypted/app/kustomization.yaml
  archive/default/scrypted/ks.yaml
  kubernetes/home-cluster/apps/default/kustomization.yaml
Labels: area/kubernetes

chore: replace pre-commit with lefthook
  .lefthook/pre-commit/forbid-plain-secrets
  .pre-commit-config.yaml
  .vscode/extensions.json
  archive/default/scrypted/app/kustomization.yaml
  docs/src/SUMMARY.md
  docs/src/overview/cloud-services.md
  docs/src/overview/hardware.md
  docs/src/provision/sidero.md
  kubernetes/home-cluster/README.md
  lefthook.yml
Labels: area/kubernetes

chore: cleanup
  .sourceignore
  .taskfiles/flux.yml
  .taskfiles/kubectl.yml
  .taskfiles/pre-commit.yml
  .taskfiles/terraform.yml
  Taskfile.yml
  provision/terraform/cloudflare/main.tf
  provision/terraform/cloudflare/records.tf
Labels: area/terraform

chore(deps): update image ghcr.io/recyclarr/recyclarr to
  kubernetes/home-cluster/apps/default/recyclarr/app/helm-release.yaml
Labels: area/kubernetes

chore(deps): update image quay.io/prometheus/alertmanager to
  kubernetes/home-cluster/apps/monitoring/alertmanager/app/helmrelease.yaml
Labels: area/kubernetes

chore(deps): update image quay.io/prometheus/alertmanager to
  kubernetes/home-cluster/apps/monitoring/alertmanager/app/helmrelease.yaml
Labels: area/kubernetes

chore(deps): update image quay.io/prometheus/alertmanager to
  kubernetes/home-cluster/apps/monitoring/alertmanager/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/justarchinet/archisteamfarm to 5.4.9.2
  kubernetes/home-cluster/apps/default/archi/app/helm-release.yaml
Labels: area/kubernetes

feat(helm): update chart prometheus-node-exporter to 4.22.0
  kubernetes/home-cluster/apps/monitoring/node-exporter/app/helmrelease.yaml
Labels: area/kubernetes

chore(deps): update image ghcr.io/recyclarr/recyclarr to
  kubernetes/home-cluster/apps/default/recyclarr/app/helm-release.yaml
Labels: area/kubernetes

fix(github-action): update image ghcr.io/bjw-s/mdbook to 0.4.34
  .github/workflows/deploy-docs.yaml
Labels: area/github

feat: remove nodeselector
  kubernetes/home-cluster/apps/default/jellyfin/app/helm-release.yaml
  kubernetes/home-cluster/apps/default/qbittorrent/app/helmrelease.yaml
Labels: area/kubernetes

feat: update csr-config approver
  kubernetes/home-cluster/apps/kube-system/kubelet-csr-approver/app/values.yaml
  provision/talos/integrations/kubelet-csr-approver/kubelet-csr-approver.yaml
Labels: area/kubernetes

chore(deps): update image ghcr.io/recyclarr/recyclarr to
  kubernetes/home-cluster/apps/default/recyclarr/app/helm-release.yaml
Labels: area/kubernetes

chore(deps): update image ghcr.io/recyclarr/recyclarr to
  kubernetes/home-cluster/apps/default/recyclarr/app/helm-release.yaml
Labels: area/kubernetes

chore(deps): update image quay.io/prometheus/alertmanager to
  kubernetes/home-cluster/apps/monitoring/alertmanager/app/helmrelease.yaml
Labels: area/kubernetes

feat: set nodes as control plane
  provision/talos/apply.sh
  provision/talos/talconfig.yaml
  provision/talos/talenv.sops.yaml
Labels: none

feat: upgrade talos and k8s
  README.md
  provision/talos/talconfig.yaml
Labels: none

feat(talos): install iscsi-tools
  provision/talos/talconfig.yaml
Labels: none

feat: deploy freenas-iscsi
  kubernetes/home-cluster/apps/democratic-csi/freenas-iscsi/app/helmrelease.yaml
  kubernetes/home-cluster/apps/democratic-csi/freenas-iscsi/app/kustomization.yaml
  kubernetes/home-cluster/apps/democratic-csi/freenas-iscsi/app/secret.sops.yaml
  kubernetes/home-cluster/apps/democratic-csi/freenas-iscsi/ks.yaml
  kubernetes/home-cluster/apps/democratic-csi/kustomization.yaml
Labels: area/kubernetes

fix: namespace
  kubernetes/home-cluster/apps/democratic-csi/freenas-iscsi/app/helmrelease.yaml
Labels: area/kubernetes

fix: driver name
  kubernetes/home-cluster/apps/democratic-csi/freenas-iscsi/app/secret.sops.yaml
Labels: area/kubernetes

fix: typo
  kubernetes/home-cluster/apps/democratic-csi/freenas-iscsi/app/secret.sops.yaml
Labels: area/kubernetes

fix(container): update image registry.k8s.io/sig-storage/csi-snapshotter to v6.2.2
  kubernetes/home-cluster/apps/democratic-csi/freenas-iscsi/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to 1.8.2.3844
  kubernetes/home-cluster/apps/default/prowlarr/app/helm-release.yaml
Labels: area/kubernetes

fix: typo
  kubernetes/home-cluster/apps/democratic-csi/freenas-iscsi/app/secret.sops.yaml
Labels: area/kubernetes

fix: use default value
  kubernetes/home-cluster/apps/democratic-csi/freenas-iscsi/app/secret.sops.yaml
Labels: area/kubernetes

feat(prowlarr): use zfs-block
  kubernetes/home-cluster/apps/default/prowlarr/app/helm-release.yaml
Labels: area/kubernetes

fix: use an object
  kubernetes/home-cluster/apps/democratic-csi/freenas-iscsi/app/helmrelease.yaml
Labels: area/kubernetes

feat: set as default class
  kubernetes/home-cluster/apps/democratic-csi/freenas-iscsi/app/helmrelease.yaml
Labels: area/kubernetes

feat: delete snapshot controller
  archive/kube-system/snapshot-controller/app/helmrelease.yaml
  archive/kube-system/snapshot-controller/app/kustomization.yaml
  archive/kube-system/snapshot-controller/ks.yaml
  kubernetes/home-cluster/apps/kube-system/kustomization.yaml
Labels: area/kubernetes

chore: configure schemas
  .vscode/settings.json
Labels: none

chore: remove prowlarr
  kubernetes/home-cluster/apps/default/kustomization.yaml
Labels: area/kubernetes

feat: enable prowlarr
  kubernetes/home-cluster/apps/default/kustomization.yaml
  kubernetes/home-cluster/apps/default/prowlarr/ks.yaml
Labels: area/kubernetes
