Repository MrMarble/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/docs, area/github, area/kubernetes, area/renovate, area/taskfile

.github/labeler.yaml:

---
area/ansible:
  - changed-files:
      - any-glob-to-any-file: "provision/ansible/**/*"
area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "README.md"
          - "docs/**/*"
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
area/renovate:
  - changed-files:
      - any-glob-to-any-file:
          - ".renovate/**/*"
          - ".renovaterc.json5"
area/taskfile:
  - changed-files:
      - any-glob-to-any-file:
          - ".taskfiles/**/*"
          - "Taskfile.yaml"

feat: add janitorr application configuration with HelmRelease, ExternalSecret, OCIRepository, Kustomization, PVC, and related resources
  kubernetes/apps/media/janitorr/app/externalsecret.yaml
  kubernetes/apps/media/janitorr/app/helmrelease.yaml
  kubernetes/apps/media/janitorr/app/kustomization.yaml
  kubernetes/apps/media/janitorr/app/ocirepository.yaml
  kubernetes/apps/media/janitorr/app/pvc.yaml
  kubernetes/apps/media/janitorr/app/resources/application.yaml
  kubernetes/apps/media/janitorr/ks.yaml
  kubernetes/apps/media/kustomization.yaml
Labels: area/kubernetes

fix: correct file extension for application.yml in janitorr kustomization
  kubernetes/apps/media/janitorr/app/kustomization.yaml
Labels: area/kubernetes

fix: update HelmRelease name and chart reference to janitorr
  kubernetes/apps/media/janitorr/app/helmrelease.yaml
Labels: area/kubernetes

fix: update Jellyfin URL to include port number
  kubernetes/apps/media/janitorr/app/resources/application.yaml
Labels: area/kubernetes

fix: adjust movie and season expiration values in application configuration
  kubernetes/apps/media/janitorr/app/resources/application.yaml
Labels: area/kubernetes

fix: update logging level to TRACE and adjust movie expiration values in application configuration
  kubernetes/apps/media/janitorr/app/resources/application.yaml
Labels: area/kubernetes

fix: revert logging level to INFO and adjust movie expiration values in application configuration
  kubernetes/apps/media/janitorr/app/resources/application.yaml
Labels: area/kubernetes

fix: update logging level to TRACE in application configuration
  kubernetes/apps/media/janitorr/app/resources/application.yaml
Labels: area/kubernetes

feat: Fix servarr import dates after nuke
  hack/radarr-fix-dates.yaml
  hack/sonarr-fix-dates.yaml
Labels: none

fix: revert logging level for com.github.schaka to INFO in application configuration
  kubernetes/apps/media/janitorr/app/resources/application.yaml
Labels: area/kubernetes

fix: set dry-run to false in application configuration
  kubernetes/apps/media/janitorr/app/resources/application.yaml
Labels: area/kubernetes

chore: use oci-repository component
  kubernetes/apps/media/brrpolice/app/kustomization.yaml
  kubernetes/apps/media/brrpolice/app/ocirepository.yaml
  kubernetes/apps/media/brrpolice/ks.yaml
  kubernetes/apps/media/janitorr/app/kustomization.yaml
  kubernetes/apps/media/janitorr/app/ocirepository.yaml
  kubernetes/apps/media/janitorr/ks.yaml
  kubernetes/apps/media/jellyfin/app/kustomization.yaml
  kubernetes/apps/media/jellyfin/ks.yaml
  kubernetes/apps/media/profilarr/app/kustomization.yaml
  kubernetes/apps/media/profilarr/app/ocirepository.yaml
  kubernetes/apps/media/profilarr/ks.yaml
  kubernetes/apps/media/prowlarr/app/kustomization.yaml
  kubernetes/apps/media/prowlarr/app/ocirepository.yaml
  kubernetes/apps/media/prowlarr/ks.yaml
  kubernetes/apps/media/qbittorrent/app/kustomization.yaml
  kubernetes/apps/media/qbittorrent/app/ocirepository.yaml
  kubernetes/apps/media/qbittorrent/ks.yaml
  kubernetes/apps/media/qui/app/kustomization.yaml
  kubernetes/apps/media/qui/app/ocirepository.yaml
  kubernetes/apps/media/qui/ks.yaml
  kubernetes/apps/media/radarr/app/kustomization.yaml
  kubernetes/apps/media/radarr/app/ocirepository.yaml
  kubernetes/apps/media/radarr/ks.yaml
  kubernetes/apps/media/seerr/app/kustomization.yaml
  kubernetes/apps/media/seerr/app/ocirepository.yaml
  kubernetes/apps/media/seerr/ks.yaml
  kubernetes/apps/media/sonarr/app/kustomization.yaml
  kubernetes/apps/media/sonarr/app/ocirepository.yaml
  kubernetes/apps/media/sonarr/ks.yaml
  kubernetes/components/common/kustomization.yaml
  kubernetes/components/common/namespace.yaml
  kubernetes/components/common/repos/app-template/kustomization.yaml
  kubernetes/components/common/repos/app-template/ocirepository.yaml
  kubernetes/components/common/repos/kustomization.yaml
  kubernetes/components/common/sops/kustomization.yaml
  kubernetes/components/common/sops/secret.sops.yaml
  kubernetes/components/oci-repository/kustomization.yaml
  kubernetes/components/oci-repository/ocirepository.yaml
Labels: area/kubernetes

feat: upgrade to app-template 5.0
  kubernetes/apps/default/archi/app/helmrelease.yaml
  kubernetes/apps/default/archi/ks.yaml
  kubernetes/apps/default/aurral/app/kustomization.yaml
  kubernetes/apps/default/aurral/app/ocirepository.yaml
  kubernetes/apps/default/aurral/ks.yaml
  kubernetes/apps/default/immich/app/machine-learning/helmrelease.yaml
  kubernetes/apps/default/immich/app/server/helmrelease.yaml
  kubernetes/apps/default/immich/ks.yaml
  kubernetes/apps/default/paperless/app/helmrelease.yaml
  kubernetes/apps/default/paperless/ks.yaml
  kubernetes/apps/default/psitransfer/app/helmrelease.yaml
  kubernetes/apps/default/psitransfer/ks.yaml
  kubernetes/apps/default/slskd/app/kustomization.yaml
  kubernetes/apps/default/slskd/app/ocirepository.yaml
  kubernetes/apps/default/slskd/ks.yaml
  kubernetes/apps/external-secrets/external-secrets/ks.yaml
  kubernetes/apps/external-secrets/external-secrets/stores/onepassword/helmrelease.yaml
  kubernetes/apps/monitor/kromgo/app/helmrelease.yaml
  kubernetes/apps/monitor/kromgo/ks.yaml
  kubernetes/apps/network/cloudflared/app/helmrelease.yaml
  kubernetes/apps/network/cloudflared/ks.yaml
  kubernetes/apps/system-upgrade/system-upgrade-controller/app/helmrelease.yaml
  kubernetes/apps/system-upgrade/system-upgrade-controller/ks.yaml
  kubernetes/apps/volsync/kopia/app/kustomization.yaml
  kubernetes/apps/volsync/kopia/app/ocirepository.yaml
  kubernetes/apps/volsync/kopia/ks.yaml
Labels: area/kubernetes

feat: upgrade app-template to 5.0.1
  kubernetes/components/oci-repository/ocirepository.yaml
Labels: area/kubernetes

chore: use truenas domain name
  kubernetes/apps/default/archi/app/helmrelease.yaml
  kubernetes/apps/default/aurral/app/helmrelease.yaml
  kubernetes/apps/default/immich/app/pvc.yaml
  kubernetes/apps/default/lidarr/app/helmrelease.yaml
  kubernetes/apps/default/navidrome/app/helmrelease.yaml
  kubernetes/apps/default/paperless/app/helmrelease.yaml
  kubernetes/apps/default/psitransfer/app/helmrelease.yaml
  kubernetes/apps/default/slskd/app/helmrelease.yaml
  kubernetes/apps/default/tqm/app/helmrelease.yaml
  kubernetes/apps/volsync/kopia/app/helmrelease.yaml
  kubernetes/apps/volsync/volsync/maintenance/kopiamaintenance.yaml
  kubernetes/components/volsync/replicationdestination.yaml
  kubernetes/components/volsync/replicationsource.yaml
Labels: area/kubernetes

fix!: move to new vlan
  kubernetes/apps/database/postgres/cluster/service.yaml
  kubernetes/apps/default/slskd/app/helmrelease.yaml
  kubernetes/apps/kube-system/cilium/app/bgppeeringpolicy.yaml
  kubernetes/apps/longhorn/longhorn/app/helmrelease.yaml
  kubernetes/apps/media/jellyfin/app/helmrelease.yaml
  kubernetes/apps/media/qbittorrent/app/helmrelease.yaml
  kubernetes/apps/monitor/blackbox-exporter/app/helmrelease.yaml
  kubernetes/apps/network/ingress-nginx/external/helmrelease.yaml
  kubernetes/apps/network/ingress-nginx/internal/helmrelease.yaml
  kubernetes/apps/piraeus/piraeus/app/linstorsatelliteconfig.yaml
Labels: area/kubernetes

fix: correct truenas dns name
  kubernetes/apps/default/archi/app/helmrelease.yaml
  kubernetes/apps/default/aurral/app/helmrelease.yaml
  kubernetes/apps/default/immich/app/pvc.yaml
  kubernetes/apps/default/lidarr/app/helmrelease.yaml
  kubernetes/apps/default/navidrome/app/helmrelease.yaml
  kubernetes/apps/default/paperless/app/helmrelease.yaml
  kubernetes/apps/default/psitransfer/app/helmrelease.yaml
  kubernetes/apps/default/slskd/app/helmrelease.yaml
  kubernetes/apps/default/tqm/app/helmrelease.yaml
  kubernetes/apps/volsync/kopia/app/helmrelease.yaml
  kubernetes/apps/volsync/volsync/maintenance/kopiamaintenance.yaml
  kubernetes/components/volsync/replicationdestination.yaml
  kubernetes/components/volsync/replicationsource.yaml
Labels: area/kubernetes

chore: update ansible addresses
  provision/ansible/group_vars/all.yaml
  provision/ansible/inventories/hosts.yaml
  provision/ansible/roles/cilium/templates/bgppeeringpoliciy.yaml
Labels: area/ansible

feat: delete unused apps
  kubernetes/apps/default/aurral/app/externalsecret.yaml
  kubernetes/apps/default/aurral/app/helmrelease.yaml
  kubernetes/apps/default/aurral/app/kustomization.yaml
  kubernetes/apps/default/aurral/ks.yaml
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/default/lidarr/app/externalsecret.yaml
  kubernetes/apps/default/lidarr/app/helmrelease.yaml
  kubernetes/apps/default/lidarr/app/kustomization.yaml
  kubernetes/apps/default/lidarr/app/pvc.yaml
  kubernetes/apps/default/lidarr/ks.yaml
  kubernetes/apps/default/navidrome/app/externalsecret.yaml
  kubernetes/apps/default/navidrome/app/helmrelease.yaml
  kubernetes/apps/default/navidrome/app/kustomization.yaml
  kubernetes/apps/default/navidrome/app/pvc.yaml
  kubernetes/apps/default/navidrome/ks.yaml
  kubernetes/apps/default/paperless/app/externalsecret.yaml
  kubernetes/apps/default/paperless/app/helmrelease.yaml
  kubernetes/apps/default/paperless/app/kustomization.yaml
  kubernetes/apps/default/paperless/app/pvc.yaml
  kubernetes/apps/default/paperless/ks.yaml
  kubernetes/apps/default/slskd/app/externalsecret.yaml
  kubernetes/apps/default/slskd/app/helmrelease.yaml
  kubernetes/apps/default/slskd/app/kustomization.yaml
  kubernetes/apps/default/slskd/ks.yaml
  kubernetes/apps/default/tqm/app/config.sops.yaml
  kubernetes/apps/default/tqm/app/helmrelease.yaml
  kubernetes/apps/default/tqm/app/kustomization.yaml
  kubernetes/apps/default/tqm/ks.yaml
Labels: area/kubernetes

feat: add internal dns
  kubernetes/apps/kube-system/coredns/app/helmrelease.yaml
Labels: area/kubernetes

feat: detach pvc on pod crash
  kubernetes/apps/longhorn/longhorn/app/helmrelease.yaml
Labels: area/kubernetes

fix: intel gpu plugin crashes
  kubernetes/apps/kube-system/intel-gpu-resource-driver/app/helmrelease.yaml
Labels: area/kubernetes

chore: update node nics
  provision/ansible/inventories/hosts.yaml
  provision/ansible/roles/prerequisites/tasks/main.yaml
Labels: area/ansible

feat: create and export certificate
  kubernetes/apps/network/certificates/export/certificate.yaml
  kubernetes/apps/network/certificates/export/kustomization.yaml
  kubernetes/apps/network/certificates/export/pushsecret.yaml
  kubernetes/apps/network/certificates/import/externalsecret.yaml
  kubernetes/apps/network/certificates/import/kustomization.yaml
  kubernetes/apps/network/certificates/ks.yaml
Labels: area/kubernetes

feat: create and export certificate
  kubernetes/apps/network/kustomization.yaml
Labels: area/kubernetes

feat: update externalsecrets onepassword integration
  kubernetes/apps/external-secrets/external-secrets/app/grafanadashboard.yaml
  kubernetes/apps/external-secrets/external-secrets/app/helmrelease.yaml
  kubernetes/apps/external-secrets/external-secrets/app/kustomization.yaml
  kubernetes/apps/external-secrets/external-secrets/app/ocirepository.yaml
  kubernetes/apps/external-secrets/external-secrets/app/onepassword-connect.secret.sops.yaml
  kubernetes/apps/external-secrets/external-secrets/app/pdb.yaml
  kubernetes/apps/external-secrets/external-secrets/ks.yaml
  kubernetes/apps/external-secrets/external-secrets/stores/kustomization.yaml
  kubernetes/apps/external-secrets/external-secrets/stores/onepassword/helmrelease.yaml
  kubernetes/apps/external-secrets/kustomization.yaml
  kubernetes/apps/external-secrets/onepassword-connect/app/clustersecretstore.yaml
  kubernetes/apps/external-secrets/onepassword-connect/app/externalsecret.yaml
  kubernetes/apps/external-secrets/onepassword-connect/app/helmrelease.yaml
  kubernetes/apps/external-secrets/onepassword-connect/app/kustomization.yaml
  kubernetes/apps/external-secrets/onepassword-connect/app/ocirepository.yaml
  kubernetes/apps/external-secrets/onepassword-connect/ks.yaml
  kubernetes/bootstrap/externalsecrets.yaml
Labels: area/kubernetes

feat: update externalsecrets onepassword integration
  kubernetes/apps/network/certificates/import/kustomization.yaml
Labels: area/kubernetes

feat: update externalsecrets onepassword integration
  kubernetes/apps/monitor/prometheus-operator-crds/ks.yaml
  kubernetes/apps/network/cloudflared/ks.yaml
  kubernetes/apps/network/external-dns/ks.yaml
Labels: area/kubernetes

feat: deploy envoy-gateway
  kubernetes/apps/network/envoy-gateway/app/envoy.yaml
  kubernetes/apps/network/envoy-gateway/app/helmrelease.yaml
  kubernetes/apps/network/envoy-gateway/app/kustomization.yaml
  kubernetes/apps/network/envoy-gateway/app/o11y.yaml
  kubernetes/apps/network/envoy-gateway/app/ocirepository.yaml
  kubernetes/apps/network/envoy-gateway/ks.yaml
  kubernetes/apps/network/kustomization.yaml
Labels: area/kubernetes

feat: update ingress configuration to use envoy-gateway service
  kubernetes/apps/media/radarr/app/helmrelease.yaml
  kubernetes/apps/network/cloudflared/app/resources/config.yaml
Labels: area/kubernetes

feat: refactor ingress to route configuration for multiple applications
  kubernetes/apps/default/archi/app/helmrelease.yaml
  kubernetes/apps/default/immich/app/server/helmrelease.yaml
  kubernetes/apps/default/psitransfer/app/helmrelease.yaml
  kubernetes/apps/media/jellyfin/app/helmrelease.yaml
  kubernetes/apps/media/profilarr/app/helmrelease.yaml
  kubernetes/apps/media/prowlarr/app/helmrelease.yaml
  kubernetes/apps/media/qbittorrent/app/helmrelease.yaml
  kubernetes/apps/media/qui/app/helmrelease.yaml
  kubernetes/apps/media/seerr/app/helmrelease.yaml
  kubernetes/apps/media/sonarr/app/helmrelease.yaml
  kubernetes/apps/monitor/gatus/app/helmrelease.yaml
  kubernetes/apps/monitor/kromgo/app/helmrelease.yaml
  kubernetes/apps/network/ingress-nginx/certificates/certificates.yaml
  kubernetes/apps/network/ingress-nginx/certificates/kustomization.yaml
  kubernetes/apps/network/ingress-nginx/external/helmrelease.yaml
  kubernetes/apps/network/ingress-nginx/external/kustomization.yaml
  kubernetes/apps/network/ingress-nginx/internal/helmrelease.yaml
  kubernetes/apps/network/ingress-nginx/internal/kustomization.yaml
  kubernetes/apps/network/ingress-nginx/ks.yaml
  kubernetes/apps/network/kustomization.yaml
  kubernetes/apps/volsync/kopia/app/helmrelease.yaml
Labels: area/kubernetes

feat: update envoy deployment replicas from 2 to 1
  kubernetes/apps/network/envoy-gateway/app/envoy.yaml
Labels: area/kubernetes

fix: envoy-gateway L2 announcement and route fixes
  kubernetes/apps/media/qbittorrent/app/helmrelease.yaml
  kubernetes/apps/network/cloudflared/app/helmrelease.yaml
  kubernetes/apps/network/envoy-gateway/app/envoy.yaml
Labels: area/kubernetes

feat: update external-dns and unifi-dns to use gateway-httproute, remove ingress-nginx resource
  kubernetes/apps/network/external-dns/app/helmrelease.yaml
  kubernetes/apps/network/unifi-dns/app/helmrelease.yaml
  kubernetes/flux/repositories/helm/ingress-nginx.yaml
  kubernetes/flux/repositories/helm/kustomization.yaml
Labels: area/kubernetes

feat: migrate cilium, prometheus, grafana to envoy gateway routes
  kubernetes/apps/kube-system/cilium/app/helmrelease.yaml
  kubernetes/apps/kube-system/cilium/app/ocirepository.yaml
  kubernetes/apps/monitor/grafana/instance/grafana.yaml
  kubernetes/apps/monitor/prometheus/app/helmrelease.yaml
  kubernetes/apps/monitor/prometheus/app/ocirepository.yaml
Labels: area/kubernetes

fix: add ocirepository.yaml to kustomization resources for cilium and prometheus
  kubernetes/apps/kube-system/cilium/app/kustomization.yaml
  kubernetes/apps/monitor/prometheus/app/kustomization.yaml
Labels: area/kubernetes

fix: revert longhorn chart version to 1.10.0
  kubernetes/apps/longhorn/longhorn/app/helmrelease.yaml
Labels: area/kubernetes

fix: update replicaAutoBalance value to string in helmrelease.yaml
  kubernetes/apps/longhorn/longhorn/app/helmrelease.yaml
Labels: area/kubernetes

fix(longhorn): quote all defaultSettings values as strings for 1.10+
  kubernetes/apps/longhorn/longhorn/app/helmrelease.yaml
Labels: area/kubernetes

feat(longhorn): upgrade to 1.11.2
  kubernetes/apps/longhorn/longhorn/app/helmrelease.yaml
Labels: area/kubernetes
